<template>
	<div class="page_wrap">
		<div class="page-title">
			<h2>Assigned Orders</h2>
		</div>
		<div class="chef orders_list">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-md-12">
					<div class="card card-2">
						<div class="card-header">
							<div class="name">
								<h5>Order ID</h5>
								<h3>Client Name</h3>
							</div>
						</div>
						<div class="card-body">
							<div class="order-info">
								<div class="text-group items">
									<p class="label">Items</p>
									<h4><span>2 x Banana Shake</span>, <span>2 x Banana Shake</span> , <span>2 x Banana Shake</span></h4>
								</div>
								<div class="assign-group">
									<div class="text-group time">
										<p class="label">Assigned On</p>
										<h4>9:30am</h4>
									</div>
									<div class="form-group">
										<button class="button button-color-o">Start Order</button>
										<!-- <a href="" class="button button-color-o">View Order</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>