<template>
	<div class="page_wrap">
		<div class="page-title">
			<h2>Order Detail</h2>
		</div>
		<div class="chef orders_list">
			<div class="row">
				<div class="col-xl-12">
					<div class="card card-2">
						<div class="card-header">
							<div class="name">
								<h5>Order Assigned to</h5>
								<h3>Chef Name</h3>
							</div>
							<div class="price">
								<div class="text-group time">
									<p class="label">Assigned On</p>
									<h4>9:30am</h4>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="order-detail">
								<div class="row">
									<div class="col-xl-3">
										<div class="text-group">
											<p class="label">Dummy</p>
											<h4>Dummy Info</h4>
										</div>
									</div>
									<div class="col-xl-3">
										<div class="text-group">
											<p class="label">Dummy</p>
											<h4>Dummy Info</h4>
										</div>
									</div>
									<div class="col-xl-3">
										<div class="text-group">
											<p class="label">Dummy</p>
											<h4>Dummy Info</h4>
										</div>
									</div>
									<div class="col-xl-3">
										<div class="text-group">
											<p class="label">Dummy</p>
											<h4>Dummy Info</h4>
										</div>
									</div>
								</div>
							</div>
							<div class="order_process">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-6">
										<div class="order-info">
											<div class="text-group items order_items">
												<p class="label">Items</p>
												<div class="item">
													<div class="img_box">
														<img src="" alt="">
													</div>
													<div class="item_name">
														<h4><span>Banana Shake</span></h4>
													</div>
													<div class="quity">
														<h4><span>2</span></h4>
													</div>
												</div>
												<div class="item">
													<div class="img_box">
														<img src="" alt="">
													</div>
													<div class="item_name">
														<h4><span>Banana Shake</span></h4>
													</div>
													<div class="quity">
														<h4><span>2</span></h4>
													</div>
												</div>
												<div class="item">
													<div class="img_box">
														<img src="" alt="">
													</div>
													<div class="item_name">
														<h4><span>Banana Shake</span></h4>
													</div>
													<div class="quity">
														<h4><span>2</span></h4>
													</div>
												</div>
												<div class="item">
													<div class="img_box">
														<img src="" alt="">
													</div>
													<div class="item_name">
														<h4><span>Banana Shake</span></h4>
													</div>
													<div class="quity">
														<h4><span>2</span></h4>
													</div>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6">
										<div class="process">
											
											<div class="text-group items">
												<p class="label">Process</p>
											</div>
											<ul>
												<li>
													<div class="o-check-box">
														<input type="checkbox" name="order_process" id="first">
														<label for="first">
															<span class="check-box">
																<i data-feather="check"></i>
															</span>
															<span class="label">Cooking Complete</span>
														</label>
													</div>
												</li>
												<li>
													<div class="o-check-box">
														<input type="checkbox" name="order_process" id="first">
														<label for="first">
															<span class="check-box">
																<i data-feather="check"></i>
															</span>
															<span class="label">Food Packing Done </span>
														</label>
													</div>
												</li>
												<li>
													<div class="o-check-box">
														<input type="checkbox" name="order_process" id="first">
														<label for="first">
															<span class="check-box">
																<i data-feather="check"></i>
															</span>
															<span class="label">Ready To Deliver</span>
														</label>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="order_action">
									<div class="row">
										<div class="col-xl-12">
											<div class="form-group">
												<button class="button button-color-o">Order Ready</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>