<template>
	<div class="page_wrap">
		<div class="page-title">
			<h2>Assign Order</h2>
		</div>
		<div class="chef orders_list">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-md-12" v-for="order in orders">
					<div class="card card-2">
						<div class="card-header">
							<div class="name">
								<h5>Order Id: {{ order.id }}</h5>
								<h3>{{ order.customer.first_name }} </h3>
							</div>
							<div class="price">
								<h5>&nbsp;</h5>
								<h3>${{ order.total_amount }}</h3>
							</div>
						</div>
						<div class="card-body">
							<div class="order-info">
								<div class="text-group items">
									<p class="label">Items</p>
									<h4 v-for="item in order.items_of_order">
										<span>{{ item.title }}</span></h4>
								</div>
								<div class="assign-group">
									<div class="text-group time">
										<p class="label">Order On</p>
										<h4>{{ order.created_at }}</h4>
									</div>
									<div class="form-group">
										<!-- <button class="button button-color-o">Confirm</button> -->
										<select name="" id="" class="form-control">
											<option value="">Assign Chef</option>
											<option value="" v-for="chef in chefs">{{ chef.name}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div> 
		</div>
	</div>

</template>
<script>
import  axios from 'axios';

export default {
  data()
  {
	  return {
      errors:[],
	  orders:[],
	  chefs:[],
	  }
  },
  mounted:function()
  {
	  axios.get('/api/orderstoAssign').then(response=>{
       if(response.data.data=='auth_fail')
	   {
         this.$Router.push('/restaurant/login');
	   }
	   else{
		   this.orders=response.data.data;
           this.chefs=response.data.chef;
	   }
	  }).catch(response=>{

	  })
  }

}
</script>

