<template>
    <div class="page_wrap">
              <div class="page-title">
            <h2>Orders</h2>
        </div>
        <div class="restaurent_filter">
        <!-- <button class="button button_md button-color-o" @click="add">Add</button> -->
            <data-table
                :columns="columns"
                    :data="data"
               @on-table-props-changed="reloadTable"
                :headers="header" class="pagination-links">
            </data-table>
        </div>
    </div>
</template>
<script type="text/javascript">
    import axios from "axios";
import actions from '../../components/actions.vue';
const headers = { "Autherization": "token " + localStorage.getItem('customer_token') }
    export default {
        data() {
  var headers = { 
  "Authorization":'Bearer ' + localStorage.getItem("token")
};            
            return {
             isReload:true,         
                orders: [],
                errors: [],
                    menus: {},
      data:{},
      url:"/api/allOrder",
    tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },
          columns: [
                {
                    label: 'Customer Id',
                    name: 'customer_id',
                    orderable: true,
                },
                {
                    label: 'Quantity',
                    name: 'quantity',
                    orderable: true,
                },
                {
                    label: 'Total',
                    name: 'total_amount',
                    orderable: true,
                },
                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,
            }
        },
        mounted() {
            axios.get('/api/allOrder').then(response => {
                this.orders = response.data.data;
             }).catch(errors => {

            });
        },
   created() {
        this.getData(this.url);
    },     
        methods: {
            fetchMenu(id) {
                this.$router.push('/order/restaurant/' + id + '/menu');
            },
               getData(url = this.url, options = this.tableProps) {
   let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};
                axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                localStorage.setItem('token','');
                 this.$router.push('/restaurant/login');
               }
                console.log(response.data);
                this.data = response.data;
            })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },
        action(data,type) {

           if(type=='update')
           {

             this.$router.push('/restaurant/menu/edit/'+data.slug);
           }
           if(type=='delete')
           {
             this.deleteMenu(data.id, data.thumbnail_pic); 
           }

        },
        }
    }

</script>
