<template>
<div class="container">
   <div class="row">
      <div class="col-md-6 mx-auto mt-5">
         <div class="payment">
            <div class="payment_header">
               <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="content">
               <h1> Success !</h1>
               <p>Your Order has been successfully placed </p>
               <router-link :to="{path:'/'}" class="menu-link">
                                
                                <span class="menu_text">Go to Home</span>
                            </router-link>
            </div>
            
         </div>
      </div>
   </div>
</div>
</template>