<template>

	<section class="check_out_wrap">
 <div class="flash_msg"> 
<FlashMessage :position="'right top'"></FlashMessage>
 </div>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="payment_method">
						<h2>Choose payment method</h2>

						<div class="payment_tabs">
							<div class="row">
								<div class="col-md-4">
									<ul class="nav" id="pmt-tab" role="tablist">
										<!-- <li class="nav-item" role="presentation">
											<a
											class="nav-link active"
											id="scan-tab"
											data-toggle="pill"
											href="#scan"
											role="tab"
											aria-controls="scan"
											aria-selected="true"
											><i class="fa fa-qrcode" aria-hidden="true"></i>
											Scan</a
											>
										</li> -->
										 <li class="nav-item" role="presentation">
											<a
											class="nav-link"
											id="card-tab"
											data-toggle="pill"
											href=""

											><i class="fa fa-credit-card" aria-hidden="true"></i>
											Credit/Debit</a
											>
										</li> 
<!-- 										<li class="nav-item" role="presentation">
											<a
											class="nav-link"
											id="cash-tab"
											data-toggle="pill"
											href="#cash"
											role="tab"
											aria-controls="cash"
											aria-selected="false"
											><i class="fa fa-money" aria-hidden="true"></i>
											Cash</a
											>
										</li>
 -->									</ul>
								</div>
								<div class="col-md-8">
									<div class="right_pmt_info">
										<div class="tab-content" id="pmt-tabContent">
											<div
											class="tab-pane fade show active"
											id="scan"
											role="tabpanel"
											aria-labelledby="scan-tab"
											>
											<div class="accept_pmt">
												<span>we accept</span>
												<picture>
													<img v-bind:src="'/images/GooglePay.png'" />
												</picture>
												<picture>
													<img v-bind:src="'/images/PhonePe.png'" />
												</picture>
												<picture>
													<img v-bind:src="'/images/BHIM.png'" />
												</picture>
											</div>
											<!-- <div class="qr_code">
												<img src="images/qr-code.png" />
											</div> -->
										</div>

										<div
										class=""
										 
										

										>
										<div class="card_form">
											<!-- <div class="accept_pmt">
												<span>we accept</span>
												<picture>
													<img src="images/maestro_v2.webp" />
												</picture>
												<picture>
													<img src="images/amex_v2.webp" />
												</picture>
												<picture>
													<img src="images/rupay_v2.webp" />
												</picture>
												<picture>
													<img src="images/diner_club_v2.webp" />
												</picture>
												<picture>
													<img src="images/sodexo_v3.webp" />
												</picture>
											</div> -->
											<form name="checkout"  @submit.prevent="submit">
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<input
															v-model="card.name"
															name="card_name"
															class="form-control"
															type="text"
															placeholder="name on card"
															/>
															<span v-if="submitted && !$v.card.name.required" class="error-field" >Card Name is required</span>                                    
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<input
															v-model="card.card_no"
															name="card_number"
															class="form-control"
															type="text"
															placeholder="card number"
															/>
															<span v-if="submitted && !$v.card.card_no.required" class="error-field" >Card Number is required
															</span>
															<span v-if="submitted && !$v.card.card_no.numeric" class="error-field" >Card number must be numeric
															</span>    
															<span v-if="submitted && !$v.card.card_no.minLength" class="error-field" >Card number must have 16 digits
															</span> 
															<span v-if="submitted && !$v.card.card_no.maxLength" class="error-field" >Card number must have 16 digits</span>                                   



														</div>
													</div>
													<div class="col-md-8">
														<div class="form-group">
															<input
															v-model="card.exp_month"
															class="form-control"
															name="expiry_month"
															type="text"
															placeholder="Expiry Month (MM)"
															/>
															<span v-if="submitted && !$v.card.exp_month.required" class="error-field" >Exp. month is required
															</span>
															<span v-if="submitted && !$v.card.exp_month.numeric" class="error-field" >Exp. month must be numeric
															</span>											<span v-if="submitted && !$v.card.exp_month.between" class="error-field" >Exp. month can have two digits
															</span>				
															<input
															v-model="card.exp_year"
															name="expiry_year"
															class="form-control"
															type="text"
															placeholder="Expiry Year (YY)"
															/>
															<span v-if="submitted && !$v.card.exp_year.required" class="error-field" >Expiry year is required
															</span>
															<span v-if="submitted && !$v.card.exp_year.numeric" class="error-field" >Expiry year must be numeric
															</span>											<span v-if="submitted && !$v.card.exp_year.between" class="error-field" >Exp. Year can have four digits
															</span>															
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<input
															v-model="card.cvv"
															name="card_cvv"
															class="form-control"
															type="text"
															placeholder="CVV"
															/>
															<span v-if="submitted && !$v.card.cvv.required" class="error-field" >cvv number required
															</span>
															<span v-if="submitted && !$v.card.cvv.numeric" class="error-field" >cvv must be numeric
															</span>
															<span v-if="submitted && !$v.card.cvv.between" class="error-field" >only 3 digits required
															</span>

														</div>
													</div>
													<div class="col-md-12">
														<div class="add_card">
															<input
															class="f_btn"
															type="submit"
															value="checkout"
															/>
														</div>
														<p>
															We accept Credit and Debit Cards from
															Sodexo, Visa, Mastercard, Diners, Rupay,
															American Express & Maestro.
														</p>
													</div>
												</div>
											</form>
										</div>
									</div>
									<div
									class="tab-pane fade"
									id="cash"
									role="tabpanel"
									aria-labelledby="cash-tab"
									>
									<!-- <div class="cod_section">

										<label for="cod">  <input type="radio" id="cod" /> Cash on delivery <i class="fa fa-check-circle" aria-hidden="true"></i>
										</label>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="summary_bar">
			<div class="restaurent_nm">
				<picture><img  v-bind:src="'/images/restaurant_workspace/logo/'+rest.restaurant_logo"
				style="width:42px; height:42px;object-fit: contain;" /></picture>
				<h4>{{ restaurant }}</h4>
			</div>
			<div class="cart_wrap">
				<ul>
					<li v-for="(cart, index) in carts">
						<h4>{{ cart.title }}</h4>
						<div class="cart_right_info">
							<div class="qty_wrap">
								<button type="button">
									<i aria-hidden="true" class="fa fa-minus" @click="decreaseCartItems(index,cart.title, cart.price)"></i>
								</button>
								<input value="" type="number" />
								<button type="button">
									<i aria-hidden="true" class="fa fa-plus"@click="increaseCartItems(index,cart.title,cart.price)" ></i>
								</button>
							</div>
							<span class="price_cart">{{ cart.count }}</span>
						</div>
					</li>
				</ul>
				<div class="any_suggestion">
					<textarea
					placeholder="Any suggestions? We will pass it on..."
					></textarea>
				</div>
				<!-- <div class="apply_coupon">
					<button type="button">
						<img src="images/discount.svg" /> Apply Coupon
					</button>
				</div> -->
				<div
				class="subtotal d-flex align-items-center justify-content-between"
				>
				<h3 class="mb-0">To Pay</h3>
				<span>{{ itemPrice }}</span>
			</div>
		</div>
	</div>
</div>
</div>
</div>

</section>



</template>
<script type="text/javascript">
    var CryptoJS = require("crypto-js");

	import axios from "axios";
	import { required, email, minLength , between , maxLength, numeric } from "vuelidate/lib/validators";
	export default
	{
		data()
		{
			return {
				carts:[],
				totalItems:0,
				itemPrice:0,
				restaurant:'',
				rest:{},
				card:{
					name:"",
					exp_month:"",
					exp_year:"",
					cvv:"",
					card_no:""
				},
				submitted: false
			}
		},
		validations: {
			card: {
				name:{ required },
				exp_month: { required ,numeric , between:between(1,12) },
				exp_year: { required , numeric , between:between(1000,9999) },
				cvv: { required, numeric, between:between(100,999) },
				card_no:{ required , numeric, minLength:minLength(16), maxLength:maxLength(16)  }
			}
		},

		mounted()
		{
			axios.get('/api/getCart').then(response => 
			{

				this.carts = response.data.data;
			    this.restaurant=this.carts[0].restaurant;	
				this.itemPrice=this.carts[0].total;
				this.rest=response.data.rest;
				for(let i=0;i<this.carts.length;i++)
				{
					this.totalItems=parseInt(this.totalItems)+parseInt(this.carts[i].count);
				}
                

			})
			.catch(e => {
//				this.errors.push(e)
})
		},
		methods:{
			submit(){
				this.submitted = true;
				this.$v.$touch();
				if (this.$v.$invalid) {
					return;
				}
let formdata= new FormData();
     let card_no=this.encryptData(this.card.card_no);
     let exp_month=this.encryptData(this.card.exp_month);	 
     let exp_year=this.encryptData(this.card.exp_year);
     let cvv=this.encryptData(this.card.cvv);
	 formdata.append('expiry_month',exp_month);
	 formdata.append('expiry_year',exp_year);				
	formdata.append('card_number',card_no);
	 formdata.append('card_cvv',cvv);
             axios({
					method: 'post',
					url: '/api/placeOrder',
					data: formdata
				}).then(response=>{

					if(response.data.status=='auth_fail')
					{
						this.$router.push('/user/login');
					}
					if(response.data.status=='order_exists')
					{
          this.flashMessage.error({title: 'Warning',message:"Order alredy exists"});
					}
					if(response.data.status=='success')
					{
                       this.$router.push('/customer/order/placed');
					}
					if(response.data.status=='stock_empty')
					{
          this.flashMessage.error({title: 'Warning',message:"Your cart have more items than stock"});
					}

				}).then(error=>{
					//this.flash("Something went wrong" , 'error',{ timeout:500 });

				})
			},
			increaseCartItems(index,element,price)
			{
				this.carts[index]['count']=parseInt(this.carts[index]['count'])+1;
				this.totalItems=parseInt(this.totalItems)+1;
				this.itemPrice=parseInt(this.itemPrice)+parseInt(price);
				let formdata= new FormData();
				formdata.append('total',this.itemPrice);
				let item={};
				item['title']=this.carts[index].title;
				item['count']=this.carts[index]['count'];
				item['menuid']=this.carts[index]['menuid'];
				item['price']=this.itemPrice;
				formdata.append('items',JSON.stringify(item));
				axios.post('/api/addtoCart',formdata).then( 
					response=>
					{
						if(response.data.status=='auth_fail')
						{
							this.$router.push('/user/login');
						}

					}).catch(
					error=>
					{
						this.errors.push(error);
					});


				},
				decreaseCartItems(index ,element,price)
				{

					var price=0;
					this.carts[index]['count']=parseInt(this.carts[index]['count'])-1;
					this.totalItems=parseInt(this.totalItems)-1;
					if(this.carts[index]['count']<=0)
					{
						let formdata=new FormData();
						let item={};
						item=this.carts[index];
						this.itemPrice=this.itemPrice-this.carts[index]['price'];
						formdata.append('total',this.itemPrice);
						formdata.append('items',JSON.stringify(item));       
						axios.post('/api/updateCart',formdata).then( 
							response=>
							{
								if(response.data.status=='auth_fail')
								{
									this.$router.push('/user/login');
								}

							}).catch(
							error=>
							{
								this.errors.push(error);
							});

							this.carts.splice(index,1);

							this.itemPrice=parseInt(this.itemPrice)-price;
							if(this.carts.length<=0)
							{

								axios.post('/api/deleteCart').then( 
									response=>
									{
										if(response.data.status=='auth_fail')
										{
											this.$router.push('/user/login');
										}

									}).catch(
									error=>
									{
										this.errors.push(error);
									});
								}
							}
							else
							{
								this.totalItems=0;
								for(let i=0;i<this.carts.length;i++)
								{
									this.totalItems=parseInt(this.totalItems)+parseInt(this.carts[i]['count']);
									price=price+parseInt(this.carts[i]['price'])*parseInt(this.carts[i]['count']);
								}
								this.itemPrice=price;
								price=0;
								let formdata=new FormData();
								let item={};
								item=this.carts[index];
								formdata.append('total',this.itemPrice);
								formdata.append('items',JSON.stringify(item));       
								axios.post('/api/updateCart',formdata).then( 
									response=>
									{
										if(response.data.status=='auth_fail')
										{
											this.$router.push('/user/login');
										}

									}).catch(
									error=>
									{
										this.errors.push(error);
									});
								}


							},
	encryptData(data)
	{

let iv = CryptoJS.lib.WordArray.random(16),
key = CryptoJS.enc.Base64.parse('c2ySq2b8hFudef0hQIlk5mWazxU7oeqtYAGq/aHF/jE=');
    let options = {
        iv: iv,
        mode: CryptoJS.mode.CBC,
        padding: CryptoJS.pad.Pkcs7
    };
    let encrypted = CryptoJS.AES.encrypt(data, key, options);
    encrypted = encrypted.toString();
    iv = CryptoJS.enc.Base64.stringify(iv);
    let result = {
        iv: iv,
        value: encrypted,
        mac: CryptoJS.HmacSHA256(iv + encrypted, key).toString()
    }
    result = JSON.stringify(result);
    result = CryptoJS.enc.Utf8.parse(result);
    return  CryptoJS.enc.Base64.stringify(result);
	}						



						}



					}
				</script>