<template>
<div>
	
<button id="stripe">Purchase</button>
</div>	
</template>
<script type="text/javascript">
import axios from 'axios';
export default 
{
 data() 
  {
   return (
   { 
     orders:[],
     errors:[],
     cartId:'',
     restId:'',
     token:''
   })

  },
  mounted()
  {
  this.cartId=this.$route.params.id;
  this.restId=this.$route.params.rest;
  var handler = window.StripeCheckout.configure
  ({
  key: 'pk_test_51IRbFSKpHgZ7nxKRcqpjFwcXoFBx8WRLNLIekkxXpPBeK6NQxfxfOJQCJ6Qn0lkMNAYkLgMTMjSCpImNoiL9uzGf00e7C1Fhnh',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: (token) =>  
  {

     this.token= token.id;

      let formdata = new FormData();
      formdata.append('id',this.cartId);
      formdata.append('token',this.token);
      formdata.append('restId',this.restId); 
     
axios({
  method: 'post',
  url: '/api/placeOrder',
  data: formdata,

      }).then(response=>{

      	  console.log(response);
      }).then( error=>{ 

         console.log(error);
      });

  }
  
  });

// document.getElementById('stripe').addEventListener('click', function(e) 
// {

//   handler.open({
//     name: 'Stripe.com',
//     description: '2 widgets',
//     zipCode: true,
//   });
//   e.preventDefault();
// });

// window.addEventListener('popstate', function() {
//   handler.close();
// });

}

}
</script>