
<template>
<div>

<form method="post" name="menu-form" @submit.prevent="add_to_cart">
 <label v-for="item in menus" :key="item.id">
    <input type="checkbox" class="chk" name="mitem[]" @change="setCheck($event)" v-bind:value="JSON.stringify({ id: item.id , category_id : item.category_id , restaurant_id: item.restaurant_id, price: item.price })"/>
<img  style="width:300px; height:300px ; padding :20px;" v-bind:src="item.thumbnail_pic" >
    <span><strong>Category</strong>{{ item.category }}</span>
    </label>
<button>Add</button>
</form>

</div>
</template>
<script type="text/javascript">
import axios from 'axios';
export default 
{
 data() 
  {
   return (
   { 
     menus:[],
      check:0,
     errors:[]
   })

  },
  mounted()
  {



    axios.get('/api/getMenuByRestaurant/'+this.$route.params.id).then(response => 
    {

      this.menus = response.data.data;

     })
    .catch(e => {
      this.errors.push(e)
    })

  },
  methods:{
    setCheck(e)
    {
      if(e.target.checked)
      {
        this.check=this.check+1;
      }
      else
      {
        this.check=this.check-1;        
      }
    },

   add_to_cart(menu)
   {

      if(this.check>0)
      {
       let form=document.forms.namedItem('menu-form');

       let formdata= new FormData(form);

     axios({
       url:"/api/addtoCart",
       method:"post",
       data:formdata

           }).then(response=>{
      
             
             if(response.data.status=="success")
             {
                 let cart=response.data.data;
                 let rest=response.data.rest_id;
              this.$router.push('/order/placeorder/'+cart+'/'+rest);
             }
           }).catch(errors=>{


           });
     
      }
      else
      {
          alert("Please Select Menu Item");


     }





   }


  }


}

</script>
