<template>
    <div>
        <div v-for="( item , key  ) in restaurants" style="float:left">
            <a @click="fetchMenu(item.id)">
                <img style="width:300px; height:300px ; padding :20px;" v-bind:src="item.profile_img" :key="item.id">
            </a>
        </div>
    </div>
</template>
<script type="text/javascript">
import axios from "axios";
const headers = { "Autherization": "token " + localStorage.getItem('token') }
export default {
    data() {
        return {
            restaurants: [],
            errors: [],
        }
    },
    mounted() {
        axios.get('/api/getRestaurantImg').then(response => {
            this.restaurants = response.data.data;
            console.log(this.restaurants);
        }).catch(errors => {

            alert();
        });
    },
    methods: {
        fetchMenu(id) {
            this.$router.push('/order/restaurant/' + id + '/menu');
        }
    },

  mounted()
  {
    axios.get('/api/getRestaurantImg').then(response=>{
             console.log(response.data);
             if(response.data.status=='faliure')
             {
                this.$router.push('/customer/login');
             }
             this.restaurants=response.data.data;
             

          }).catch(errors=>{

             console.log(errors);
          });

  },
  methods:
  {
  	 fetchMenu(id)
  	 {
       this.$router.push('/order/restaurant/'+id+'/menu');
  	 }
  }
 }


</script>
