<template>
<div>

<div class="page-title"><h2>Add Category</h2></div>
<form name="restaurant-category"  @submit.prevent="submit" class="create-category">
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Parent</label>
    <select class="form-control" name="category" v-model="sub.category">
    <option :value="0"> Select Parent Category</option>  
    <option v-for="item in categories" :key="item.id"  v-bind:value="item.id">{{item.parent_title }}</option>
    </select>

  </div>
   <div class="form-group col-md-6">
    <label for="email">Title</label>
    <input type="text" class="form-control" v-model="sub.title" name="title" id="title_id" placeholder="title">
    <span v-if="submitted && !$v.sub.title.required" class="error-field">Please Enter Title</span>
  </div>  
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="icon"> Icon</label>
    <input type="file" class="form-control" ref="file" name="icon" id="icon_id" placeholder="Icon">
<span v-if="noimg" class="error-field">Please Upload Image</span>
<span v-if="noformat" class="error-field">Image should be in jpg, jpeg, png ,tff format</span>
  </div> 

  <div class="form-group col-md-6">
    <label for="role"> Description</label>
    <textarea class="form-control" v-model="sub.description" name="description" id="description_id" placeholder="Description"></textarea>
  <span v-if="submitted && !$v.sub.description.required" class="error-field">Please Enter Description </span>  
  </div>
</div>
     <div class="form-row">
        <div class="col-md-12">
          <button  class="btn btn-primary">Create</button>
        </div>
     </div>
</form>


</div>
</template>
<script>

import axios from 'axios';
import { required } from "vuelidate/lib/validators";


export default 
{
data() {

    return {
      noimg:false,
      noformat:false,
categories: [],
      errors: [],
      sub:{

        category:0,
        title:"",
        description:"",
        
      },
         submitted:false 
    }

  },
  validations:{
    sub:
    {
     title:{ required },
     description: { required },
    }

  },
  mounted()
  {
    var token=localStorage.getItem('token');
 let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}
    axios.get('/api/getRestaurantCategory',{headers}).then(response => 
    {
      const { data }  = response.data;
      this.categories =data;
      console.log(response.data);
    })
    .catch(e => {
      this.errors.push(e)
    })
  }// mounted close 
  ,
  methods:
  {
    submit(e)
    {
       this.submitted =true;
       this.$v.$touch();
      let file= this.$refs.file.files[0];
       if(this.$v.$invalid)
        {
          if(!file) 
          {
         this.noimg=true;
          }
       else
        {
        this.noimg=false;
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
          
          }

        }

         return ;
       }
      
                 if(!file) 
          {
         this.noimg=true;
           return;
          }
       else
        {
        this.noimg=false;
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
            return ;
          }

        }
       let form = document.forms.namedItem("restaurant-category");
       let formdata= new FormData(form);
       axios.post('/api/createRestaurantSubcategory',formdata).then( 
         response=>
         {
           if(response.data.status=='auth_fail')
           {
             this.$router.push('/restaurant/login');
           }
           if(response.data.status=='validErr')
           {
             if(response.data.data.title)
             {
             // this.$toast.error(response.data.data.title[0]);
          this.flashMessage.success({title: 'error', message: response.data.data.title[0]});                   
             }

             if(response.data.data.parent_title)
             {
          this.flashMessage.success({title: 'error', message: response.data.data.title[0]});
             }
           }
           if(response.data.status=='success')
           {
       var router=this.$router;
                   router.push('/restaurant/category');            
             this.flashMessage.success({title: 'Success', message: 'Record created successfully.'});
             
           }
           if(response.data.status=='faliure')
           {
             this.$toast.error(response.data.status);
           }
            const{ data }=response.data;     
            console.log(response);
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
      

    }
    }
}
</script>