<template>
    <div class="page_wrap">
        <div class="page-title">
            <h2> Category</h2>
        </div>
        <div class="restaurent_filter">
        <button class="button button_md button-color-o" @click="Add">Add</button>
            <data-table 
                v-if="isReload"
                :headers="header"
                :columns="columns"
                    :data="data"
               @on-table-props-changed="reloadTable"

                >

            </data-table>
        </div>
    </div>
    
</template>
<script>
import axios from 'axios';
import actions from '../../components/actions.vue';
const headers = {
    "Authorization": 'Bearer ' + localStorage.getItem("token")
}

export default {
    data() {
        return {
      data:{},
      url:"/api/allRestaurantSubcategory",
            restaurants: {},
            isReload:true,
            errors: [],
             tableProps: {
                search: '',
                length: 50,
                column: 'parent_id',
                dir: 'asc'
            },
            components: 
                        {
                        actions,
                        },
                columns: [
                 {
                    label: 'Category',
                    name: 'parent_title',
                    orderable: true,
                },                
                {
                    label: 'Child Category',
                    name: 'title',
                    orderable: true,
                },

                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,

        }
    },
    mounted() {

    },
    created() {
        this.getData(this.url);
    },
    methods: { getData(url = this.url, options = this.tableProps) {

    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};
                axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                 this.$router.push('/restaurant/login');
               }
               console.log(response.data); 
                this.data = response.data;
            })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },
        action(data,type) {

           if(type=='update')
           {
             this.$router.push('/restaurant/category/edit/'+data.slug);
           }
           if(type=='delete')
           {
             this.deleteSubcategory(data.id); 
           }

        },
        
     Add()
     {
       this.$router.push('/restaurant/category/create');
     }, 
      deleteSubcategory(id) {

            let length = this.restaurants.length;
            let res = this.restaurants;
            var formdata = new FormData();
            formdata.append('id', id);
            axios({
                    method: 'post',
                    url: '/api/deleteRestaurantSubcategory',
                    'headers': headers,
                    data: formdata

                }).then(response => {
                    const { data } = response.data;
        this.getData(this.url);
                })
                .catch(e => {
                    this.errors.push(e)
                })
        } 
        },
       

    }


</script>
