<template>
<div>
  <div class="page-title"><h2>Edit Category</h2></div>
<form name="restaurant-category"  @submit.prevent="submit" class="create-category">
<div class="form-row">
   <div class="form-group col-md-6">
    <label for="name">Restaurant category</label>
    <select class="form-control" name="category">
    <option value="0">Please Select Category</option>  
    <option v-for="item in restaurants" :key="item.id" 
    :selected="item.id == rest.parent_id" 
    v-bind:value="item.id">{{item.parent_title }}</option>
    </select>
  </div> 
 <div class="form-group col-md-6">
    <label for="child"> Title</label>
    <input type="text" class="form-control" v-if="rest.parent_id != 0"   v-model="rest.title" name="title" id="title_id" placeholder="title">
    <input type="text" class="form-control"  v-if ="rest.parent_id == 0"  v-model="rest.parent_title" name="title" id="title_id" placeholder="title">
   </div>     
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="contact"> Icon</label>
    <div class="add-thumnail-img">
      
    <input type="file" ref="file" class="form-control"   name="icon" id="icon_id" placeholder="Icon">
    <span v-if="noformat">Image should be in jpg, jpeg, png ,tff format</span>
    </div>
    
<div class="edit-thumnail-img"  >
    <img v-show="isLoaded" @load="onImgLoad" v-bind:src="'/images/category/' + rest.icon" style="width:42px; height:42px;object-fit: contain;"> 
    <input type="hidden" name="imgicon" v-model="rest.icon">
</div> 
    </div>
    
  <div class="form-group col-md-6">
    <label for="role"> Description</label>
    <textarea class="form-control" v-model="rest.description" name="description" id="role_id" placeholder="Description"></textarea>
  <span v-if="submitted && !$v.rest.description.required" class="error-field">Please Enter Description </span>  
  </div>
</div>
     <div class="form-row">
      <div class="col-md-12">
         <input type="hidden" name="id" v-model="rest.id">  
         
         <button  class="btn btn-primary">Update</button>
      </div>
       
     </div>
</form> 
</div>
</template>
<script>

import axios from 'axios';
import { required } from "vuelidate/lib/validators";
export default 
{
data() {

    return {
restaurants:[],
  errors: [],
    noimg:false,
  noformat:false,     
  isLoaded: false,
  noRecord:false,
  rest:{
     parent_title: "",
     parent_id:"",
     id:"",
     title:"",
    description: "",
  },
  submitted:false     
    
    }
    
    
  },
    validations:{

    rest:
    {
    parent_title:{ required },
     description: { required },
    }

  },

  mounted()
  {
    var token=localStorage.getItem('token');
    const headers={ 
                    "Authorization":'Bearer ' + localStorage.getItem("token")
                  }
    axios.get('/api/getRestaurantCategory/',{headers}).then(response => 
    {
      if(response.data.status=='auth_fail')
      {
        this.$router.push('/restaurant/login');
      }
      const { data }  = response.data;
      this.restaurants =response.data.data;
      console.log(this.restaurants);

    })
    .catch(e => {
      this.errors.push(e)
    })

    axios.get('/api/editRestaurantSubcategory/'+this.$route.params.slug,{headers}).then(response => 
    {

      const { data }  = response.data;
      this.rest =data[0];
      console.log('reest');
      console.log(this.rest);
    })
    .catch(e => {
      this.errors.push(e)
    })

    
  }
  ,
  methods:
  {
    onImgLoad()
    {

     this.isLoaded = true;
    },
    submit()
    {

      this.submitted =true;
       this.$v.$touch();
      let file= this.$refs.file.files[0];
       if(this.$v.$invalid)
        {
            if(file)
            {
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {

            this.noformat=true;
          
          }

            }
          return ;
        }
         if(file)
            {

         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
            return ;
          }
          else
          {
            this.noformat=false;            
          }
            }    
       let form = document.forms.namedItem("restaurant-category");
       let formdata= new FormData(form);
       axios.post('/api/updateRestaurantSubcategory',formdata).then( 
         response=>
         {
            const{ data }=response.data;     
            console.log(response);
           if(response.data.status=="validErr")
           {
             if(response.data.data.parent_title)
             {
          this.flashMessage.error({title: 'Warning', message: response.data.data.parent_title[0]});

             }
            if(response.data.data.title)
             {
          this.flashMessage.error({title: 'Warning', message: response.data.data.title[0]});

             }
            if(response.data.data.description)
             {
          this.flashMessage.error({title: 'Warning', message: response.data.data.description[0]});
            
             }

           }
           if(response.data.status=='success')
           {
          var router=this.$router;
          router.push('/restaurant/category');     
          this.flashMessage.success({title: 'Success', message: 'Record updated successfully.'});
          
           }   
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
      

    }
  }  
}
</script>