*{
	text-decoration: none;
	border:none;
	outline: none;
	box-shadow: none;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	image-rendering: -webkit-optimize-contrast;

}
body{
	font-family: $font;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background-color: #f9f9f9; 
}
.page_layout{
	padding-left: $sidebar-width;
}
.content_wrap{
	min-height: calc(100vh - 70px);
	padding: 40px 30px;
}