	.menu{
	padding: 0px;
	margin: 0px;
	list-style: none;
	&_main{
		flex: 1 1 auto;
		max-width: 100%;
		overflow-y: auto;
	}
	&_bottom{
		flex: 0 0 auto;
		max-width: 100%;
	}
	&-item{
		margin-bottom: 0;
		&:last-child{
			margin-bottom: 0px;
		}
		@media only screen and (max-width: 1366px){
			margin-bottom: 0;
		}
	}
	&-link{
		display: flex;
		align-items: center;
		min-height: 55px;
		padding: 0px 20px;
		font-size: 16px;
		color: $black;
		&:hover{
			text-decoration: none;
		}
		@media only screen and (max-width: 1366px){
			min-height: 50px;
		}
	}
	&_icon{
		width: 42px;
		height: 42px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		img	{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&_text{
		padding-left: 10px;
	}
	&-sub{
		display: block;
		list-style: none;
		padding: 0;
		background-color: transparent;
	}
}

.menu_main{
	.menu{
		.menu-sub{
			.menu-item{
				.menu-sub{
					padding-left: 20px;
				}
			}
		}
	}
}
