aside {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: $sidebar-width;
    background-color: #ffffff;
    border-right: 1px solid $grey-e0;
    .sidebar{
    	&_top{
    		min-height: 100px;
    		background-color: #ffffff;
    		display: flex;
    		flex-wrap: wrap;
    		align-items: center;
    		justify-content: flex-start;
    		padding: 0px 20px;
    		.toggler{
    			width: 42px;
    			height: 42px;
    			color: $black;
    			background: transparent;
    			border: none;
    			svg{
    				width: 24px;
    				height: 24px;
    			}
    		}
    		.logo{
    			&_wrap{
    				flex: 1 1 auto;
    				max-width: 100%;
    				padding-left: 10px;
    				img{
    					max-height: 42px;
    				}
    			}
    		}
    	}
    	&_bottom{
    		height: calc(100% - 100px);
    		padding: 50px 0px 50px; 
    		display: flex;
    		flex-direction: column;
            // background-color: #f7f7f7;
            @media only screen and (max-width: 1366px){
                padding:30px 0px 50px;
            }
            .menu-sub{
                .router-link-active{
                    background-color:$grey-f7;
                    color: $orange;
                    &:hover{
                        color: $orange !important;
                    }
                }
                .menu-link{
                    &:hover{
                        color: inherit;
                         text-decoration: none;
                    }
                    &:focus{
                        text-decoration: none;
                    }
                }
            }
    	}
    }
}