<template>
    <router-view></router-view>        
</template>
<script>
import Header from './components/header.vue'
import Footer from './components/footer.vue'
export default {
  
  mounted() {
            // console.log('Component mounted.')
        }
        
    }
    </script>