<template>
  <div>
     <div class="flash_msg"> 
<FlashMessage :position="'right top'"></FlashMessage>
 </div>
    <header class="front_header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"
            ><img src="/images/logo/logo.png" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="custom_header_search form-inline my-2 my-lg-0 mr-auto">
              <div class="dish">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input
                  class="form-control mr-sm-2"
                  placeholder="Search for restaurant, cuisine or a dish"
                />
              </div>
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button> -->
            </form>
            <ul class="navbar-nav">
              <li class="nav-item" v-show="notloggedin">
                <router-link class="f_line_btn" :to="{ path: '/user/create' }"
                  >Register</router-link
                >
              </li>
              
              <li class="nav-item" v-show="notloggedin">
                <router-link class="f_btn" :to="{ path: '/user/login' }"
                  >Login</router-link>
              </li>
              <li class="nav-item" v-show="loggedin" >
                
        <i class="f_btn"><a class="item" @click="logout"> Logout
       </a></i>
                 
              </li>
              
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section class="banner-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="banner-image">
              <img src="../../public/images/frontend/food-banner-1.png" />
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="banner-image">
              <img src="../../public/images/frontend/food-banner-2.png" />
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="banner-image">
              <img src="../../public/images/frontend/food-banner-3.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="restaurant-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="restarent-name">
              <h3>{{ restaurant.name }}</h3>
              <div class="restarant-address">
                <p>
                  {{ restaurant.location }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="restaurant-reviews">
              <div class="add-share-review">
                <a href="#" class="f_line_btn">Share</a>
                <a href="#" class="f_btn">Add Review</a>
              </div>
              <div class="review-rating">
                <div class="review-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="review-count">
                  <span>4.5</span>
                </div>
              </div>
            </div>
            <div class="restaurant-timimg">
              <span>Open now</span> 11am - 11pm (Today)
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="restaurant-order-list">
      <div class="container">
        <div class="restaurant-top-orders">
          <ul
            class="nav order-tab nav-pills mb-3"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                id="pills-home-tab"
                data-toggle="pill"
                href="#pills-home"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                >Order Online</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="pills-profile-tab"
                data-toggle="pill"
                href="#pills-profile"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
                >Review</a
              >
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="order-names">
                    <ul>
                      <li class="order-item active" v-if="recomended.length">
                        <a href="">Recomended <span>({{ recomended[0].count}})</span></a>
                      </li>                      
                      <li class="order-item active" v-for="(value,key) in category" >
                        <a v-bind:href="'#'+key" >{{ key}} <span>({{ value}})</span></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-6 col-12">
                  <div class="restaurant-order-list">
                    <div class="restaurant-order-heading">
                      <h3>Order Online</h3>
                      <!-- <div class="veg_only">
                        <input type="checkbox" />
                        <span>Veg Only</span>
                      </div> -->
                    </div>

                    <div class="restaurant_recoomended_orders">
                      <h4>Recommended</h4>
                      <div class="order_details" v-for="(item, index) in recomended" :key="item.id">
                        <div class="order_image">   
                          <img style="width:80px; height:80px;"
                          v-bind:src='"/images/Restaurant-Menus/"+item.thumbnail_pic'
                          />
                        </div>
                        <div class="order_desc">
                          <h3>
                            {{ item.title }}
                          </h3>
                          <p>
                            {{ item.description }}
                          </p>
                          <!-- <div class="review-rating">
                            <div class="review-star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            <div class="review-count"><span>4.5</span></div>
                          </div> -->
                        </div>
                        <div class="order_price">
                          <span class="price">${{item.price}}</span>
                          <template v-if="mrest.manage_stock===1 && item.manage_stock === 1">
                          <button v-if="item.stock_quantity >0" @click="addToCart(index,item.id,'recomended')" class="f_line_btn" type="button">Add</button>
                          <span v-if="item.stock_quantity <1" class="">Out of stock</span>
                        </template>
                        <template>
                       <button  @click="addToCart(index,item.id,'recomended')" class="f_line_btn" type="button">Add</button>   
                        </template>
                        </div>
                      </div>
                    </div>
                    <template v-for="(value, key) in category">
                    <div class="restaurant_recoomended_orders" :id="key">
                      <h4>{{key}}</h4>
                      <template v-for="(item, index) in menus">
                         <div class="order_details" v-if='item.category.parent_title == key' :key="item.id">
                          <div class="order_image">   
                          <img style="width:80px; height:80px;" v-bind:src='"/images/Restaurant-Menus/"+item.thumbnail_pic'/>
                        </div>
                        <div class="order_desc">
                          <h3>
                            {{item.title}}
                          </h3>
                          <p>
                           {{item.description}}
                          </p>
                          <!-- <div class="review-rating">
                            <div class="review-star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            <div class="review-count"><span>4.5</span></div>
                          </div> -->
                        </div>
                        <div class="order_price">
                          <span class="price">${{item.price}}</span>
                          <template v-if="mrest.manage_stock===1 && item.manage_stock === 1">
                            <button v-if=" item.stock_quantity >0"  @click="addToCart(index,item.id,'nonrecomended')" 
                            class="f_line_btn" type="button">Add</button>
                        <span v-if="item.stock_quantity <1">Out of stock</span>
                          </template>
                          <template>
                       <button  @click="addToCart(index,item.id,'nonrecomended')" 
                            class="f_line_btn" type="button">Add</button>
                          </template>  
                        </div>

                        </div>
                      </template>


                     <!-- <div  v-for="(item, index) in menus"  class="order_details">
                        <template v-if='item.category.parent_title == key'>
                        <div class="order_image">   
                          <img style="width:80px; height:80px;" v-bind:src='"/images/Restaurant-Menus/"+item.thumbnail_pic'/>
                        </div>
                        <div class="order_desc">
                          <h3>
                            {{item.title}}
                          </h3>
                          <p>
                           {{item.description}}
                          </p>
                          <div class="review-rating">
                            <div class="review-star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            <div class="review-count"><span>4.5</span></div>
                          </div>
                        </div>
                        <div class="order_price">
                          <span class="price">$ {{ item.price }}</span>
                          <button  @click="addToCart(index,item.id,'nonrecomended')" class="f_line_btn" type="button">Add</button>
                        </div>
                        </template>
                      </div>-->
                  </div>
                  </template>
                    
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="cart_wrap">
                    <div class="cart_head">
                      <h3>cart</h3>
                      <span>{{ this.totalItems }} Items</span>
                    </div>
                    <ul>
                      <li v-for="(cart, index) in carts">
                        <h4>{{ cart.title }}</h4>
                        <div class="cart_right_info">
                          <div class="qty_wrap">
                            <button type="button">
                              <i
                                class="fa fa-minus"
                                @click="
                                  decreaseCartItems(
                                    index,
                                    cart.title,
                                    cart.price
                                  )"
                                aria-hidden="true"
                              ></i>
                            </button>
                            <input value="" type="number" />
                            <button type="button">
                              <i
                                class="fa fa-plus"
                                @click="
                                  increaseCartItems(
                                    index,cart.title,
                                    cart.price)"
                                aria-hidden="true"
                              ></i>
                            </button>
                          </div>
                          <span class="price_cart">{{ cart.count }}</span>
                        </div>
                      </li>
                    </ul>
                    <div
                      class="subtotal d-flex align-items-center justify-content-between"
                    >
                      <h3 class="mb-0">Subtotal</h3>
                      <span>${{ this.itemPrice }}</span>
                    </div>
                    <div class="order_now">
                      <!--                       <input type="submit" id="stripe" @click="placeOrder" class="f_btn" value="Order Now" /> -->
                      <router-link
                        class="f_line_btn"
                        :to="{ path: '/user/order/payment' }"
                        >Order Now</router-link
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <div class="client_reviews">
                <div class="reviews_item">
                  <div class="review-rating">
                    <div class="review-star">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="review-count"><span>4.5</span></div>
                  </div>
                  <h4>lorem ipsum dummy text</h4>
                  <span class="review_time">oct 2020</span>
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to
                    using 'Content here, content here', making it look like
                    readable English.
                  </p>
                </div>
                <div class="reviews_item">
                  <div class="review-rating">
                    <div class="review-star">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="review-count"><span>4.5</span></div>
                  </div>
                  <h4>lorem ipsum dummy text</h4>
                  <span class="review_time">oct 2020</span>
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to
                    using 'Content here, content here', making it look like
                    readable English.
                  </p>
                </div>
                <div class="reviews_item">
                  <div class="review-rating">
                    <div class="review-star">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="review-count"><span>4.5</span></div>
                  </div>
                  <h4>lorem ipsum dummy text</h4>
                  <span class="review_time">oct 2020</span>
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to
                    using 'Content here, content here', making it look like
                    readable English.
                  </p>
                </div>
                <div class="reviews_item">
                  <div class="review-rating">
                    <div class="review-star">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="review-count"><span>4.5</span></div>
                  </div>
                  <h4>lorem ipsum dummy text</h4>
                  <span class="review_time">oct 2020</span>
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to
                    using 'Content here, content here', making it look like
                    readable English.
                  </p>
                </div>
                <div class="reviews_item">
                  <div class="review-rating">
                    <div class="review-star">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="review-count"><span>4.5</span></div>
                  </div>
                  <h4>lorem ipsum dummy text</h4>
                  <span class="review_time">oct 2020</span>
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to
                    using 'Content here, content here', making it look like
                    readable English.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
var CryptoJS = require("crypto-js");
import axios from "axios";
import { required, email, minLength , maxLength, numeric } from "vuelidate/lib/validators";
export default 
{
data() {
    return {
      menus: [],
      carts: [],
      totalItems: 0,
      itemPrice: 0,
      errors: [],
      token:'',
      restaurant:{},
      category:{},
      recomended:[],
      notloggedin:false,
      loggedin:false,
      mrest:false,
      rrest:false,
  }
  },
  mounted()
  {
    var token=localStorage.getItem('token');
    if(token==''|| token ==undefined || token==null)
    {
      this.notloggedin=true;
      this.loggedin=false;
    }
    else
    {
           this.notloggedin=false; 
          this.loggedin=true;
    }
    axios.get('/api/reconmendedMenuOfRestaurant').then(response => {
     
      console.log("recomended ");
     this.recomended = response.data.data;
     console.log(this.recomended );
     this.restaurant=response.data.restaurant;
      this.rrest= response.data.restaurant;
    })
    .catch(e => {
      this.errors.push(e)
    }),    
    axios.get('/api/menusOfRestaurant').then(response =>{
      const { data }  = response.data;
       console.log(response.data);
      this.mrest= response.data.restaurant;
      this.menus = response.data.data;
      this.category=response.data.category;
//      console.log(res.data.res);
    })
    .catch(e => {
      this.errors.push(e)
    }),
    axios.get('/api/getCart').then(response =>{
       if(response.data.status=='auth_fail'){
//          this.$router.push('/user/login');
       }

      if(response.data.data)
      {
      this.carts = response.data.data;
      this.itemPrice=parseInt(this.carts[0].total) ? parseInt(this.carts[0].total) : 0 ;
      for(let i=0;i<this.carts.length;i++){
          this.totalItems=parseInt(this.totalItems)+parseInt(this.carts[i].count);
        }        
      }
       })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods:
  {
     addToCart(index,id,type)
     {
        let exist=false;
        if(!localStorage.getItem('token'))
        {
          this.$router.push({ path: '/user/login'});
        }
        if(this.carts.length<=0){
        let item={};
        if(type=='recomended'){
        item['title']=this.recomended[index].title;
        item['count']= 1;
        item['menuid']=id;
        item['price']=parseInt(this.recomended[index].price);
        this.carts.push(item);
        this.totalItems=this.totalItems+1;
        this.itemPrice=parseInt(this.itemPrice)+parseInt(this.recomended[index].price);
        }
        else{
        item['title']=this.menus[index].title;
        item['count']= 1;
        item['menuid']=id;
        item['price']=parseInt(this.menus[index].price);
        this.carts.push(item);
        this.totalItems=this.totalItems+1;

        this.itemPrice=parseInt(this.itemPrice)+parseInt(this.menus[index].price);
        }
        let formdata= new FormData();
        formdata.append('total',this.itemPrice);
        formdata.append('items',JSON.stringify(item));
        axios.post('/api/addtoCart',formdata).then( 
         response=>{
              console.log(response);
            if(response.data.status=='auth_fail'){
              this.$router.push('/user/login');
               }
            if(response.data.status=="stock_empty"){
              this.flashMessage.error({title: 'Warning', message: response.data.msg,time:5000});
            this.totalItems=this.totalItems-1;
            this.itemPrice=parseInt(this.itemPrice)-price;
            this.carts.splice(index);

             }
          })
          .catch((error) => {
            this.errors.push(error);
         });       
      }
      else{
        for(let i=0;i<this.carts.length;i++){
          if(this.carts[i].menuid==id){
              exist=true;
              break;
            }
          }
         if(exist==false){
//           this.totalItems=this.totalItems+1;
            let item={};
        if(type=='recomended'){
        item['title']=this.recomended[index].title;
        item['count']= 1;
        item['menuid']=id;
        item['price']=parseInt(this.recomended[index].price);
        this.carts.push(item);
        this.totalItems=this.totalItems+1;
        this.itemPrice=parseInt(this.itemPrice)+parseInt(this.recomended[index].price);
        }
        else{
        item['title']=this.menus[index].title;
        item['count']= 1;
        item['menuid']=id;
        item['price']=parseInt(this.menus[index].price);
        this.carts.push(item);
        this.totalItems=this.totalItems+1;
        this.itemPrice=parseInt(this.itemPrice)+parseInt(this.menus[index].price);
        }         
         let formdata= new FormData();
         formdata.append('total',this.itemPrice);
         formdata.append('items',JSON.stringify(item));
         axios.post('/api/addtoCart',formdata).then( 
         response=>{
            if(response.data.status=='auth_fail'){
               this.$route.push('/user/login');
            }
                         console.log(response.data);  
            if(response.data.status=="stock_empty"){

            this.totalItems=parseInt(this.totalItems)-1;
            this.itemPrice=parseInt(this.itemPrice)-price;
            this.carts.splice(index,1);
            }
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
         }
      }
    },
    increaseCartItems(index, element, price) {
      this.carts[index]["count"] = parseInt(this.carts[index]["count"]) + 1;
      this.totalItems = parseInt(this.totalItems) + 1;
      this.itemPrice = parseInt(this.itemPrice) + parseInt(price);
      let formdata = new FormData();
      formdata.append("total", this.itemPrice);
      let item = {};
      item["title"] = this.carts[index].title;
      item["count"] = this.carts[index]["count"];
      item["menuid"] = this.carts[index]["menuid"];
      item["price"] = this.itemPrice;
      formdata.append("items", JSON.stringify(item));
      axios.post("/api/addtoCart", formdata)
        .then((response) => {
          if (response.data.status == "auth_fail") {
            this.$router.push("/user/login");
          }
            console.log(this.carts);
          if(response.data.status=="stock_empty"){
            this.totalItems=parseInt(this.totalItems)-1;
            this.carts[index]["count"]=this.carts[index]["count"]-1;
            this.itemPrice=parseInt(this.itemPrice)-price;
       this.flashMessage.error({title: 'Warning', message: response.data.msg,time:5000});
            }
        })
        .catch((error) => {
          this.errors.push(error);
        });
    },
    decreaseCartItems(index, element, price) {
      var price = 0;
      this.carts[index]["count"] = parseInt(this.carts[index]["count"]) - 1;
      this.totalItems = parseInt(this.totalItems) - 1;
      if (this.carts[index]["count"] <= 0) {
        let formdata = new FormData();
        let item = {};
        item = this.carts[index];
        this.itemPrice = this.itemPrice - this.carts[index]["price"];
        formdata.append("total", this.itemPrice);
        formdata.append("items", JSON.stringify(item));
        axios
          .post("/api/updateCart", formdata)
          .then((response) => {
            if (response.data.status == "auth_fail") {
              this.$router.push("/user/login");
            }
            // if(response.data.status=="stock_empty")
            // {
            // this.totalItems=parseInt(this.totalItems)-1;
            // this.itemPrice=parseInt(this.itemPrice)-price;

            // }
          })
          .catch((error) => {
            this.errors.push(error);
          });

        this.carts.splice(index, 1);
        this.itemPrice = parseInt(this.itemPrice) - price;
        if (this.carts.length <= 0) {
          axios
            .post("/api/deleteCart")
            .then((response) => {
              if (response.data.status == "auth_fail") {
                this.$router.push("/user/login");
              }
            })
            .catch((error) => {
              this.errors.push(error);
            });
        }
      } else {
        this.totalItems = 0;
        for (let i = 0; i < this.carts.length; i++) {
          this.totalItems =
            parseInt(this.totalItems) + parseInt(this.carts[i]["count"]);
          price =
            price +
            parseInt(this.carts[i]["price"]) * parseInt(this.carts[i]["count"]);
        }
        this.itemPrice = price;
        price = 0;
        let formdata = new FormData();
        let item = {};
        item = this.carts[index];
        formdata.append("total", this.itemPrice);
        formdata.append("items", JSON.stringify(item));
        axios
          .post("/api/updateCart", formdata)
          .then((response) => {
            if (response.data.status == "auth_fail") {
              this.$route.push("/user/login");
            }
          })
          .catch((error) => {
            this.errors.push(error);
         });
        }


      },
    placeOrder(e)
    {

    if(this.carts.length<=0)
    {
       alert("cart is empty");
       return ;

    }
 var stripe = Stripe('pk_test_51IRbFSKpHgZ7nxKRcqpjFwcXoFBx8WRLNLIekkxXpPBeK6NQxfxfOJQCJ6Qn0lkMNAYkLgMTMjSCpImNoiL9uzGf00e7C1Fhnh');
        fetch('/api/stripeCheckoutSession', {
          method: 'get',
        })
        .then(function(response) {
           console.log(response)
           return response.json();
        })
        .then(function(session) {
           console.log(session);
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
           console.log(result);

     let formdata = new FormData();
     formdata.append('token',this.token);
      axios({
  method: 'post',
  url: '/api/placeOrder',
  data: formdata,

      }).then(response=>{

          console.log(response);
      }).then( error=>{ 

         console.log(error);
      });

          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
  e.preventDefault();


    }
     , 
      logout()
      {
       axios.get('/api/customer/logout').then(response => {
       if(response.data.status=='success')
       {
          localStorage.setItem('token','');
          localStorage.setItem('user','');
       }
       this.$router.push('/user/login');
    })
    .catch(e => {
      this.errors.push(e)
    })
      }
  }  
}
</script>