<template>
  <div>
    <div class="profile_wrap">
      <div class="profile_head">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="basic_profile">
                <picture>
                  <img src="/images/avatar_profile.jpg" alt=""
                /></picture>
                <div class="right_info">
                  <h3>User Name</h3>
                  <a href="#"
                    ><img src="/images/phone_icon.png" alt="" /> +96 38527418</a
                  >
                  <a href="#"
                    ><img src="/images/mailicon.png" alt="" /> mail@mail.com</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 text-right">
              <a data-toggle="modal" data-target="#exampleModal" href="#" class="f_btn">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about_profile_tabs">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="left_bar_tab">
              <a href="#">My orders</a>
              <a  class="active" href="#">payments</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="right_profile_content">
              <h2>Payment</h2>
              <div class="my_payment_mode">
                <h4>saved card</h4>
                <div class="payment_items">
                    <div class="card_icon">
                      <img src="images/visa_v2.webp">
                    </div>
                    <div class="card_number">
                        <h5>4059-XXXXXXXX-5475</h5>
                        <span>VALID TILL 11/2022</span>
                    </div>
                    <a class="f_btn" href="#">Delete</a>
                </div><!--payment_items-->
                <div class="payment_items">
                    <div class="card_icon">
                      <img src="images/visa_v2.webp">
                    </div>
                    <div class="card_number">
                        <h5>4059-XXXXXXXX-5475</h5>
                        <span>VALID TILL 11/2022</span>
                    </div>
                    <a class="f_btn" href="#">Delete</a>
                </div><!--payment_items-->
                <div class="payment_items">
                    <div class="card_icon">
                      <img src="images/visa_v2.webp">
                    </div>
                    <div class="card_number">
                        <h5>4059-XXXXXXXX-5475</h5>
                        <span>VALID TILL 11/2022</span>
                    </div>
                    <a class="f_btn" href="#">Delete</a>
                </div><!--payment_items-->
                <div class="payment_items">
                    <div class="card_icon">
                      <img src="images/visa_v2.webp">
                    </div>
                    <div class="card_number">
                        <h5>4059-XXXXXXXX-5475</h5>
                        <span>VALID TILL 11/2022</span>
                    </div>
                    <a class="f_btn" href="#">Delete</a>
                </div><!--payment_items-->
                <div class="payment_items">
                    <div class="card_icon">
                      <img src="images/visa_v2.webp">
                    </div>
                    <div class="card_number">
                        <h5>4059-XXXXXXXX-5475</h5>
                        <span>VALID TILL 11/2022</span>
                    </div>
                    <a class="f_btn" href="#">Delete</a>
                </div><!--payment_items-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    


<!-- Modal -->
<div class="modal fade side_popup" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <div class="update_profile">
        <form>
            <div class="form-group profile_image_field text-center">
                <input id="update_profile" type="file">
                <label for="update_profile">
                    <div class="update_photo_option">
                        <img src="images/avatar_profile.jpg">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <span>Update your profile photo</span>
                </label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>first name</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>last name</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>phone</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>email </label>
                        <input class="form-control" type="email">
                    </div>
                </div>
                <div class="col-md-12 text-center submit_update">
                <input type="submit" value="update" class="f_btn">
                </div>
            </div>
        </form>
    </div>
      </div>

    </div>
  </div>
</div>


  </div>
</template>