.chef{
	.card{
		&-header{
			h5{
				margin: 0;
				padding: 0;
				font-size: 14px;
				color: $grey-99;
				margin-bottom: 10px;

			}
			h3{
				margin: 0px;
				padding: 0px;
				font-size: 18px;
				color: $black
			}
		}
		&-body{

			.order-info{
				
				.assign-group{
					display: flex;
					justify-content: space-between;
				}
				.form-group{
					margin-bottom: 0px;
					label{
						color: $grey-99;
						font-size: 14px;
					}
				}
			}
			.order-detail{
				margin-bottom: 30px;
			}
			.order_process{

				.order-info{

				}
				.process{
					ul{
						list-style-type: none;
						margin: 0;
						padding: 0;
						li{
							margin-bottom: 10px;
						}
					}
				}
			}
			.order_items{
				.item{
					display: flex;
					flex-wrap: wrap; 
					align-items: center;
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0px;
					}
					.img_box{
						width: 60px;
						height: 60px;
						border-radius: 10px;
						overflow: hidden;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.item_name{
						flex: 1 0;
						max-width: 100%; 
						padding: 0px 30px;
						h4{

						}
					}
					.quity{
						min-width: 100px;
						text-align: center;
						padding: 0px 30px;
					}
				}
			}
			.order_action{
				margin-top: 30px;
				.form-group{
					text-align: right;
				}
			}
		}
	}
}