.restaurent_filter{
    position: relative;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 21px 9px #d6d6d66e;
    .button {
        position: relative;
        right: 25px;
        top: 17px;
        font-size: 16px;
        cursor: pointer;
        float: right;
        min-height: 38px;
        @media only screen and (max-width: 1366px){
            top: 12px;
            min-height:36px;
            min-width: 90px;
        }
    }
    div{
        .row{
            display: block;   
            margin-bottom: 15px;
            .col-md-3{
                flex: inherit;
                max-width: inherit;
                display: inline-block;
                float: none;
                width: auto;
                .form-control{
                    height: 38px;
                    display: block;
                    max-width: 200px;
                    padding: 8px 15px;
                    border-radius: 3px;
                    border: 1px solid #e0e0e0;
                    font-size: 14px;
                    background-color: #ffffff;
                    color: #000000;
                    line-height: normal;
                    @media only screen and (max-width: 1366px){
                        height: 36px;
                    }
                    &:focus{
                        outline: none;
                        box-shadow:none;
                    }
                    &::placeholder{
                        color: #919499;
                    }
                }
            }
            .col-md-3.offset-md-6{
                margin-left: 0;
                display: inline-block;
                float: right;
                width: 50%;
                .form-control{
                        width: 100%;
                        max-width: 350px;
                        float: right;
                        background: #fff;
                        border: 1px solid #e0e0e0;
                        font-size: 14px;
                        @media only screen and (max-width: 1366px){
                            max-width: 300px;
                        }
                }
            }
        }
        .table-responsive{
            background: #fff;
            table{
                margin: 0;
                border:none !important;
                thead{
                    th{
                        vertical-align: middle;
                        background: var(--brand-color);
                        border: none;
                        font-size: 17px;
                        color: #fff;
                        font-weight: 500;
                        direction: rtl;
                        padding-left: 30px;
                        padding-right:30px;
                        @media only screen and (max-width: 1366px){
                            padding-top:8px;
                            padding-bottom: 8px;
                            font-size: 16px;
                        }
                        .filter-desc{
                            border-top:5px solid #e0e0e0 !important;
                            @media only screen and (max-width: 1366px){
                                border-width:4px !important;
                            }
                        }
                        .filter-asc{
                            border-bottom:5px solid #e0e0e0 !important;
                            @media only screen and (max-width: 1366px){
                                border-width:4px !important;
                            }
                        }
                        .active-filter-asc{
                            border-bottom: 5px solid #fff !important;
                        }
                        .active-filter-desc{
                              border-top:5px solid #fff !important;
                        }
                    }
                }
                tbody{
                    td{
                        background-color: #fff;
                        font-size: 15px;
                        vertical-align: middle;
                        padding:11px 30px;
                        color: #000000;
                        border-top:none;
                        border-bottom:1px solid #ebebf2;
                         @media only screen and (max-width: 1366px){
                            padding:9px 30px;
                            font-size: 14px;
                         }
                        div{
                            button{
                                height: 32px;
                                width: 32px;
                                font-size: 0;
                                background:transparent;
                                cursor: pointer;
                                text-align: left;
                                @media only screen and (max-width: 1366px){
                                    width: 19px;
                                    height: 22px;
                                }
                                &:nth-child(1){
                                    padding-left:0;
                                }
                                i{
                                    font-size: 18px;
                                    color: #808080;
                                     @media only screen and (max-width: 1366px){
                                        font-size: 16px;
                                     }
                                }
                                &:hover{
                                    i{
                                        transform: scale(1);
                                    }
                                }
                                &:focus{
                                    outline: none;
                                    box-shadow:none;
                                }
                            }
                        }
                    }
                    tr{
                        &:last-child{
                            td{
                                border:none !important;
                            }
                        }
                    }
                }
            }
            &+div{
            background-color:#ffffff;
            padding:4px 30px;
            border-top:1px solid #ebebf2;
            .d-flex{
                display: flex;
                align-items: center;
                .leading-5{
                    margin-bottom: 0;
                    color: #999999;
                    font-size: 17px;
                }
                .flex{
                    margin-bottom: 0 !important;
                }
                &.justify-content-between{
                    justify-content: space-between;
                }
                .pagination{
                    width: 100%;
                    text-align: right;
                    margin:0;
                    display: flex;
                    align-items:center;
                    .page-item{
                        margin-left: 5px;
                        &.pagination-prev-nav, &.pagination-next-nav{
                            .page-link{
                                color: transparent;
                                background-color: transparent;
                                height: 42px;
                                font-size: 16px;
                                border-radius: 3px;
                                min-width: 30px;
                                width: 30px;
                                position: relative;
                                display: flex;
                                align-items:center;
                                justify-content: center;
                                cursor: pointer;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    border: 2px solid #757575;
                                    width: 10px;
                                    height: 10px;
                                    border-right: none;
                                    border-bottom: none;
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                        &.pagination-next-nav{
                            .page-link{
                                margin-left: 15px;
                                 &::before{
                                 transform:rotate(135deg);
                                }
                            }
                           
                        }
                        &.pagination-prev-nav{
                            .page-link{
                                margin-right: 15px;
                            }
                        }
                        &.active{
                            .page-link{
                                color: #000;
                                background-color: transparent;
                                border:none;
                            }
                        }
                        .page-link{
                             font-size: 17px;
                             color: #999999;
                             border:none;
                             padding:10px 10px;
                             background: transparent; 
                             &:focus{
                                box-shadow:none;
                                outline: none;
                             }
                        }
                    }
                }
            }

        }
        }


    }
    .mb-3.row{
        padding: 18px 127px 18px 10px;
        margin:0 !important;
        @media only screen and (max-width: 1366px){
            padding: 12px 117px 12px 10px;
        }
    }
}