@mixin trans($property) {
	-webkit-transition: $property .3s linear;
	-moz-transition: $property .3s linear;
	-ms-transition: $property .3s linear;
	-o-transition: $property .3s linear;
	transition: $property .3s linear; 
}