.flash_msg{
	._vue{
		&-flash{
			&-msg{
				&-body{
					z-index: 99999;
					&_error{

					}
				}
				&-_right{

					&-bottom{
						// bottom: auto !important;
						// top: 20px;
					}
					&-top{

					}
				}
			}
		}
	}
}
form.create-category{
	.check_boxes{
		input{
			width: auto;
			float: none;
			height: auto !important;
		}
		label{
			margin-bottom: 0;
			width: auto !important;
    		margin-left: 10px;
		}
	}
}


