:root{
	--orange: #e07726;
	--brand-color: var(--orange);
}
// Body
$body-bg: #f8fafc;

// Typography
$font: 'Futura Md BT';

// Colors
$black: #000000;
$grey-99: #999999;
$grey-f7: #f7f7f7;
$grey-e0: #e0e0e0;
$grey-ea: #eaeaea;
$grey-e6: #e6e6e6;
$grey-bf: #bfbfbf;
$grey-eb: #ebebeb;
$grey-50: #808080;
$orange: var(--brand-color);

// Size
$sidebar-width: 260px;
$footer-height: 70px;

// Shadow
$shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
