.button{
	min-height: 42px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $grey-99;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 0px 15px;
	@include trans(all);
	text-decoration: none !important;
	svg{
		display: block;
	}
	&_md{
		min-width: 106px;
	}
	&-color-light{
		background-color: $grey-e6;
		color: $black;
		&:hover{
			color: $black;
			background-color: darken($grey-e6, 10%);
		}
	}
	&-color-o{
		background-color: $orange;
		color: #fff;
		&:hover{
			color: #fff;
			background-color: $orange;
		}
	}
	&_transparent{
		color: $black;
		background-color: transparent;
		svg{
			color: $orange;
		}
		&:hover{
			background-color: $grey-ea;
		}
	}

	&_icon{
		width: 42px;
		height: 42px;
		padding: 8px;
		color: $black;
		min-height: unset;
		&_sm{
			width: 17px;
			height: 17px;
			padding: 0px;
			svg{
				width: 100%;
			}
		}
		&_left{
			svg{
				margin-right: 10px;
			}
		}
		&_grey{
			svg{
				color: $grey-99;
			}
		}
	}
	&:focus,
	&:active{
		outline: none;
	}
}


.create-category{
	button.btn.btn-primary{
		background-color: $orange;
	    border: 1px solid $orange;
	    font-size: 16px;
	    min-height: 45px;
	    min-width: 200px;
	    border-radius: 3px;
	    @media only screen and (max-width: 1366px){
	    	min-width: 180px;
	    }
	    &:focus,&:active{
	    	outline: none;
	    	box-shadow: none !important;
	    	background-color: $orange;
	        border: 1px solid $orange;
	    }
	}
}