.card{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: $shadow;
	// padding: 40px;
	border: none;
	min-height: calc(100% - 26px);
	margin-bottom: 26px;
	&-header{
		background-color: transparent;
		border-color: $grey-f7;
		padding: 20px 30px;
	}
	&-body{
		padding: 20px 30px;

	}

	&-2{
		.card-header{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}