.o{
	&-check{
		&-box{
			display: flex;
			flex-wrap: wrap;
			position: relative;

			input[type="checkbox"]{
				position: absolute;
				z-index: -1;
				opacity: 0;

				&+label{
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 0px;
					.check-box{
						display: block;
						width: 20px;
						height: 20px;
						border-radius: 3px;
						background-color: transparent;
						border: 2px solid $grey-bf;
						color: transparent;
						margin-right: 5px;
						@include trans(all);
						svg{
							width: 100%;
							height: 100%;
							stroke-width: 3px;
						}
						span.label{

						}
					}
				}
				&:checked{
					&+label{
						.check-box{
							background-color: $black;
							border-color: $black;
							color: #fff;
						}
					}
				}
			}
		}
	}
}