.form{
	&-group{
		label{
			display: block;
			width: 100%;
		}
	}
	&_control{
		height: 42px;
		display: block;
		max-width: 200px;
		padding: 10px 20px;
		border-radius: 3px;
		border: 1px solid $grey-e0;
		font-size: 16px;
		background-color: transparent;
	}
}
.create-category{
	background: #fff;
	padding: 38px 20px;
	box-shadow: 0 0 21px 9px #d6d6d66e;
	border-radius: 14px;
	.form-group{
		margin-bottom: 25px;
		padding-left:15px;
		padding-right:15px;
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		label{
			font-size: 16px;
			text-transform: capitalize;
			float: left;
			width: 100%;
			font-weight: 700;
			@media only screen and (max-width: 1366px){
				font-size: 14px;
			}
		}
		input,select,textarea{
			height: 42px !important;
			font-size: 15px;
			border: none;
			box-shadow: none;
			background: transparent;
			border: 1px solid #eaeaea;
			border-radius: 4px;
			float: left;
			width: 100%;
			@media only screen and (max-width: 1366px){
				height: 40px !important;
			}
		}
		textarea{
			resize: none;
		}
		.edit-thumnail-img{
			float: left;
			width: 10%;
			display: flex;
			justify-content: flex-end;
			margin-top: 0px;
			img{
				width: 40px !important;
				height: 40px !important;
			}
		}
		.add-thumnail-img{
			float: left;
			width: 90%;
			padding-right:10px;
		}
		.vc-photoshop{
			background: transparent;
			width: 100%;
			padding: 17px;
			margin-top: 0px;
			min-width: 100%;
			max-width: 100%;
			border: 1px solid #eaeaea;
			box-shadow: none;
			box-sizing:border-box;
			.vc-ps-head{
				background: transparent;
				border: none;
				box-shadow: none;
				font-size: 16px;
			}
			.vc-ps-body{
				flex-wrap: wrap;
				padding-left: 0;
				padding-right: 0;
				padding-top: 7px;
				.vc-ps-saturation-wrap{
					width: 100%;
					height: 120px;
					border: none;
				}
				.vc-ps-hue-wrap{
					width: 100%;
					height: 60px;
					margin: 10px 0;
					border: none;
				}
				.vc-ps-controls{
					width: 100%;
					margin: 10px 0 0px;
					flex-wrap: wrap;
					position: relative;
					.vc-ps-actions{
						margin-left: 0;
						width: 100%;
						flex: 0 0 100%;
						.vc-ps-ac-btn{
							position: absolute;
							top: 61px;
							left: 9%;
							margin: 0;
							width: 100px;
							text-align: center;
							height: 32px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: #303133;
							color: #fff;
							text-transform: uppercase;
							border: none;
							font-size: 13px;
							border-radius: 2px;
							&:nth-child(1){
								top: 21px;
							}
						}
						.vc-ps-fields{
							width: 100%;
							float: left;
							padding: 12px 0 0;
							.vc-editable-input{
								float: left;
								width: 15%;
								display: flex;
								flex-wrap: wrap;
								input{
									float: left;
									width: 100%;
									margin-left: 0;
									text-align: center;
									border:none;
									border-radius:0;
									border-bottom: 1px solid #000;
								}
								.vc-input__label{
									position: relative;
									left: 0;
									top: 0;
									float: left;
									width: 100%;
									text-align: center;
									color: #303133;
									font-weight: 700;
									margin-right: 10px;
								}
							}
							.vc-ps-fields__divider:nth-child(4){
								width: 48px;
								float: left;
							}
						}
					}
				}
			}
		}
	}
	.col-md-12{
		padding-left:15px;
		padding-right: 15px;
	}
	.error-field{
		color: red;
		font-size: 14px;
	}
}
.create-restaurant{
	float: left;
	width: 60%;
	.form-group{
		margin-bottom: 35px;
		label,input{
			float: left;
			width: 100%;
		}
		label{
			margin-bottom: 0;
		}
		input{
			height: 35px;
		}
	}

}


.form-outer{
	padding: 70px;
	height: 100vh;
	display: flex;
	align-items: center;
	.login-form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 600px;
		margin: 0 auto;
		padding: 40px 35px;
		.form-row {
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 700px;
			.form-group.col-md-12 {
				padding:0;
			}
		}
		.page-title.form-row {
			float: left;
			width: 100%;
			max-width: 100%;
			margin-bottom: 45px;
			h2{
				float: left;
				width: 100%;
			}
		}
		.login-btn{
			display: flex;
			justify-content: center;
			margin: 0;
		}
	}
}
.resgister-customer {
	padding: 70px;
	.create-category{
		max-width: 980px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		.form-row {
			float: left;
			width: 100%;
			margin: 0;
		}
		.page-title.form-row{
			margin-bottom: 45px;
		}
	}
}
.text-group{
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0px;
	}
	.label{
		margin-bottom: 5px;
		font-size: 14px;
		color: $grey-99;
	}
	h4{
		margin-bottom: 0px;
		font-size: 15px;
		color: $black;
	}
}