.o-table{
	margin-bottom: 0px;
	&-wrapper{
		background: #fff;
		thead{
			tr{
				th{
					vertical-align: middle;
					background: $grey-eb;
					border: none;
					font-size: 17px;
					color: $grey-99;
					font-weight: 500;
				}
			}
		}
		tr{
			th,td{
				padding: 10px 17px !important;
				.inner-content{
					display: flex;
					align-items: center;
					.o-check-box{
						margin-right: 10px;
					}
				}
				&.check-wrap{
					width: 60px;
				}
				
			}
		}
		tbody{
			tr{
				td{
					border-bottom: 1px solid $grey-eb;
					font-size: 15px;
					vertical-align: middle;	
					&.action{
						width: 115px;
						a{
							margin-right: 10px;
							color: $grey-50;
							&:last-child{
								margin-right: 0px;
							}

						}
					}
				}
			}
		}
		.no-content{
			padding: 20px 15px;
			font-size: 18px;
			color: $black;
			margin-bottom: 0px;
		}
	}
}