<template>
<div>
  <div class="page-title"><h2>Add Employee</h2></div>
<form name="restaurant-employee"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
  <div class="form-group col-md-6">
    <label for="name"> Name</label>
    <input type="text" class="form-control" v-model="restaurant.name" name="name" id="name_id" placeholder="Name">
    <span v-if=" submitted && !$v.restaurant.name.required" class="error-field">Please enter first name.</span>    
  </div>
  <div class="form-group col-md-6">
    <label for="email">Email Id</label>
    <input type="text" class="form-control" v-model="restaurant.email" name="email" id="email_id" placeholder="Email">
    <span v-if="submitted && !$v.restaurant.email.required" class="error-field">Email is Required</span>
    <span v-if="submitted && !$v.restaurant.email.email" class="error-field">Email format is wrong</span>
  </div> 
  <div class="form-group col-md-6">
    <label for="password"> Password</label>
    <input type="password" class="form-control" v-model="restaurant.password" 
    name="password" id="password_id" placeholder="Password">
<!--   <span v-if="submitted && !$v.restaurant.password.required" class="error-field">Password is Required</span>   -->
  <span v-if="submitted && !$v.restaurant.password.strength" class="error-field">Your password must be have at least

8 characters long
1 uppercase & 1 lowercase character
1 number
1 special character
 </span>

  <!-- <span v-if="submitted && !$v.restaurant.password.valid" class="error-field">password must have small letter, capital letter , special character, number</span>
  --> </div>
    <div class="form-group col-md-6">
    <label for="password"> Confirm Password</label>
    <input type="password" class="form-control" v-model="restaurant.confirmed_password"
     name="password_confirmation"  placeholder="Password">
<!--   <span v-if="submitted && !$v.restaurant.confirmed_password.required" class="error-field">Please retype password</span> 
 -->  <span v-if="submitted && !$v.restaurant.confirmed_password.strength" class="error-field">Your password must be have at least

8 characters long
1 uppercase & 1 lowercase character
1 number
1 special character
 </span>
<!--   <span v-if="submitted && !$v.restaurant.confirmed_password.valid" class="error-field">password must have small letter, capital letter , special character, number</span>  -->
  </div>   
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="contact"> Contact Number</label>
    <input type="text" class="form-control" v-model="restaurant.contact" name="contact" id="contact_id" placeholder="Contact Number">
<!--     <span v-if="submitted && !$v.restaurant.contact.required" class="error-field">Contact number is Required</span>
    <span v-if="submitted && !$v.restaurant.contact.numeric" class="error-field">Contact number should be numeric</span>
     <span v-if="submitted && !$v.restaurant.contact.maxLength" class="error-field">Only ten digits allowed</span> -->
  </div> 
  <div class="form-group col-md-6">
    <label for="role"> Role</label>
<select name="role" class="form-control" v-model="restaurant.role">    
<option value="">Please select role</option>
<option value='dishwasher'>Dishwasher</option>
<option value='waiter'>Waiter</option>
<option value='bartender'>Bartender</option>
<option value='chef'>Chef</option>
<option value='kitchen_manager'>Kitchen Manager</option>
</select>
<span v-if="submitted && !$v.restaurant.role.required" class="error-field">Role is required</span>
  </div>
</div>
    <div class="form-row">

    <div class="form-group col-md-6">
    <label for="img"> Image</label>
    <input type="file" ref="file" class="form-control" name="image" id="image_id" placeholder="">
  <span v-if="noimg" class="error-field">Please Upload Image</span>
<span v-if="noformat" class="error-field">Image should be in jpg, jpeg, png ,tff format</span>
  </div>
   <div class="form-group col-md-6">
    <label for="gender"> Gender</label>
<select name ="gender" class="form-control" v-model="restaurant.gender" >    
<option value="">Please select gender</option>
<option value="M">Male</option>
<option value="F">Female</option>
<option value="O">Others</option>
</select>
 <span v-if="submitted && !$v.restaurant.gender.required" class="error-field">Please select gender</span>   
  </div>
    </div>     
    <div class="form-row">
 
    <div class="form-group col-md-6">
    <label for="country">Country</label>
    <input type="text" class="form-control" name="country" id="country_id" placeholder="Country">
  </div>
  <div class="form-group col-md-6">
    <label for="city"> City</label>
    <input type="text" class="form-control" name="city" id="city_id" placeholder="City">
  </div>
    </div>

  <div class="form-row">
   <div class="form-group col-md-6">
    <label for="state">State</label>
    <input type="text" class="form-control" name="state" id="state_id" placeholder="State">
  </div>  
  <div class="form-group col-md-6">
    <label for="street"> Street</label>
    <input type="text" class="form-control" name="street" id="street_id" placeholder="street">
  </div>
 </div>
 
<div class="form-row">
  
  <div class="form-group col-md-6">
    <label for="state">zip</label>
    <input type="text" class="form-control" name="zip" id="zip_id" placeholder="Zip">
  </div>  
 </div>
     <div class="form-row">
      <div class="col-md-12">
         <button  class="btn btn-primary">Create</button>
       </div>
     </div>
</form>

</div>  
</template>
<script>

import axios from 'axios';
import { required , email ,numeric , maxLength,minLength,helpers } from "vuelidate/lib/validators";

export default 
{
data() {

    return {
            noimg:false,
      noformat:false,
restaurants: [],
      errors: [],
restaurant:{
  name:"",
  email:"",
  contact:"",
  role:"",
  password:"",
  confirmed_password:"",
  gender:""
},
 submitted:false,      
    }
  },
  validations:{

    restaurant:{

      name:{ required },
      email: { required ,email },
      contact:{  required, numeric, maxLength: maxLength(10) },
      role:{ required },

      password:{required, strength(value){
      const containsUppercase = /[A-Z]/.test(value)
      const containsLowercase = /[a-z]/.test(value)
      const containsNumber = /[0-9]/.test(value)
      const containsSpecial = /[#?!@$%^&*-]/.test(value)
      return containsUppercase && containsLowercase && containsNumber && containsSpecial;    
      }

  },
        confirmed_password:{ required ,strength(value){
      const containsUppercase = /[A-Z]/.test(value)
      const containsLowercase = /[a-z]/.test(value)
      const containsNumber = /[0-9]/.test(value)
      const containsSpecial = /[#?!@$%^&*-]/.test(value)
      return containsUppercase && containsLowercase && containsNumber && containsSpecial;    
      }
     },
      gender:{ required }


    }
  },
  mounted()
  {
  }
  ,
  methods:
  {
    submit()
    {
  let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};
this.submitted=true;
       this.$v.$touch();
       let file= this.$refs.file.files[0];       
       if(this.$v.$invalid) 
       {
        if(!file) 
          {
         this.noimg=true;
          }
       else
        {
        this.noimg=false;
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
          }

        }
        return;
        }  
      if(!file) 
          {
         this.noimg=true;
           return;         
          }
       else
        {
        this.noimg=false;
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
                    return;         
          }
          else
          {
              this.noformat=false;
          }

        }    
       let form = document.forms.namedItem("restaurant-employee");

       let formdata= new FormData(form);
        
       axios.post('/api/createRestaurantEmployee',formdata).then( 
         response=>
         {

            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
               this.flashMessage.warning({title: '', message: "Please Login to access"});             
             }
            if(response.data.status=='success')
            {
              this.$router.push('/restaurant/employee');
            this.flashMessage.success({title: 'Success', message: "Employee created successfully"});
            } 
             if(response.data.status=='validErr')
             {
           if(response.data.data.name)
           {
          this.flashMessage.warning({title: 'Error', message: response.data.data.name[0]});

           }
           if(response.data.data.email)
           {
          this.flashMessage.warning({title: 'Error', message: response.data.data.email[0]});
           }
           if(response.data.data.contact)
           {
          this.flashMessage.warning({title: 'Error', message: response.data.data.contact[0]});
           }
           if(response.data.data.role)
           {
          this.flashMessage.warning({title: 'Error', message: response.data.data.role[0]});
           }
           if(response.data.data.password)
           {
          this.flashMessage.warning({title: 'Error', message: response.data.data.password[0]});
           }
           if(response.data.data.gender)
           {
          this.flashMessage.warning({title: 'Error', message: response.data.data.gender[0]});
           }
           if(response.data.data.image)
           {
          this.flashMessage.warning({title: 'Error', message: response.data.data.image[0]});
           }

             }

            const{ data }=response.data;     
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }

  }  
}
</script>