<template>
    <div class="page_wrap">
              <div class="page-title">
            <h2>Employees</h2>
        </div>
        <div class="restaurent_filter">
        <button class="button button_md button-color-o" @click="add">Add</button>
            <data-table
                :columns="columns"
                    :data="data"
               @on-table-props-changed="reloadTable"
                :headers="header"
               
                >

            </data-table>
        </div>

    </div>

</template>
<script>
import axios from 'axios';
import actions from '../../components/actions.vue';

export default {
 data() {
   var headers = { 
  "Authorization":'Bearer ' + localStorage.getItem("token")
};
  return {
    isReload:true,  
    menus: {},
      data:{},
      url:"/api/allRestaurantEmployee",

    tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc',
            },
    errors: [],
          columns: [
                {
                    label: 'Name',
                    name: 'name',
                    orderable: true,

                },
                {
                    label: 'Email',
                    name: 'email',
                    orderable: true,
                },
                {
                    label: 'Contact',
                    name: 'contact_number',
                    orderable: true,
                },
                {
                    label: 'Role',
                    name: 'role',
                    orderable: true,
                },
                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,
}
},
mounted() 
{
},
created() {
        this.getData(this.url);
    },
methods:{

   getData(url = this.url, options = this.tableProps) {

    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};
                axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                 localStorage.setItem('token',null);
                 this.$router.push('/restaurant/login');
               }
                this.data = response.data;
                console.log(this.data); 
            })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },
        action(data,type) {

           if(type=='update')
           {
             this.$router.push('/restaurant/employee/edit/'+data.uuid);
           }
           if(type=='delete')
           {
             this.deleteRestaurantEmployee(data.uuid); 
           }

        },
  add()
  {
    this.$router.push('/restaurant/employee/create');
  },
  deleteRestaurantEmployee(uuid)
  {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}    
      let formdata = new FormData();
      formdata.append('uuid',uuid);
       axios({method:'post',
       url:'/api/deleteRestaurantEmployee',
       'headers':headers,
       data:formdata

   }).then(response => 
   {
    if(response.data.status=='auth_fail')
        {
        this.$route.push('/restaurant/login');
        }
        if(response.data.status=='faliure')
        {
            this.flashMessage.success({title: 'Success', message:response.data.msg });          

        }   
      const { data }  = response.data;
       this.getData(this.url);



})
   .catch(e => {
      this.errors.push(e)
  })
}
}
}
</script>

