<template>
<div>
  <div class="page-title"><h2>Edit Employee</h2></div>
<form name="restaurant-employee"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
  <div class="form-group col-md-6">
    <label for="name"> Name</label>
    <input type="text" class="form-control" v-model="employee.name" name="name" id="name_id" placeholder="Name">
    <span v-if=" submitted && !$v.employee.name.required">Please enter first name.</span>    
  </div>
  <div class="form-group col-md-6">
    <label for="email">Email Id</label>
    <input type="text" class="form-control" v-model="employee.email" name="email" id="email_id" placeholder="Email">
    <span v-if="submitted && !$v.employee.email.required">Email is Required</span>
    <span v-if="submitted && !$v.employee.email.email">Email format is wrong</span>
  </div> 
  <!-- <div class="form-group col-md-6">
    <label for="password"> Password</label>
    <input type="password" class="form-control"  
    name="password" id="password_id" placeholder="Password">
  <span v-if="submitted && !$v.employee.password.required">Password is Required</span>  
  </div>
    <div class="form-group col-md-6">
    <label for="password"> Confirm Password</label>
    <input type="password" class="form-control" 
     name="password_confirmation"  placeholder="Password">
  <span v-if="submitted && !$v.employee.confirmed_password.required">Please retype password</span>  
  </div>    -->
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="contact"> Contact Number</label>
    <input type="text" class="form-control" v-model="employee.contact_number" name="contact" id="contact_id" placeholder="Contact Number">
    <span v-if="submitted && !$v.employee.contact_number.required">Contact number is Required</span>
    <span v-if="submitted && !$v.employee.contact_number.numeric">Contact number should be numeric</span>
     <span v-if="submitted && !$v.employee.contact_number.minLength">Contact no should have atleast 10 digits.</span>
 <span v-if="conlength">Contact no can have 13 or 14 digit long</span>    
  </div> 
  <div class="form-group col-md-6">
    <label for="role"> Role</label>
<select name="role" class="form-control" v-model="employee.role">    
<option value="">Please select role</option>
<option value='dishwasher'>Dishwasher</option>
<option value='waiter'>Waiter</option>
<option value='bartender'>Bartender</option>
<option value='chef'>Chef</option>
<option value='kitchen_manager'>Kitchen Manager</option>
</select>
<span v-if="submitted && !$v.employee.role.required">Role is required</span>
  </div>
</div>
    <div class="form-row">

    <div class="form-group col-md-6">
    <label for="img"> Image</label>
    <div class="add-thumnail-img">
      <input type="file" ref="file"  class="form-control" name="image" id="image_id" placeholder="">
        <input type="hidden" name="img" v-model="employee.profile_img">
        <span v-if="noformat">Image should be in jpg, jpeg, png ,tff format</span>
    </div>
       <div class="edit-thumnail-img">

         <img v-show="isLoaded" @load="onImgLoad" v-bind:src="'/images/employees/'+employee.profile_img" name='oimage' style="width:42px; height:42px;object-fit: contain;">
       </div>
  </div>
 <div class="form-group col-md-6">
    <label for="gender"> Gender</label>
<select name ="gender" class="form-control" v-model="employee.gender" >    
<option value="">Please select gender</option>
<option value="M">Male</option>
<option value="F">Female</option>
<option value="O">Others</option>
</select>
 <span v-if="submitted && !$v.employee.gender.required">Please select gender</span>   
  </div>
    </div>
   
             
  <div class="form-row">
 
    <div class="form-group col-md-6">
    <label for="country">Country</label>
    <input type="text" class="form-control" v-model="employee.country" name="country" id="country_id" placeholder="Country">
  </div>
   <div class="form-group col-md-6">
    <label for="city"> City</label>
    <input type="text" class="form-control" v-model="employee.city" name="city" id="city_id" placeholder="City">
  </div>
    </div>
    <div class="form-row">
 
  <div class="form-group col-md-6">
    <label for="state">State</label>
    <input type="text" class="form-control" v-model="employee.state" name="state" id="state_id" placeholder="State">
  </div>  
    <div class="form-group col-md-6">
    <label for="street"> Street</label>
    <input type="text" class="form-control" v-model="employee.street" name="street" id="street_id" placeholder="street">
  </div>
 </div>
     <div class="form-row">

  <div class="form-group col-md-6">
    <label for="state">zip</label>
    <input type="text" class="form-control" v-model="employee.zipcode" name="zip" id="zip_id" placeholder="Zip">
  </div>  
 </div>
     <div class="form-row">
      <div class="col-md-12">
       <input type="hidden" name="id" v-model="employee.id"> 
         <button  class="btn btn-primary">Update</button>
       </div>
     </div>
</form>
</div>  
</template>
<script>

import axios from 'axios';
import { required , email ,numeric , minLength, maxLength,between} from "vuelidate/lib/validators";

export default 
{
data() {

    return {
      noimg:false,
      noformat:false,
      isLoaded:false,
      conlength:false,
      errors: [],
employee:{
  name:"",
  email:"",
  contact_number:"",
  role:"",
  gender:"",
  id:'',
  city:'',
  profile_img:'',
  state:'',
  country:'',
  street:'',
  zipcode:'',

},
 submitted:false,      
    }
  },
  validations:{

    employee:{

      name:{ required },
      email: { required ,email },
      contact_number:{  required, numeric, minLength: minLength(10) },
      role:{ required },
      gender:{ required }


    }
  },
  mounted()
  {
  let headers={"Authorization":'Bearer ' + localStorage.getItem("token")}

   axios.get('/api/getRestaurantEmployee/'+this.$route.params.uuid,{headers}).then(response => 
    {
      if(response.data.status=='auth_fail')
      {
        this.$router.push('/restaurant/login');
      }

      this.employee =response.data.data ? response.data.data : {};

    })
    .catch(e => {
      this.errors.push(e)
    })
  }
  ,
  methods:
  {
    onImgLoad()
    {

     this.isLoaded = true;
    },
    submit()
    {
  let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};
       this.submitted=true;
       this.$v.$touch();
       let file= this.$refs.file.files[0];


       if(this.$v.$invalid) 
       {
        if(file) 
          {
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {

            this.noformat=true;
          }
          }
        return;
        }
        if(!(this.employee.contact_number.length>10 && (this.employee.contact_number.length==13 || this.employee.contact_number.length==14)))
        {
            this.conlength=true;
            return ;
        }  
        if(file) 
          {
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {

            this.noformat=true;
            return ;
          }
          else
          {
            this.noformat=false;            
          }
         
         }

        
            
       let form = document.forms.namedItem("restaurant-employee");

       let formdata= new FormData(form);
        
       axios.post('/api/updateRestaurantEmployee',formdata).then( 
         response=>
         {

            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }
            if(response.data.status=='success')
            {
              this.flashMessage.success({title: 'Success', message: "Record updated successfully"});             
              this.$router.push('/restaurant/employee');
            } 
             if(response.data.status=='validErr')
             {
           if(response.data.data.name)
           {
this.flashMessage.success({title: 'Warning', message: response.data.data.name[0]});

           }
           if(response.data.data.email)
           {
this.flashMessage.success({title: 'Warning', message: response.data.data.email[0]});            

           }
           if(response.data.data.contact)
           {
this.flashMessage.success({title: 'Warning', message: response.data.data.contact[0]});

           }
           if(response.data.data.role)
           {
this.flashMessage.success({title: 'Warning', message: response.data.data.role[0]});            
           }
           if(response.data.data.password)
           {
this.flashMessage.success({title: 'Warning', message: response.data.data.password[0]}); 

           }
           if(response.data.data.gender)
           {
this.flashMessage.success({title: 'Warning', message: response.data.data.gender[0]}); 
            this.$toast.warning(response.data.data.gender[0]);
           }
           if(response.data.data.image)
           {
this.flashMessage.success({title: 'Warning', message: response.data.data.image[0]});            
           }

             }
            const{ data }=response.data;     
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }
  }  
}
</script>