<template>
<div class="form-outer">
 <FlashMessage :position="'right top'"></FlashMessage>
<form name="employee-login" @submit.prevent="submit" class="create-category login-form">
    <div class="page-title form-row"><h2>Login</h2></div>
    <div class="form-row">
  <div class="form-group col-md-12">
    <label for="email">Email</label>
    <input type="text" class="form-control" v-model="login.email" name="email" id="email_id" placeholder="Email">
      <span v-if="submitted && !$v.login.email.required" class="error-field">Email is Required</span>
    <span v-if="submitted && !$v.login.email.email" class="error-field">Email format is wrong</span>
  </div>
  <div class="form-group col-md-12">
    <label for="password">Password</label>
    <input type="password" class="form-control" v-model="login.password"  name="password" id="password_id" placeholder="Password">
  <span v-if="submitted && !$v.login.password.required" class="error-field">Password is Required</span>
  </div>  
   <div class="form-group col-md-12 text-center login-btn">
       <button class="btn btn-primary">Login</button>
 </div>
 </div>
  
</form>
</div>
</template>
<script>
import axios from "axios";
import { required , email } from "vuelidate/lib/validators";
export default {
data() {

    return {
      data: {},
      errors: [],
      login:{

         email:"",
         password:"",
      },
       submitted:false,      
    }
},
    validations:{

    login:
    {
    email:{ required,email },
    password: { required },
    }

  },
mounted()
{
   if(localStorage.getItem('token'))
   {
     this.$router.push('/restaurant/menu');
   }
} ,
methods:
{
 submit()
 {
  this.submitted=true;
 this.$v.$touch();
if(this.$v.$invalid) 
  {
  return;
  }  



      let form = document.forms.namedItem("employee-login");
      let formdata= new FormData(form);
      axios.post('/api/loginEmployee',formdata).then(
        response=>{
       if(response.data.status=='auth_fail')
       {

 this.flashMessage.error({title:'Error', message:"Wrong Credentials"});
//        this.$toast.warning("Invalid Credentials"); 
       return;
       }
   const token = response.data.token;
      window.localStorage.setItem("token", token);
              localStorage.setItem('user',response.data.user);
  this.$router.push('/restaurant/menu');

}
    ).catch(
    error=>
         {
          localStorage.removeItem('token')
            this.errors.push(error)
         });
    
 }

}    
}
</script>