<template>
  <div>
  <div class="page-title"><h2>Add Restaurant Job</h2></div>
<form name="restaurant-job"  @submit.prevent="submit" class="create-category">
    <div class="form-row">

<div class="form-group col-md-6">
    <label for="title">Title</label>
    <input type="text" class="form-control" v-model="job.title" name="title" id="title_id" placeholder="Title">
    <span v-if="submitted && !$v.job.title.required" class="error-field">Please Enter Title</span>
</div>
<div class="form-group col-md-6">
    <label for="title">Description</label>
    <textarea class="form-control" v-model="job.description" name="description" id="description_id" placeholder="Description"></textarea>
<span v-if="submitted && !$v.job.description.required" class="error-field"> Description is required </span>    
</div>
</div>
    <div class="form-row">

<div class="form-group col-md-6">
    <label for="title">Experience</label>
    <input type="text" class="form-control" v-model="job.experience" name="experience" id="experience_id" placeholder="Experience">
<span v-if="submitted && !$v.job.experience.required" class="error-field">Please Enter Experience</span>    
</div>
<div class="form-group col-md-6">
    <label for="title">Timing</label>
    <textarea  class="form-control" v-model="job.timing" name="timing" id="timing_id" placeholder="Timing"></textarea>
  <span v-if="submitted && !$v.job.timing.required" class="error-field">Job timing is required</span>      
</div>
</div>
 <div class="form-row">
    
<div class="form-group col-md-6">
    <label for="title">Skill</label>
    <textarea class="form-control" v-model="job.skill" name="skill" id="skill_id" placeholder="Skill"></textarea>
    <span v-if="submitted && !$v.job.skill.required" class="error-field">Please Enter Skills</span> 
</div>
<div class="form-group col-md-6">
    <label for="title">Budget</label>
    <input type="text" class="form-control" v-model="job.budget" name="budget" id="budget_id" placeholder="budget">
     <span v-if="submitted && !$v.job.budget.required" class="error-field">Please Enter Budget</span>        
    </div>
</div>
  	
<div class="form-row">
  <div class="col-md-12">
    <button class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
</div>
</template>
<script>

import axios from 'axios';
import { required  } from "vuelidate/lib/validators";
export default 
{
data() {

    return {
restaurants: [],
      errors: [],
      job:{

         restaurant:"",
         title:"",
         description:"",
         experience:"",
         timing:"",
         skill:"", 
         budget:""
      },
       submitted :false   
    }
  },
  mounted()
  {
    var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }

    axios.get('/api/getRestaurant',{headers}).then(response => 
    {
      const { data }  = response.data;
       this.restaurants = response.data.data[0];

    })
    .catch(e => {
      this.errors.push(e)
    })
  }
  ,
  validations:{

     job:{
         restaurant: { required },
         title:{ required },
         description: { required },
         experience: { required },
         timing: { required },
         skill: { required }, 
         budget: { required }
     }
  },
  methods:
  {
    submit()
    {

        this.submitted =true;
        this.$v.$touch();
        if(this.$v.$invalid)
        {

           return ;
        }

       let form = document.forms.namedItem("restaurant-job");
       let formdata= new FormData(form);
       console.log(form);        
       axios.post('/api/createJob',formdata).then( 
         response=>
         {
           console.log(response);
            const{ data }=response.data;     
                     this.$router.push('/restaurant/job');   
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }
  }  
}
</script>
