<template>
    <div class="page_wrap">
        <div class="page-title">
            <h2>Jobs</h2>
        </div><div class="restaurent_filter">
        <button class="button button_md button-color-o" @click="add">Add</button>
            <data-table
               v-if="isReload"
                :columns="columns"
                    :data="data"
               @on-table-props-changed="reloadTable"
                
                :headers="header">

            </data-table>
        </div>
</div>
</template>

<script>
import axios from 'axios';
import actions from '../../components/actions.vue';
        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
export default {
 data() {
    return {
      isReload:true,  
      restaurants:{},
      errors: [],
      data:{},
      url:"/api/allJobs",
    tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },

columns: [
                {
                    label: 'Name',
                    name: 'title',
                    orderable: true,

                },
                {
                    label: 'Description',
                    name: 'description',
                    orderable: true,
                },
                {
                    label: 'Experience',
                    name: 'experience',
                    orderable: true,
                },
                // {
                //     label: 'Slug',
                //     name: 'slug',
                //     orderable: true,
                // },
                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,
    }
  },
  mounted() {  },
created() {
        this.getData(this.url);
    },

 methods:{
   getData(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                 this.$router.push('/restaurant/login');
               }
                this.data = response.data;
            })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },
action(data,type) {

           if(type=='update')
           {

             this.$router.push('/restaurant/job/edit/'+data.slug);
           }
           if(type=='delete')
           {

             this.deleteJob(data.slug); 
           }

        },
  add()
  {
    this.$router.push('/restaurant/job/create');
  },
     deleteJob(slug)
     {

        var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
     let formdata= new FormData();
     formdata.append('slug',slug);
     axios({method:'post',
           url:'/api/deleteJob',
          'headers':headers,
          data:formdata

          }).then(response => 
    {
                    this.isReload = false;
        this.getData(this.url);


    })
    .catch(e => {
      this.errors.push(e)
    })
     }
 }
}
</script>