<template>
  <div>
    <div class="page-title"><h2>Edit Restaurant Job</h2></div>
<form name="restaurant-job"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
<div class="form-group col-md-6">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" v-model="job.title" id="title_id" placeholder="Title">
</div>
<div class="form-group col-md-6">
    <label for="title">Description</label>
    <textarea class="form-control" name="description" v-model="job.description" id="description_id" placeholder="Description"></textarea>
</div>
</div>
  <div class="form-row">

<div class="form-group col-md-6">
    <label for="title">Experience</label>
    <input type="text" class="form-control" name="experience" v-model="job.experience" id="experience_id" placeholder="Experience">
</div>
<div class="form-group col-md-6">
    <label for="title">Timing</label>
    <textarea class="form-control" name="timing" v-model="job.timing" id="timing_id" placeholder="Timing">
      
    </textarea>
</div>
</div>
 <div class="form-row">
    
<div class="form-group col-md-6">
    <label for="title">Skill</label>
    <textarea class="form-control" name="skill" v-model="job.skill" id="skill_id" placeholder="Skill"></textarea>
</div>
<div class="form-group col-md-6">
    <label for="title">Budget</label>
    <input type="text" class="form-control" name="budget" v-model ="job.budget" id="budget_id" placeholder="budget">
</div>
  </div>
  	
<div class="form-row">
  <div class="col-md-12">
    <input type="hidden" name="id" v-model="job.id">
    <button class="btn btn-primary">Update</button>
  </div>
</div>
</form>
</div>
</template>
<script>

import axios from 'axios';
export default 
{
data() {

    return {
job:{},
restaurants:[],
      errors: []
    }
  },
  mounted()
  {

    var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }

    axios.get('/api/getRestaurant',{headers}).then(response => 
    {
      const { data }  = response.data;
       this.restaurants = data;


    })
    .catch(e => {
      this.errors.push(e)
    }),

    axios.get('/api/editJob/'+this.$route.params.slug ,{headers}).then(response => 
    {
      const { data }  = response.data;
      this.job = data[0];

    })
    .catch(e => {
      this.errors.push(e)
    })
  }
  ,
  methods:
  {
    submit()
    {
       let form = document.forms.namedItem("restaurant-job");

       let formdata= new FormData(form);
        
       axios.post('/api/updateJob',formdata).then( 
         response=>
         {
            const{ data }=response.data;   
            this.$router.push('/restaurant/job');  

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }
  }  
}
</script>
