.banner-sec {
    padding: 50px 0px 0;
    background-color: #fff;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 30px 0px 0;
    }
    @media only screen and (max-width: 767px) {
        padding: 20px 0px 0;
    }
    .banner-image {
        @media only screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            width: 100%;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                height: 220px;
                object-fit: cover;
            }
        }
    }
}
.restaurant-section {
    padding: 25px 0;
    background-color: #fff;
    @media only screen and (max-width: 1024px) {
        padding: 15px 0;
    }
    .restarent-name {
        @media only screen and (max-width: 767px) {
            margin-bottom: 15px;
        }
        h3 {
            font-size: 28px;
            color: #000000;
            @media only screen and (max-width: 1024px) {
                font-size: 20px;
            }
        }
        .restarant-address {
            max-width: 330px;
            @media only screen and (max-width: 767px) {
                max-width: 100%;
            }
            p {
                font-size: 16px;
                color: #898989;
                line-height: 26px;
                margin-bottom: 0;
                @media only screen and (max-width: 1280px) {
                    font-size: 14px;
                }
            }
        }
    }
    .restaurant-reviews {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
        }

        .add-share-review {
            margin-right: 10px;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                margin-right: 4px;
            }
            @media only screen and (max-width: 767px) {
                margin-right: 0;
                width: 100%;
            }
            a {
                margin: 0 10px;
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    margin: 0 4px;
                    min-width: auto;
                    padding: 0 15px;
                    font-size: 13px;
                }
                @media only screen and (max-width: 767px) {
                    margin: 0 4px 0 0;
                }
            }
        }
    }
    .restaurant-timimg {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0 0;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 12px 0 0;
            font-size: 14px;
        }
        @media only screen and (max-width: 767px) {
            justify-content: flex-start;
            padding: 6px 0 0;
            font-size: 14px;
        }
        span {
            color: #e57931;
            padding-right: 5px;
        }
    }
}

.review-rating {
    margin-top: 12px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: flex;
        width: 100%;
    }
    .review-star {
        display: flex;
        align-items: center;
        padding-right: 6px;
        i {
            color: #e57931;
            padding: 0 1px;
        }
    }
    .review-count {
        span {
            font-size: 16px;
            color: #000000;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 13px;
            }
        }
    }
}
.restaurant-top-orders {
    width: 100%;
    padding: 25px 0 0;
    border-top: 1px solid #ededed;
    ul.order-tab {
        margin: 0 !important;
        padding: 0 0 30px;
        display: flex;
        width: 100%;
        li {
            display: inline-block;
            padding: 0 30px 0 0;
            a {
                color: #000 !important;
                font-size: 16px;
                background-color: transparent !important;
                border-bottom: 2px solid transparent;
                padding: 0;
                border-radius: 0 !important;
                &.active {
                    color: #e57931 !important;
                    text-decoration: none;
                    border-color: #e57931 !important;
                }
            }
        }
        li.active {
            a {
                color: #e57931;
                border-bottom: 2px solid #e57931;
                padding: 0 0 3px;
                text-decoration: none;
            }
        }
    }
    .order-names {
        position: sticky;
        top: 15px;
        @media only screen and (max-width: 767px) {
            margin-bottom: 15px;
        }
        ul {
            margin: 0;
            padding: 20px;
            list-style: none;
            background: #eaf2f9;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 10px;
            }
            li {
                padding: 0 0 22px;
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    padding: 0 0 10px;
                }
                @media only screen and (max-width: 767px) {
                    padding: 0 0 10px;
                }
                a {
                    color: #1f394e;
                    font-size: 16px;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    @media only screen and (min-width: 768px) and (max-width: 1024px) {
                        font-size: 13px;
                    }
                    @media only screen and (max-width: 767px) {
                        font-size: 14px;
                    }
                }
                &.active {
                    a {
                        color: #e57931;
                    }
                }
            }
        }
    }
}
.restaurant-order-list {
    background-color: #ffffff;
    padding-bottom: 40px;
    .restaurant-order-heading {
        padding: 0 0 30px;
        border-bottom: 1px solid #ededed;
        margin: 0 0 30px;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 0 0 15px;
            margin: 0 0 15px;
        }
        @media only screen and (max-width: 767px) {
            justify-content: space-between;
            display: flex;
            padding-bottom: 8px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 24px;
            color: #000000;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 20px;
            }
            @media only screen and (max-width: 767px) {
                font-size: 18px;
            }
        }
        .veg_only {
            input {
                vertical-align: middle;
            }
            span {
                font-size: 12px;
                vertical-align: middle;
                display: inline-block;
                color: #333;
            }
        }
    }
    .restaurant_recoomended_orders {
        h4 {
            font-size: 20px;
            color: #000;
            margin: 0 0 22px;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 16px;
                margin: 0 0 15px;
            }
            @media only screen and (max-width: 767px) {
                font-size: 17px;
            }
        }
        .order_details {
            align-items: flex-start;
            display: flex;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                align-items: flex-start;
            }
            @media only screen and (max-width: 1024px) {
                flex-wrap: wrap;
            }
            .order_desc{
                flex: 1 0;
                max-width: 100%;
            }
            .order_image {
                flex: 0 0 100px;
                max-width: 100px;
                height: 100px;
                border-radius: 12px;
                overflow: hidden;
                margin-right: 15px;
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    flex: 0 0 70px;
                    max-width: 70px;
                    height: 70px;
                    border-radius: 8px;
                    margin-right: 10px;
                }
                @media only screen and (max-width: 767px) {
                    margin: 0 0 10px;
                }
                img {
                    height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
            .order_desc {
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    flex: 1;
                }
                h3 {
                    font-weight: 600;
                    font-size: 14px;
                }
                p {
                    font-size: 13px;
                    margin-bottom: 8px;
                }
                @media only screen and (max-width: 767px) {
                    .review-rating {
                        justify-content: left;
                    }
                }
            }
            .order_price {
                flex: 0 0 120px;
                max-width: 120px;
                text-align: center;
                margin-left: 15px;
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: left;
                    margin-left: 80px;
                }
                @media only screen and (max-width: 767px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: left;
                    margin-left: 0;
                }
                .f_line_btn {
                    min-width: 90px;
                }
                .price {
                    display: block;
                    font-weight: 600;
                    margin-bottom: 5px;
                    font-size: 16px;
                    @media only screen and (min-width: 768px) and (max-width: 1024px) {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.client_reviews {
    margin-bottom: 50px;

    .reviews_item {
        border: 1px solid #f3f3f3;
        position: relative;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
        background-color: #f7f7f7;
        @media only screen and (max-width: 767px) {
            padding: 15px;
        }
        .review-rating {
            position: absolute;
            right: 20px;
            top: 20px;
            @media only screen and (max-width: 767px) {
                position: static;
                margin-bottom: 4px;
            }
        }
        h4 {
            font-size: 18px;
            font-weight: bold;
            color: $orange;
            @media only screen and (max-width: 767px) {
                font-size: 15px;
            }
        }
        .review_time {
            font-size: 13px;
            text-transform: uppercase;
            color: #5f5f5f;
            display: inline-block;
            margin-bottom: 8px;
            @media only screen and (max-width: 767px) {
                font-size: 12px;
            }
        }
        p {
            font-size: 14px;
            line-height: normal;
            margin-bottom: 0;
            @media only screen and (max-width: 767px) {
                font-size: 12px;
            }
        }
    }
}

.cart_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    h3 {
        margin: 0;
        text-transform: capitalize;
        font-size: 24px;
        font-weight: 500;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        span {
            font-size: 14px;
        }
    }
}
.cart_wrap {
    position: sticky;
    top: 15px;
    ul {
        margin-bottom: 0;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ececec;
            padding-bottom: 15px;
            margin-bottom: 15px;

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                padding-bottom: 10px;
                margin-bottom: 10px;
                flex-wrap: wrap;
                h4 {
                    margin-bottom: 6px !important;
                }
                .cart_right_info {
                    margin-left: -5px;
                }
            }

            h4 {
                font-size: 13px;
                margin: 0;
                flex: 1;
            }
            .cart_right_info {
                display: flex;
                align-items: center;
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    justify-content: space-between;
                    flex: 0 0 100%;
                }
                .qty_wrap {
                    display: flex;
                    border: 1px solid #ccc;
                    border-radius: 50px;
                    overflow: hidden;
                    margin: 0 4px;
                    button {
                        height: 30px;
                        width: 30px;
                        cursor: pointer;
                        font-size: 10px;
                        line-height: 31px;
                        background-color: transparent;
                    }
                    input {
                        width: 20px;
                        text-align: center;
                        color: #000;
                        font-size: 13px;
                    }
                }
                .price_cart {
                    font-size: 12px;
                }
            }
        }
    }
    .subtotal {
        margin-bottom: 15px;
        h3 {
            font-size: 18px;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 15px;
            }
        }
        span {
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
            }
        }
    }
    .order_now {
        .f_btn {
            width: 100%;
            cursor: pointer;
        }
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.payment_method {
    background-color: #fff;
    padding: 35px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 15px;
    }
    @media only screen and (max-width: 767px) {
        padding: 15px;
    }
    h2 {
        margin-bottom: 0;
        font-size: 26px;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
}

.summary_bar {
    background-color: #fff;
    padding: 20px;

    .restaurent_nm {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        picture {
            display: inline-block;
            flex: 0 0 50px;
            max-width: 50px;
            height: 50px;
            margin-right: 15px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        h4 {
            margin-bottom: 0;
            font-size: 16px;
        }
    }
    .any_suggestion {
        margin: 18px 0 12px;
        textarea {
            border: 1px solid #e8e8e8;
            width: 100%;
            height: 60px;
            font-size: 13px;
            padding: 10px;
        }
    }
    .apply_coupon {
        margin-bottom: 20px;
        button {
            background-color: transparent;
            width: 100%;
            text-align: left;
            padding: 12px;
            border: 1px dashed #868686;
            font-size: 14px;
            img {
                width: 25px;
                margin-right: 8px;
            }
        }
    }
}
.check_out_wrap {
    padding: 50px 0;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 40px 0;
    }
    @media only screen and (max-width: 767px) {
        border-top: 1px solid #ccc;
        padding: 30px 0 0;
    }
}
.payment_method {
    .payment_tabs {
        margin-top: 32px;
        @media only screen and (max-width: 767px) {
            margin-top: 18px;
        }
        .nav {
            background-color: #eaf2f9;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                justify-content: flex-start;
                margin-bottom: 20px;
            }
            li {
                width: 100%;
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    width: auto;
                }
                a {
                    color: #1f394e;
                    padding: 15px;
                    font-weight: 500;
                    font-size: 14px;
                    i {
                        margin-right: 6px;
                    }
                    &.active {
                        color: #fff;
                        background-color: #1f394e;
                    }
                }
            }
        }
    }
}
.accept_pmt {
    border-bottom: 1px solid #ccc;
    padding-bottom: 22px;
    margin-bottom: 30px;
    @media only screen and (max-width: 767px) {
        padding-bottom: 10px;
        margin-bottom: 18px;
    }
    span {
        font-size: 15px;
        text-transform: capitalize;
        @media only screen and (max-width: 767px) {
            display: block;
            font-size: 14px;
        }
    }
    picture {
        display: inline-block;
        margin-left: 10px;
        @media only screen and (max-width: 767px) {
            margin: 0 5px 0 0;
        }
        img {
            height: 30px;
            @media only screen and (max-width: 767px) {
                height: 20px;
            }
        }
    }
}

.card_form {
    form {
        .form-group {
            .form-control {
                border-radius: 0;
                height: 50px;
                border: 1px solid #ccc;
                text-transform: capitalize;
                font-size: 14px;
            }
        }
        .add_card {
            .f_btn {
                width: 100%;
                text-transform: capitalize;
                cursor: pointer;
            }
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
            font-size: 12px;
            color: #5d5d5d;
            background-color: #f1f1f1;
            padding: 10px 15px;
        }
    }
}

.cod_section {
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px dashed #ccc;

    label {
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
        vertical-align: middle;
        position: relative;
        input {
            vertical-align: middle;
            display: none;
        }
        i {
            position: absolute;
            right: 14px;
            font-size: 18px;
            top: 18px;
            opacity: 0.3;
        }
    }
}
.cod_section input:checked + i {
    color: #e07726;
    opacity: 1;
}
.right_pmt_info {
    @media only screen and (max-width: 767px) {
        margin-top: 30px;
    }
    .qr_code {
        text-align: center;
        img {
            max-width: 190px;
        }
    }
}
