.profile_wrap {
    .profile_head {
        background-color: #e57931;
        padding: 30px 0;
        .basic_profile {
            display: flex;
            align-items: center;
            picture {
                flex: 0 0 96px;
                max-width: 96px;
                height: 96px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .right_info {
                flex: 1;
                padding-left: 25px;
                h3 {
                    font-size: 24px;
                    color: #fff;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    margin-right: 20px;
                    img {
                        vertical-align: middle;
                    }
                }
            }
        }
        .f_btn {
            background-color: #fff !important;
            color: $orange !important;
        }
    }
}

.about_profile_tabs {
    background-color: #ffffff;
    padding: 40px 0;
    .left_bar_tab {
        a {
            text-transform: capitalize;
            display: block;
            padding: 15px;
            font-size: 15px;
            color: #1f394e;
            background-color: #eaf2f9;
            &.active {
                background-color: #1e394d;
                color: #fff;
            }
        }
    }
    .right_profile_content {
        h2 {
            margin-bottom: 20px;
            margin-top: 6px;
            font-weight: bold;
            font-size: 24px;
        }
    }
}
.order-listing{
    .order_list_item{
        padding: 20px;
        margin-top: 20px;
        border:1px solid #ccc;
        .about_cafe{
            display: flex;
            justify-content: space-between;
            .cafe_img{
                flex: 0 0 100px;
                max-width: 100px;
                height: 100px;
                img{
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .cafe_name{
                flex:1;
                padding-left: 20px;
                h4{
                    font-size: 18px;
                    color:#000;
                }
                address{
                    margin-bottom: 6px;
                    font-size: 16px;
                    color: #898989;
                }
                span{
                    font-size: 14px;
                    i{
                        color: #3bb54a;
                        font-size: 18px;
                        vertical-align: middle;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
        .about_dish{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .left_dish{
                h4{
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}
.my_payment_mode{
    display:flex;
    flex-wrap: wrap;
    h4{
        flex:0 0 100%;
        font-size: 18px;
    }
    .payment_items{
        flex: 0 0 50%;
    max-width: calc(50% - 15px);
    border: 1px solid #e5e5e5;
    padding: 15px;
    margin: 15px 15px 0 0;
    display: flex;
    align-items: center;
        .card_icon{
            flex: 0 0 56px;
            max-width: 56px;
            img{
                width: 100%;
            }
        }
        .card_number{
            padding-left: 15px;
            flex:1;
            h5{
                font-size: 14px;
                color: #000;
                margin-bottom: 4px;
            }
            span{
                font-size: 13px;
                color:#898989;
            }
        }
        .f_btn{
            min-width: auto;
            padding: 0 15px;
        }
    }
}

.update_profile{
    padding:0 15px 25px;
    .form-group{
        &.profile_image_field{
            input{
                display: none;
            }
            label{
                .update_photo_option{
                    position: relative;
                    margin: 0 auto 20px;
                    width: 92px;
                    img{
                        height: 92px;
                    width: 92px;
                    object-fit: cover;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    }
                       i{
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        background-color: #e57931;
                        color: #fff;
                        text-align: center;
                        border-radius: 50px;
                        line-height: 28px;
                        position: absolute;
                        bottom: -2px;
                        right: 0;
                       } 
                }
                span{
                    display: block;
                }
            }
        }
        label{
            font-size: 15px;
            color: #000;
            text-transform: capitalize;
        }
        .form-control{
            height: 50px;
            border-radius: 10px;
        }

    }
    .submit_update{
        margin-top: 20px;
    }
}
.side_popup{
    padding-right: 0 !important;
    .modal-dialog{
        margin: 0 0 0 auto;
        transform: translateX(100%) !important;
    .modal-content{
        border-radius: 0;
        height: 100vh;
        margin-top: -1px;
        .modal-header{
            justify-content: flex-start;
            align-items: center;
            .close{
                opacity: 1;
                padding: 0;
                margin: 0 15px 0 0;
                height: 30px;
                width: 30px;
                border: 2px solid #000;
                border-radius: 50px;
                line-height: normal;
                font-size: 18px;
                span{
                    position: relative;
                    top: -1px;   
                }
            }
        }
    }
}
    &.show{
        .modal-dialog{
            margin: 0 0 0 auto;
            transform: translateX(0%) !important;
        }
    }
}