<template>
  <div>
    <div class="profile_wrap">
      <div class="profile_head">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="basic_profile">
                <picture>
                  <img src="/images/avatar_profile.jpg" alt=""
                /></picture>
                <div class="right_info">
                  <h3>User Name</h3>
                  <a href="#"
                    ><img src="/images/phone_icon.png" alt="" /> +96 38527418</a
                  >
                  <a href="#"
                    ><img src="/images/mailicon.png" alt="" /> mail@mail.com</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 text-right">
              <a href="#" class="f_btn">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about_profile_tabs">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="left_bar_tab">
              <a class="active" href="#">My orders</a>
              <a href="#">payments</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="right_profile_content">
              <h2>Previous Orders</h2>
              <div class="order-listing">
                <div class="order_list_item">
                  <div class="about_cafe">
                    <div class="cafe_img">
                      <img src="images/order_image.png" />
                    </div>
                    <div class="cafe_name">
                      <h4>The Disaster Café</h4>
                      <address>North city</address>
                      <span>Delivered on Wed, Dec 25, 2020, 11:08 am <i class="fa fa-check-circle" aria-hidden="true"></i>
</span>
                    </div>
                    <div class="order_id">
                      <span>Order: #8574742588</span>
                    </div>
                  </div>
                  <div class="about_dish">
                    <div class="left_dish">
                      <h4>
                        Aloo Paratha with Butter x 2, Mixed Paratha with Butter
                        x 2
                      </h4>
                      <span>Total Paid: 136</span>
                    </div>
                    <a class="f_btn" href="#">Reorder</a>
                  </div>
                </div>
                <div class="order_list_item">
                  <div class="about_cafe">
                    <div class="cafe_img">
                      <img src="images/order_image.png" />
                    </div>
                    <div class="cafe_name">
                      <h4>The Disaster Café</h4>
                      <address>North city</address>
                      <span>Delivered on Wed, Dec 25, 2020, 11:08 am <i class="fa fa-check-circle" aria-hidden="true"></i>
</span>
                    </div>
                    <div class="order_id">
                      <span>Order: #8574742588</span>
                    </div>
                  </div>
                  <div class="about_dish">
                    <div class="left_dish">
                      <h4>
                        Aloo Paratha with Butter x 2, Mixed Paratha with Butter
                        x 2
                      </h4>
                      <span>Total Paid: 136</span>
                    </div>
                    <a class="f_btn" href="#">Reorder</a>
                  </div>
                </div>
                <div class="order_list_item">
                  <div class="about_cafe">
                    <div class="cafe_img">
                      <img src="images/order_image.png" />
                    </div>
                    <div class="cafe_name">
                      <h4>The Disaster Café</h4>
                      <address>North city</address>
                      <span>Delivered on Wed, Dec 25, 2020, 11:08 am <i class="fa fa-check-circle" aria-hidden="true"></i>
</span>
                    </div>
                    <div class="order_id">
                      <span>Order: #8574742588</span>
                    </div>
                  </div>
                  <div class="about_dish">
                    <div class="left_dish">
                      <h4>
                        Aloo Paratha with Butter x 2, Mixed Paratha with Butter
                        x 2
                      </h4>
                      <span>Total Paid: 136</span>
                    </div>
                    <a class="f_btn" href="#">Reorder</a>
                  </div>
                </div>
                <div class="order_list_item">
                  <div class="about_cafe">
                    <div class="cafe_img">
                      <img src="images/order_image.png" />
                    </div>
                    <div class="cafe_name">
                      <h4>The Disaster Café</h4>
                      <address>North city</address>
                      <span>Delivered on Wed, Dec 25, 2020, 11:08 am <i class="fa fa-check-circle" aria-hidden="true"></i>
</span>
                    </div>
                    <div class="order_id">
                      <span>Order: #8574742588</span>
                    </div>
                  </div>
                  <div class="about_dish">
                    <div class="left_dish">
                      <h4>
                        Aloo Paratha with Butter x 2, Mixed Paratha with Butter
                        x 2 
                      </h4>
                      <span>Total Paid: 136</span>
                    </div>
                    <a class="f_btn" href="#">Reorder</a>
                  </div>
                </div>
                <div class="order_list_item">
                  <div class="about_cafe">
                    <div class="cafe_img">
                      <img src="images/order_image.png" />
                    </div>
                    <div class="cafe_name">
                      <h4>The Disaster Café</h4>
                      <address>North city</address>
                      <span>Delivered on Wed, Dec 25, 2020, 11:08 am <i class="fa fa-check-circle" aria-hidden="true"></i>
</span>
                    </div>
                    <div class="order_id">
                      <span>Order: #8574742588</span>
                    </div>
                  </div>
                  <div class="about_dish">
                    <div class="left_dish">
                      <h4>
                        Aloo Paratha with Butter x 2, Mixed Paratha with Butter
                        x 2
                      </h4>
                      <span>Total Paid: 136</span>
                    </div>
                    <a class="f_btn" href="#">Reorder</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>