<template>
<form name="restaurant-res"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
<div class="form-group col-md-6">
    <label for="name">Restaurant</label>
    <select class="form-control" name="restaurant" v-model="res.restaurant">
    <option value="">Please Select Restaurant</option>  
    <option v-for="item in restaurants" :key="item.id"  v-bind:value="item.id">{{item.name }}</option>
    </select>
 <span v-if="submitted && !$v.res.restaurant.required" class="error-field"> Please Select Restaurant</span>   
  </div>

<div class="form-group col-md-6">
    <label for="name">name</label>
    <input type="text" class="form-control" v-model="res.rname" name="rname" id="name_id" placeholder="Name">
</div>
<span v-if="submitted && !$v.res.rname.required" class="error-field">Please Enter Name</span>
</div>
    <div class="form-row">
<div class="form-group col-md-6">
    <label for="title">email</label>
    <input type="text" class="form-control" v-model="res.email" name="email" id="email_id" placeholder="Email">
<span v-if="submitted && !$v.res.email.required" class="error-field"> Email is required </span>    
<span v-if="submitted && !$v.res.email.email" class="error-field"> Email Format is wrong </span>    
</div>
<div class="form-group col-md-6">
    <label for="title">phone</label>
    <input type="text" class="form-control" v-model="res.phone" name="phone" id="phone_id" placeholder="Phone">
<span v-if="submitted && !$v.res.phone.required" class="error-field">Please Enter Phone</span>    
</div>
</div>
 <div class="form-row">
    <div class="form-group col-md-6">
    <label for="title">guests</label>
    <input type="text" class="form-control" v-model="res.guest" name="guest" id="guest_id" placeholder="Guests">
  <span v-if="submitted && !$v.res.guest.required" class="error-field">No of guest</span>      
</div>
<div class="form-group col-md-6">
    <label for="title">Reservation</label>
    <input type="text" class="form-control" v-model="res.reservation" name="reservation" id="reservation_id" placeholder="Reservation">
</div>
<span v-if="submitted && !$v.res.reservation.required" class="error-field">Please Enter</span>    
    </div>
<div class="form-row">

<div class="form-group col-md-12">
      <button class="btn btn-primary">Submit</button>
</div>
</div>      

</form>

</template>
<script>

import axios from 'axios';
import { required, email } from "vuelidate/lib/validators";
export default 
{
data() {

    return {
restaurants: [],
      errors: [],
      res:{

         restaurant:"",
         rname:"",
         email:"",
         phone:"",
         guest:"",
         reservation:"", 
      },
       submitted :false   
    }
  },
  mounted()
  {
    var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }

    axios.get('/api/getallRestaurants',{headers}).then(response => 
    {
      const { data }  = response.data;
       this.restaurants = data;
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
  ,
  validations:{

     res:{
         restaurant:{ required },
         rname:{ required },
         email:{ required , email },
         phone:{ required },
         guest:{ required },
         reservation:{ required },
     }
  },
  methods:
  {
    submit()
    {


        this.submitted =true;
        this.$v.$touch();
        if(this.$v.$invalid)
        {
           return ;
        }
       let form = document.forms.namedItem("restaurant-res");
       let formdata= new FormData(form);
        
       axios.post('/api/createReservation',formdata).then( 
         response=>
         {
            const{ data }=response.data;     
                     this.$router.push('/restaurant/reservation/all');   
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }
  }  
}
</script>
