<template>
  <div>
<table class="table">
   <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">Restaurant</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Guests</th>

  </tr>
</thead>
  <tr scope="row" v-for="item in reservations.data" :key="item.id">
    <td>{{item.id}}</td>
    <td>{{item.restaurant}}</td>
    <td>{{item.Name}}</td>
    <td> {{item.phone}}</td>
    <td>{{item.guest}}</td>
    <td>

<a @click="$router.push('/restaurant/reservation/edit/'+item.id)">Edit</a>
<a @click="deleteReservaton(item.id)">Delete</a>

    </td>    
  </tr>
</table>
  <pagination :data="reservations" @pagination-change-page="getResults">
      <span slot="prev-nav">&lt; Previous</span>
  <span slot="next-nav">Next &gt;</span>
  </pagination>
</div>
</template>

<script>
import axios from 'axios';
        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
export default {
 data() {
    return {
      reservations:{},
      errors: []
    }
  },
  mounted() 
      {
        var token=localStorage.getItem('token');
      this.getResults();      
  },
 methods:{
getResults(page=1) 
{

      axios.get('/api/allReservation?page='+page,{headers})
        .then(response => {
          this.reservations = response.data.data;

        });
},

     deleteReservaton(id)
     {

        var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
     let formdata= new FormData();
     formdata.append('id',id);
     let length=this.reservations.data.length;
      let res= this.reservations.data;

     axios({method:'post',
           url:'/api/deleteReservation',
          'headers':headers,
          data:formdata

          }).then(response => 
    {
       let length=this.reservations.data.length;
      let res= this.reservations.data;
      for(let i=0;i<length;i++)
     {
        if(res[i].id==id)
        {

           this.reservations.data.splice(i,1);
        break;
        }

     }


    })
    .catch(e => {
      this.errors.push(e)
    })
     
 }
}
}
</script>