<template>
<form name="restaurant-reservation"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
<div class="form-group col-md-6">
    <label for="name">Restaurant</label>
    <select class="form-control" name="restaurant" v-model="res.restaurant_id"  >
    <option value="">Please Select Restaurant</option>  
    <option v-for="item in restaurants" :key="item.id" :selected="res.restaurant_id"  v-bind:value="item.id">{{item.name }}</option>
    </select>
<span v-if="submitted && !$v.res.restaurant_id.required" class="error-field">Please Select Restaurant</span>
  </div>

<div class="form-group col-md-6">
    <label for="name">name</label>
    <input type="text" class="form-control" v-model="res.full_name" name="full_name" id="name_id" placeholder="Name">
</div>
<span v-if="submitted && !$v.res.full_name.required" class="error-field">Please Enter Name</span>
</div>
    <div class="form-row">
<div class="form-group col-md-6">
    <label for="title">email</label>
    <input type="text" class="form-control" v-model="res.email" name="email" id="email_id" placeholder="Email">
<span v-if="submitted && !$v.res.email.required" class="error-field"> Email is required </span>    
<span v-if="submitted && !$v.res.email.email" class="error-field"> Email Format is wrong </span>    
</div>
<div class="form-group col-md-6">
    <label for="title">phone</label>
    <input type="text" class="form-control" v-model="res.phone" name="phone" id="phone_id" placeholder="Phone">
<span v-if="submitted && !$v.res.phone.required" class="error-field">Please Enter Phone</span>    
</div>
</div>
 <div class="form-row">
    <div class="form-group col-md-6">
    <label for="title">guests</label>
    <input type="text" class="form-control" v-model="res.number_of_guests" name="number_of_guests" id="guest_id" placeholder="Guests">
  <span v-if="submitted && !$v.res.number_of_guests.required" class="error-field">No of guest</span>      
  <span v-if="submitted && !$v.res.number_of_guests.required" class="error-field">Please Enter NUmeric values </span>      
</div>
<div class="form-group col-md-6">
    <label for="title">Reservation</label>
    <input type="text" class="form-control" v-model="res.reservation" name="reservation" id="reservation_id" placeholder="Reservation">
</div>
<span v-if="submitted && !$v.res.reservation.required" class="error-field">Please Enter</span>    
    </div>
<div class="form-row">

<div class="form-group col-md-12">
<input type="hidden" name="id" v-model="res.id">
    <button class="btn btn-primary">Submit</button>
</div>
</div>      

</form>

</template>
<script>

import axios from 'axios';
import { required, email , numeric} from "vuelidate/lib/validators";
export default 
{
data() {

    return {
restaurants: [],
      errors: [],
      res:{
         id:"",
         restaurant_id:"",
         full_name:"",
         email:"",
         phone:"",
         number_of_guests:"",
         reservation:"", 
      },
       submitted :false   
    }
  },
  mounted()
  {
    var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }

    axios.get('/api/getallRestaurants',{headers}).then(response => 
    {
      const { data }  = response.data;
       this.restaurants = data;
    })
    .catch(e => {
      this.errors.push(e)
    })
        axios.get('/api/editReservation/'+this.$route.params.id,{headers}).then(response => 
    {
       console.log(response.data.data[0]);
/*      const { data }  = response.data;
      console.log(data);*/
       this.res = response.data.data[0];
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
  ,
  validations:{

     res:{
         restaurant_id:{ required },
         full_name:{ required },
         email:{ required , email },
         phone:{ required },
         number_of_guests:{ required , numeric },
         reservation:{ required },
     }
  },
  methods:
  {
    submit()
    {


        this.submitted =true;
        this.$v.$touch();
        if(this.$v.$invalid)
        {
           return ;
        }
       let form = document.forms.namedItem("restaurant-reservation");
       let formdata= new FormData(form);
        
       axios.post('/api/updateReservation',formdata).then( 
         response=>
         {
           console.log(response);
            const{ data }=response.data;     
        this.$router.push('/restaurant/reservation/all');   
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }
  }  
}
</script>
