<template>
<form name="menu-category"  @submit.prevent="submit" class="create-category">
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Menu</label>
    <select class="form-control" name="menu" v-model="menu.menu">
    <option value="">Please Select Menu</option>  
    <option v-for="item in menus" :key="item.id"  v-bind:value="item.id">{{item.title }}</option>
    </select>
  <div v-if="submitted && !$v.menu.menu.required" class="error-field" >Menu is Required</div>
  </div>


  <div class="form-group col-md-6">
    <label for="email">Title</label>
  <input type="text" class="form-control" v-model="menu.title" name="title" id="title_id" placeholder="title">
    <div v-if="submitted && !$v.menu.title.required" class="error-field">Title is Required</div>
  </div>  
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="price"> Price</label>
    <input type="text" class="form-control" v-model="menu.price" name="price" id="price_id" placeholder="Price">    <div v-if="submitted && !$v.menu.price.required" class="error-field" >Price is Required</div>
    <div v-if="submitted && !$v.menu.price.numeric" class="error-field">Price must be  Numeric</div>
    <div v-if="submitted && !$v.menu.price.maxLength" class="error-field">Only four digit number allowed </div>
  </div> 
  <div class="form-group col-md-6">
    <label for="description"> Description</label>
    <input type="text" class="form-control" v-model="menu.description" name="description" id="description_id" placeholder="Desription">    <div v-if="submitted && !$v.menu.description.required" class="error-field" >Description is Required</div>
  </div>
</div>
     <div class="form-row">
        <div class="col-md-12">
           <button  class="btn btn-primary">Create</button>
        </div>
         
     </div>
<Toasts 
  :show-progress="true"
  :rtl="false"
  :max-messages="10"
  :time-out="5000"
  :closeable="true"
></Toasts> 

</form>  
</template>
<script>

import axios from 'axios';
 import { required, email, minLength , maxLength, numeric } from "vuelidate/lib/validators";

export default 
{
data() 
{
    return {
      menus:[],
      errors: [],
      menu:{
       menu:"",
       title:"",
       price:"",
       description:"",
      },
       submitted: false
    }
  },
   validations: {
            menu: {
                menu:{ required },
                title: { required },
                price: { required , numeric , maxLength: maxLength(4) },
                description: { required },
            }
        },
  mounted()
  {
    var token=localStorage.getItem('token');

    const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                    }
    axios.get('/api/getMenu',{headers}).then(response => 
    {
       const { data }  = response.data;
       this.menus = response.data.data;
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods:
  {
    submit()
    {
        this.submitted = true;
       this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
       let form = document.forms.namedItem("menu-category");
       let formdata= new FormData(form);
       axios.post('/api/createMenuAttribute',formdata).then( 
         response=>
         {
           if(response.data.status=='success')
           {
               this.$router.push('/restaurant/menu-item');
           }
           if(response.data.status=='auth_fail')
           {
              this.$router.push('/restaurant/login');
           }
           if(response.data.status=='validErr')
           {
          if(response.data.data.menu)
           {
            this.$toast.warning(response.data.data.menu[0]);
           }
          if(response.data.data.price)
           {
            this.$toast.warning(response.data.data.price[0]);
           }
          if(response.data.data.description)
           {
            this.$toast.warning(response.data.data.description[0]);
           }
          if(response.data.data.title)
           {
            this.$toast.warning(response.data.data.title[0]);
           }

           }

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
      

    }
  }  
}
</script>