<template>
    <div class="page_wrap">
              <div class="page-title">
            <h2>Menu-Items</h2>
        </div>
        <div class="restaurent_filter">
        <button class="button button_md button-color-o" @click="add">Add</button>
            <data-table
                :columns="columns"
                    :data="data"
               @on-table-props-changed="reloadTable"
                :headers="header"

                >

            </data-table>
        </div>
  <Toasts
  :show-progress="true"
  :rtl="false"
  :max-messages="10"
  :time-out="10000"
  :closeable="true"
></Toasts> 
    </div> 
</template>
<script>
import axios from 'axios';
import actions from '../../components/actions.vue';

export default {
 data() {
   var headers = { 
  "Authorization":'Bearer ' + localStorage.getItem("token")
};
  return {
    isReload:true,  
    menus: {},
      data:{},
      url:"/api/allMenuAttribute",

    tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc',
            },
    errors: [],
          columns: [
                {
                    label: 'Menu',
                    name: 'menu.title',
                    orderable: true,

                },
                {
                    label: 'Tttle',
                    name: 'title',
                    orderable: true,
                },
                {
                    label: 'Price',
                    name: 'price',
                    orderable: true,
                },
                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,
}
},
mounted() 
{
},
created() {
        this.getData(this.url);
    },
methods:{

   getData(url = this.url, options = this.tableProps) {

    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};
                axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                 localStorage.setItem('token',null);
                 this.$router.push('/restaurant/login');
              }
                this.data = response.data;

           })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },
        action(data,type) {

           if(type=='update')
           {

             this.$router.push('/restaurant/menu-item/edit/'+data.slug);
           }
           if(type=='delete')
           {
             this.deleteMenuItem(data.id); 
           }

        },
  add()
  {
    this.$router.push('/restaurant/menu-item/add');
  },
  deleteMenuItem(id)
  {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}    
      let formdata = new FormData();
      formdata.append('id',id);
       axios({method:'post',
       url:'/api/deleteMenuAttribute',
       'headers':headers,
       data:formdata

   }).then(response => 
   {
    if(response.data.status=='auth_fail')
        {
        this.$route.push('/restaurant/login');
        }
        if(response.data.status=='faliure')
        {
            this.$toast.error(response.data.msg);
        }
        else
        {
       this.getData(this.url);
        }   

     })
   .catch(e => {
      this.errors.push(e)
  })
}
}
}
</script>
