<template>
<form name="menu-category"  @submit.prevent="submit" class="create-category">
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Menu</label>
    <select class="form-control" name="menu">
    <option value="">Please Select Menu</option>  
    <option v-for="item in menus" :key="item.id" :selected='menu.menu_id == item.id'  v-bind:value="item.id">{{item.title }}</option>
    </select>
  <span v-if="submitted && !$v.menu.menu_id.required" class="error-field" >Menu is Required</span>
  </div>

  <div class="form-group col-md-6">
    <label for="email">Title</label>
    <input type="text" class="form-control" v-model="menu.title" name="title" id="title_id" placeholder="title">
    <span v-if="submitted && !$v.menu.title.required" class="error-field">Title is Required</span>
  </div>  
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="price"> Price</label>
    <input type="text" class="form-control" v-model="menu.price" name="price" id="price_id" placeholder="Price">
    <span v-if="submitted && !$v.menu.price.numeric" class="error-field">Price must be  Numeric</span>
    <span v-if="submitted && !$v.menu.price.maxLength" class="error-field">Only four digit number allowed </span>
  </div> 
  <div class="form-group col-md-6">
    <label for="description"> Description</label>
    <input type="text" class="form-control" v-model="menu.description" name="description" id="description_id" placeholder="Desription">
      <span v-if="submitted && !$v.menu.description.required" class="error-field" >Description is Required</span>
  </div>
</div>
     <div class="form-row">
           <div class="col-md-12">
              <input type="hidden" name="id" v-model="menu.id">    
              <button  class="btn btn-primary">Update</button>
           </div>
     </div>
     <Toasts 
  :show-progress="true"
  :rtl="false"
  :max-messages="10"
  :time-out="5000"
  :closeable="true"
></Toasts> 
</form>  
</template>
<script>

import axios from 'axios';
 import { required, email, minLength ,requiredIf, maxLength, numeric } from "vuelidate/lib/validators";
export default 
{
data() {

    return {
       menus:[],
       menu:{
       menu_id:"",
       title:"",
       price:"",
       description:"",
       },
      submitted:false,
      errors: []
    }
  },

     validations: {
            menu: {
                menu_id:{
      required: requiredIf(function()
      {
        if(this.menus.value)
        {
          return false;
        }
        else
        {
          return true;
        }
      })
    },
                title: { required },
                price: { required , numeric , maxLength: maxLength(4) },
                description: { required },
            }
        },
  mounted()
  {
    var token=localStorage.getItem('token');

    const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                    };
axios.get('/api/getMenu',{headers}).then(response => 
    {
       const { data }  = response.data;
       this.menus = response.data.data;
    })
    .catch(e => {
      this.errors.push(e)
    })
   
    axios.get('/api/editMenuAttribute/'+this.$route.params.slug,{headers}).then(response => 
    {

       this.menu = response.data.data[0];


    })
    .catch(e => {
      this.errors.push(e)
    })
  }
  ,
  methods:
  {
    submit()
    {
              this.submitted = true;
             this.$v.$touch();
                if (this.$v.$invalid) {

                    return;
                }
       let form = document.forms.namedItem("menu-category");
       let formdata= new FormData(form);
       axios.post('/api/updateMenuAttribute',formdata).then( 
         response=>
         {
            if(response.data.status=='auth_fail')
            {
               this.$router.push('/restaurant/login');
            }
           if(response.data.status=='validErr')
           {
          if(response.data.data.menu)
           {
            this.$toast.warning(response.data.data.menu[0]);
           }
          if(response.data.data.price)
           {
            this.$toast.warning(response.data.data.price[0]);
           }
          if(response.data.data.description)
           {
            this.$toast.warning(response.data.data.description[0]);
           }
          if(response.data.data.title)
           {
            this.$toast.warning(response.data.data.title[0]);
           }

           }
           if(response.data.status=='success')
           {
            this.$router.push("/restaurant/menu-item");     
           }
           if(response.data.status=='faliure')
           {
            this.$toast.warning("Something went wrong.");
           }


         }).catch(
         error=>
         {
            this.$router.push("/restaurant/menu-attributes/all");              
            this.errors.push(error);
         });
    
      

    }
  }  
}
</script>