<template>
    <div class="page_layout">
        <Header></Header>
        <div class="content_wrap">
            <router-view></router-view>
        </div>
        <Footer></Footer>
    </div> 
</template>
<script>
import Header from '../components/header.vue'
import Footer from '../components/footer.vue'
export default {
    components: {
      Header,
      Footer
  },
  mounted() {
            // console.log('Component mounted.')
        }
        
    }
    </script>