.f_btn {
    background-color: var(--orange);
    border-radius: 50px;
    height: 42px;
    min-width: 150px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
}
.f_line_btn {
    display: inline-block;
    text-align: center;
    line-height: 42px;
    height: 42px;
    min-width: 150px;
    background-color: transparent;
    color: $orange;
    border-radius: 50px;
    border: 1px solid $orange;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $orange;
    }
}
@media screen and (max-width: 767px) {
    .f_btn,
    .f_line_btn {
        line-height: 38px;
        height: 38px;
        min-width: auto;
        font-size: 13px;
        padding: 0 12px;
    }
}
