<template>
    <div>
        <!-- <button :class="classes" @click="click(data,'view')" title="view">
            <span>
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>
            &nbsp; View
        </button> -->
        <button :class="classes" @click="click(data,'update')" title="Update">
            <span>
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
            &nbsp;
            Edit
        </button>
           <button :class="classes" @click="click(data,'delete')" title="Update">
            <span>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
            &nbsp;
            Edit
        </button>
    
<!--         <a href="#myModal" class="trigger-btn" data-toggle="modal">
            <span>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
        </a> -->
<!--         <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="material-icons"></i>
                        </div>
                        <h4 class="modal-title w-100">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" @click="click(data,'delete')" class="btn btn-danger">Delete data</button>
                    </div>
                </div>
            </div>
        </div> -->
        </style>
    </div>
</template>
<script type="text/javascript">
export default {
    props: {
        data: {},
        name: {},
        click: {
            type: Function,
            default: () => {}
        },
        classes: {
            type: Object,
            default: () => ({
                'btn': true,
                'btn-primary': true,
                'btn-sm': true,
            }),
        },
    }
}

</script>
