<template>
    <aside>
    <FlashMessage :position="'right top'"></FlashMessage>
        <div class="sidebar_top">
            <button class="button button_icon button_transparent button_toggler">
                <i data-feather="menu"></i>
            </button>
            <div class="logo_wrap">
                <a href="">
                    <img src="/images/logo/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="sidebar_bottom">
            <div class="menu_main">
                <ul class="menu">
                    <!-- <li class="menu-item">
                        <a href="javascript:void(0)" @click="orders" class="menu-link">
                            <span class="menu_icon">
                                <i data-feather="grid"></i>
                            </span>
                            <span class="menu_text">Orders</span>
                        </a>
                    </li> -->
                    <li class="menu-item">
                        <!-- <a class="menu-link" @click="restaurants" href="javascript:void(0)">
                            <span class="menu_icon">
                                <i data-feather="coffee"></i>
                            </span>
                            <span class="menu_text">Restaurants</span>
                        </a> -->
                    </li> 

                    <ul class="menu-sub">
                        <li class="menu-item">

                            <router-link :to="{path:'/restaurant/menu'}" class="menu-link">
                                <span class="menu_icon">
                                    <i data-feather="book-open"></i>
                                </span>
                                <span class="menu_text">Menus</span>
                            </router-link>
                            <!-- <router-link :to="{path:'/restaurant/menu-item'}" class="menu-link">
                                <span class="menu_icon">
                                    <i data-feather="book-open"></i>
                                </span>
                                <span class="menu_text">Menu Item</span>
                            </router-link> -->
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <router-link :to="{path:'/restaurant/category'}" class="menu-link">
                                        <span class="menu_icon">
                                            <i data-feather="list"></i>
                                        </span>
                                        <span class="menu_text">Categories</span>
                                    </router-link>        

                                </li>
                                <li class="menu-item">
                                    <router-link :to="{path:'/restaurant/employee'}" class="menu-link">
                                        <span class="menu_icon">
                                            <i data-feather="users"></i>
                                        </span>
                                        <span class="menu_text"> Employees</span>
                                    </router-link>
                                </li>
                                <!-- <li class="menu-item">
                                    <router-link :to="{path:'/restaurant/job'}" class="menu-link">
                                        <span class="menu_icon">
                                            <i data-feather="briefcase"></i>
                                        </span>
                                        <span class="menu_text">Restaurant Jobs</span>
                                    </router-link>
                                </li> -->
                                <li class="menu-item">
                                    <router-link :to="{path:'/restaurant/vendor'}" class="menu-link">
                                        <span class="menu_icon">
                                            <i data-feather="users"></i>
                                        </span>
                                        <span class="menu_text">Vendors</span>
                                    </router-link>
                                </li>

                            </ul>
                        </li>


                        <li class="menu-item">
                            <router-link :to="{path:'/restaurant/setting'}" class="menu-link">
                                <span class="menu_icon">
                                    <i data-feather="settings"></i>
                                </span>
                                <span class="menu_text">Setting</span>
                            </router-link>        
                        </li>  

                        <li class="menu-item">
                            <router-link :to="{path:'/restaurant/client'}" class="menu-link">
                                <span class="menu_icon">
                                    <i data-feather="users"></i>
                                </span>
                                <span class="menu_text">Clients</span>
                            </router-link>
                        </li>
                        <li class="menu-item">
                            <router-link :to="{path:'/restaurant/coupon/all'}" class="menu-link">
                                <span class="menu_icon">
                                    <i data-feather="users"></i>
                                </span>
                                <span class="menu_text">Coupens</span>
                            </router-link>
                        </li>
                        <li class="menu-item">
                            <router-link :to="{path:'/restaurant/order/all'}" class="menu-link">
                                <span class="menu_icon">
                                    <i data-feather="users"></i>
                                </span>
                                <span class="menu_text">Orders</span>
                            </router-link>
                        </li>
                        <li class="menu-item">
                            <router-link :to="{path:'/restaurant/order/assign'}" class="menu-link">
                                <span class="menu_icon">
                                    <i data-feather="users"></i>
                                </span>
                                <span class="menu_text">Assign Orders</span>
                            </router-link>
                        </li>                                                                                                       
                    </ul>
                    


                    <!-- <li class="menu-item">
                        <a href="" class="menu-link">
                            <span class="menu_icon">
                                <i data-feather="award"></i>
                            </span>
                            <span class="menu_text">Offers</span>
                        </a>
                    </li> -->
                     <!-- <li class="menu-item">
                        <a href="/customer/all" class="menu-link">
                            <span class="menu_icon">
                                <i data-feather="users"></i>
                            </span>
                            <span class="menu_text">Clients</span>
                        </a>
                    </li>  -->
                </ul>
            </div>
            <!-- <div class="menu_bottom">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="" class="menu-link">
                            <span class="menu_icon">
                                <i data-feather="settings"></i>
                            </span>
                            <span class="menu_text">Settings</span>
                        </a>
                    </li>
                     <li class="menu-item">
                        <a href="" class="menu-link">
                            <span class="menu_icon">
                                <i data-feather="bell"></i>
                            </span>
                            <span class="menu_text">Notifications</span>
                        </a>
                    
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">
                            <span class="menu_icon">
                                <img src="/images/user.png" alt="" class="user">
                            </span>
                            <span class="menu_text">Customer Name</span>
                        </a>
                    </li> 
                </ul>
            </div> -->
        </div>
    </aside>
</template>
<script>
    export default {
        mounted() {
      //console.log('Component mounted.')
  }, methods:{

      restaurants()
      {
        this.$router.push('/restaurant');
    },
    jobs()
    {
        this.$router.push('/restaurant/job');
    },
    vendors()
    {
        this.$router.push('/restaurant/vendor');
    },
    category()
    {
        this.$router.push('/restaurant/category');
    },
    subcategory()
    {
        this.$router.push('/restaurant/subcategory');
    },
    menus()
    {
        this.$router.push('/restaurant/menu');        
    },
    orders()
    {
        this.$router.push('/order/list');        
    },
    setting()
    {
        this.$router.push('/restaurant/workspace/edit');   
    }

}
}
</script>