<template>
  <div>
   <div class="page-title"><h2>Add Vendor</h2></div>
<form name="restaurant-vendor"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
   <div class="form-group col-md-6">
    <label for="contact">Company Name</label>
    <input type="text" class="form-control" v-model="vendor.company" name="company" id="company_id" placeholder="Company">
      <span v-if="submitted && !$v.vendor.company.required" class="error-field">Please Enter Company Name</span>
  </div>
    <div class="form-group col-md-6">
    <label for="company_display"> Display Name</label>
    <input type="text" class="form-control" v-model="vendor.display" name="display" id="display_id" placeholder="Display Name">
      <span v-if="submitted && !$v.vendor.display.required" class="error-field">Please Enter Display Name</span>
  </div> 
 </div>
  <div class="form-row">  
  
  <div class="form-group col-md-6">
    <label for="address"> Address</label>
    <textarea class="form-control" v-model="vendor.address" name="address" id="address_id" placeholder="Address"></textarea>
      <span v-if="submitted && !$v.vendor.address.required" class="error-field">Please Enter Address</span>
  </div>
   <div class="form-group col-md-6">
    <label for="phone">Primary Contact</label>
    <input type="text" class="form-control" v-model="vendor.contact"
      name="contact" id="contact_id" placeholder="Primary Contact Number">
      <span v-if="submitted && !$v.vendor.contact.required" class="error-field">Please Enter Contact number</span>
      <span v-if="submitted && !$v.vendor.contact.numeric" class="error-field">Only numeric value allowed</span>
      <span v-if="submitted && !$v.vendor.contact.maxLength" class="error-field">Only ten digit allowed</span>
  </div>
</div>
    <div class="form-row">
        
   
  
  <div class="form-group col-md-6">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" v-model="vendor.phone" name="phone" id="phone_id" placeholder="Phone Number">

      <span v-if="submitted && !$v.vendor.phone.numeric" class="error-field">Only numeric value allowed</span>
      <span v-if="submitted && !$v.vendor.phone.maxLength" class="error-field">Only ten digit allowed</span>
  </div>
  <div class="form-group col-md-6">
    <label for="website">Website</label>
    <input type="text" class="form-control" v-model="vendor.website" name="website" id="website_id" placeholder="Website">
    <span v-if="submitted && !$v.vendor.website.required" class="error-field">Please Enter Website</span>
    <span v-if="submitted && !$v.vendor.website.url" class="error-field">Invalid website format</span>  
  </div>
    </div>     
 

<div class="form-row">
   <div class="col-md-12">
     <button  class="btn btn-primary">Create</button>
   </div>
</div>
</form>  

  </div>
</template>
<script>

import axios from 'axios';
import { required , numeric , maxLength, url} from "vuelidate/lib/validators";
const headers = {"Authorization":'Bearer ' + localStorage.getItem("token")}
export default 
{
data() {
    return {
      errors: [],
      vendor:{
         restaurant:"",
         company:"",
         display:"",
         address:"",
         phone:"",
         website:"",
         contact:""
            },
      submitted:false    
    }
  },
  mounted()
  {

  },
  validations:{
  vendor:{

         company:{ required },
         display:{ required },
         address:{ required },
         phone:{  numeric, maxLength: maxLength(10) },
         contact: {required, numeric, maxLength: maxLength(10) },
         website:{ required , url },

  }
  },

  methods:
  {
    submit()
    {

        this.submitted=true;
        this.$v.$touch();
        if(this.$v.$invalid)
        {
           return;
        }
       let form = document.forms.namedItem("restaurant-vendor");
       let formdata= new FormData(form);
       axios.post('/api/createVendor',formdata).then( 
         response=>
         {
           if(response.data.status=='auth_fail')
           {
            this.flashMessage.error({title: 'Error', message: "Please Logged in."});            
             this.$router.push('/restaurant/login');
           }
           if(response.data.status=='validErr')
           {
          if(response.data.data.company_name)
           {
            this.flashMessage.warning({title: 'Error', message: company_name[0]});            
           }
          if(response.data.data.address)
           {
            this.flashMessage.warning({title: 'Error', message: address[0]});

           }
          if(response.data.data.phone)
           {
            this.flashMessage.warning({title: 'Error', message: phone[0]});

           }           
          if(response.data.data.contact)
           {
            this.flashMessage.warning({title: 'Error', message: contact[0]});

           }
          if(response.data.data.website)
           {
            this.flashMessage.warning({title: 'Error', message: website[0]});
           }            
            }
             
             if(response.data.status=="success")
             {
            this.flashMessage.success({title: 'Success', message:"Record created succesfully"});              
                this.$router.push('/restaurant/vendor');
             }
             else
             {

             }

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
    },
  
  }  
}
</script>