<template>
    <div class="page_wrap">
        <div class="page-title">
            <h2>Vendor</h2>
        </div>
<div class="restaurent_filter">
        <button class="button button_md button-color-o" @click="add">Add</button>
            <data-table
                v-if="isReload"
                :columns="columns"
                    :data="data"
               @on-table-props-changed="reloadTable"
                :headers="header">

            </data-table>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import actions from '../../components/actions.vue';
const headers = {
    "Authorization": 'Bearer ' + localStorage.getItem("token")
}

export default {
    data() {
        return {
         isReload:true,
            vendors: {},
            errors: [],
      data:{},
      url:"/api/allVendor",
    tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },

             columns: [
                {
                    label: 'Company',
                    name: 'company_name',
                    orderable: true,

                },
                {
                    label: 'Address',
                    name: 'address',
                    orderable: true,
                },
                {
                    label: 'Website',
                    name: 'website',
                    orderable: true,
                },

                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,
        }
    },

    mounted() {


    },
    created() {
        this.getData(this.url);
    },
    methods: {
 getData(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                 this.$router.push('/restaurant/login');
               }
                this.data = response.data;
            })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },        
                action(data,type) {

           if(type=='update')
           {

             this.$router.push('/restaurant/vendor/edit/'+data.slug);
           }
           if(type=='delete')
           {

             this.deleteVendor(data.id);
           }
        },
               add()
               {
                  this.$router.push('/restaurant/vendor/create');
               },

        deleteVendor(id) 
        {

            var token = localStorage.getItem('token');
            const headers = {
                "Authorization": 'Bearer ' + localStorage.getItem("token")}

            let formdata = new FormData();
            formdata.append('id',id);
            axios({
                method: 'post',
                url: '/api/deleteVendor',
                'headers': headers,
                data: formdata

            }).then(response => {
              
              if(response.data.status=='auth_fail')
              {
                this.$router.push('/restarant/login');
              }
        this.getData(this.url);
            })
            .catch(e => {
                this.errors.push(e)
            })

        }
    }
    }


</script>
