<template>
  <div>
    <div class="page-title"><h2>Edit Vendor</h2></div>
<form name="restaurant-vendor"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
  
  <div class="form-group col-md-6">
    <label for="contact">Company Name</label>
    <input type="text" class="form-control" v-model="vendor.company_name" name="company" id="company_id" placeholder="Company">
    <span v-if="submitted && !$v.vendor.company_name.required" class="error-field">Please enter company name</span>
  </div>

  <div class="form-group col-md-6">
    <label for="company_display"> Display Name</label>
    <input type="text" class="form-control" v-model="vendor.display_name" name="display" id="display_id" placeholder="Display Name">
      <span v-if="submitted && !$v.vendor.display_name.required" class="error-field">Please enter company's display name</span>
  </div> 
 </div>
  <div class="form-row">  
  
  <div class="form-group col-md-6">
    <label for="address"> Address</label>
    <textarea type="text" class="form-control" v-model="vendor.address" name="address" id="address_id" placeholder="Address"></textarea>
  </div>
 <div class="form-group col-md-6">
    <label for="phone">Primary Contact</label>
    <input type="text" class="form-control" v-model="vendor.primary_contact" name="contact" id="contact_id" placeholder="Primary Contact Number">
      <span v-if="submitted && !$v.vendor.primary_contact.required" class="error-field">Please enter primary contact number</span>
      <span v-if="submitted && !$v.vendor.primary_contact.numeric" class="error-field">Only numeric value allowed</span>
      <span v-if="submitted && !$v.vendor.primary_contact.maxLength" class="error-field">Only ten digit allowed</span>
  </div>
</div>
    <div class="form-row">
      
   
  <div class="form-group col-md-6">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" v-model="vendor.phone" name="phone" id="phone_id" placeholder="Phone Number">
      <span v-if="submitted && !$v.vendor.phone.numeric" class="error-field">Only numeric value allowed</span>
      <span v-if="submitted && !$v.vendor.phone.maxLength" class="error-field">Only ten digit allowed</span>
  </div>
  <div class="form-group col-md-6">
    <label for="website">Website</label>
    <input type="text" class="form-control" v-model="vendor.website" name="website" id="website_id" placeholder="Website">
    <span v-if="submitted && !$v.vendor.website.required" class="error-field">Please Enter Website</span>
    <span v-if="submitted && !$v.vendor.website.url" class="error-field">Invalid website format</span>  
  </div>
    </div>      
<div class="form-row">
  <div class="col-md-12">
     <input type="hidden" name="id" v-model="vendor.id">
        <button  class="btn btn-primary">Update</button>
  </div>  
</div>
</form>

</div> 
</template>
<script>

import axios from 'axios';
import { required , numeric , maxLength, url} from "vuelidate/lib/validators";
const headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}
export default 
{
data() {
    return {
      restaurants: [],
      errors: [],
      vendor:{
         restaurant_id:"",
         company_name:"",
         display_name:"",
         address:"",
         phone:"",
         website:"",
         primary_contact:""
            },
      submitted:false    

    }
  },
    validations:{
    vendor:{
         company_name:{ required },
         display_name:{ required },
         address:{ required },
         phone:{  numeric, maxLength: maxLength(10) },
         primary_contact: {required, numeric, maxLength: maxLength(10) },
         website:{ required , url },

         }
  },
  mounted()
  {
    axios.get('/api/editVendor/'+this.$route.params.slug,{headers}).then(response => 
    {
        if(response.data.status=='auth_fail')
        {
          this.$router.push('/restaurant/login');
        }
       const { data }  = response.data;
       this.vendor = response.data.data[0];
       
    })
    .catch(e => {
      this.errors.push(e)
    })


  }
  ,
  methods:
  {
    submit()
    {
        this.submitted=true;
        this.$v.$touch();
        if(this.$v.$invalid)
        {
           return;
        }

       let form = document.forms.namedItem("restaurant-vendor");
       let formdata= new FormData(form);
        axios({method:'post',
           url:'/api/updateVendor',
          'headers':headers,
          data:formdata

          }).then( 
         response=>
         {
            if(response.data.status=='auth_fail')
            {
            this.flashMessage.error({title: 'Error', message: "Please Logged in."});                          
              this.$router.push('/restaurant/login');
            }
            if(response.data.status=='validErr')
            {
            if(response.data.data.company_name)
           {
            this.flashMessage.warning({title: 'Error', message: company_name[0]});            
           }
          if(response.data.data.address)
           {
            this.flashMessage.warning({title: 'Error', message: address[0]});
           }
          if(response.data.data.phone)
           {
            this.flashMessage.warning({title: 'Error', message: phone[0]});
           }           
          if(response.data.data.contact)
           {
            this.flashMessage.warning({title: 'Error', message: contact[0]});
           }
          if(response.data.data.website)
           {
            this.flashMessage.warning({title: 'Error', message: website[0]});
           }            

            }
            if(response.data.status=='success')
            {
            this.flashMessage.success({title: 'Success', message:"Record updated succesfully"});                 
            this.$router.push("/restaurant/vendor");
            }

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
    }  
  }  
}
</script>