.page{
	&-title{
		margin-bottom: 35px;
		h2{
			font-size: 22px;
			color: $black;
			margin: 0px;
			padding: 0px;
			position: relative;
			&::before{
				    content: "";
				    position: absolute;
				    bottom: -6px;
				    width: 40px;
				    height: 2px;
				    background: var(--brand-color);
			}
		}
		&.title-action{
			display: flex;
			align-items: center;
			h2{
				flex:1 1 auto;
				max-width: 100%;
			}
			.action{
				flex: 0 0 auto;
				width: auto;
				max-width: 100%;
			}
		}
	}
	&-actions{
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		.search-filter{
			display: flex;
			flex-wrap: wrap;
			.search{
				margin-right: 10px;
			}
		}
	}

}