
<template>
<div>
  <div class="page-title"><h2>Settings</h2></div>
<form name="restaurant-workspace"  @submit.prevent="submit" class="create-category">
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="domain">Name</label>
    <input type="text" class="form-control" v-model="restaurant.name" name="rname" id="name_id" placeholder="Name">
  <span v-if="submitted && !$v.restaurant.name.required" class="error-field">Please Enter Name</span>    
  </div>
    <div class="form-group col-md-6">
    <label for="email">Email</label>
    <input type="text" class="form-control" v-model="restaurant.email" name="email" id="email_id"
     placeholder="Email">
  <span v-if="submitted && !$v.restaurant.email.required" class="error-field">Please Enter Email</span>    
  <span v-if="submitted && !$v.restaurant.email.email" class="error-field">Email format is wrong</span>    
  </div>
    <div class="form-group col-md-6">
    <label for="website">Website</label>
    <input type="text" class="form-control" v-model="restaurant.website" name="website" id="website_id" placeholder="Website">
  <span v-if="submitted && !$v.restaurant.website.required" class="error-field">Please Enter Website</span>    
  </div>
    <div class="form-group col-md-6">
    <label for="contact">Contact Number</label>
    <input type="text" class="form-control" v-model="restaurant.contact_number" name="contact" id="contact_id" placeholder="Contact Number">
  <span v-if="submitted && !$v.restaurant.contact_number.required" class="error-field">Please Enter Contact Number</span>    
  <span v-if="submitted && !$v.restaurant.contact_number.numeric" class="error-field">Contact number should be numeric</span>
    <span v-if="submitted && !$v.restaurant.contact_number.maxLength" class="error-field">Only ten digits allowed </span>    
  </div>
  <div class="form-group col-md-6">
    <label for="domain">Domain</label>
    <input type="text" class="form-control" v-model="work.domain" name="domain" id="domain_id" placeholder="Domain">
        <span v-if="submitted && !$v.work.domain.required" class="error-field">Please Enter Domain</span>    
  </div>
  <div class="form-group col-md-6">
    <label for="logo">Logo</label>
    <input type="file" ref="file" class="form-control" name="logo" id="logo_id" placeholder="Logo">
  <span v-if="noimg" class="error-field">Please Upload Logo</span>
<span v-if="noformat" class="error-field">Logo should be in jpg, jpeg, png ,tff format</span>
  </div>  
  <div  v-if="work.restaurant_logo" class="form-group col-md-6">
    <label for="logo">Uploaded Logo</label>
<img v-show="isLoaded" @load="onImgLoad"  v-bind:src='"/images/restaurant_workspace/logo/"+ work.restaurant_logo' style="width:100px; height:100px;">
  </div>
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="icon"> Icon</label>
    <input type="file" ref="file1" class="form-control"  name="icon" id="icon_id" placeholder="Icon">
<span v-if="noimg1" class="error-field">Please Upload Icon</span>
<span v-if="noformat1" class="error-field">Icon should be in jpg, jpeg, png ,tff format</span>
  </div>
    <div v-if="work.restaurant_favicon" class="form-group col-md-6">
    <label for="logo">Uploaded Icon</label>
<img v-show="iconLoaded" @load="onIconLoad"  v-bind:src='"/images/restaurant_workspace/icon/"+ work.restaurant_favicon' style="width:100px; height:100px;">
  </div> 
  <div class="form-group col-md-6 brand-color">
    <label for="brand_color">Brand Color</label>
     <sketch-picker name="colour" v-model="colors" />
  </div>

<label for="vehicle1">Do You want to manage stock</label><br>
<input type="checkbox" id="manage" v-model="restaurant.manage_stock"  name="stock" value="1"  >
</div>
     <div class="form-row">
      <div class="col-md-12">
           <input type='hidden' name="colour" :value="colors?colors.hex:''" >
          <input type="hidden" name="id" v-model="work.id">
           <input type="hidden" name="wicon" v-model="work.restaurant_favicon">
           <input type="hidden" name="wlogo" v-model="work.restaurant_logo">
           <input type="hidden" name="restid" v-model="restaurant.id">
           <input type='hidden' name='clr' v-model="work.brand_color"> 
           <button  class="btn btn-primary">Update</button>
      </div>
     </div>
</form>
<Toasts 
  :show-progress="true"
  :rtl="false"
  :max-messages="10"
  :time-out="5000"
  :closeable="true"
></Toasts>   
</div>
</template>
<script>

import axios from 'axios';
import { required  ,email,  numeric, maxLength} from "vuelidate/lib/validators";
import { Sketch  } from 'vue-color'
export default 
{
  components: {
    // 'photoshop-picker': Photoshop
  'sketch-picker': Sketch  
  },
data() {

    return {
      noimg:false,
      noformat:false,
      noimg1:false,
      isLoaded:false,
      iconLoaded:false,
      noformat1:false,
      colors:'',
restaurant: {},
      errors: [],
 work:{},     
  submitted:false    
}

  },
  validations:
  {
     work:{
         domain:{ required },
          },
     restaurant:{
       name:{required},
       email:{required ,email},
       website:{required},
       contact_number:{required, numeric ,maxLength: maxLength(10) }
     }     
   },
  mounted()
  {

    const headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}

    axios.get('/api/editRestaurantWorkspace',{headers}).then(response => 
    {
            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }

const { data }  = response.data;
      this.work = response.data.data[0] ? response.data.data[0] : {};
      this.restaurant=response.data.restaurant[0] ? response.data.restaurant[0] : {};
      console.log(response);
     })
    .catch(e => {
      this.errors.push(e)
    })
  }
  ,
  methods:
  {
    onImgLoad()
    {

     this.isLoaded = true;
    },
    onIconLoad()
    {
           this.iconLoaded = true;
    },

    submit()
    {

       this.submitted=true;
        let file= this.$refs.file.files[0];
        let file1= this.$refs.file1.files[0];      
       this.$v.$touch();
  
      if(this.$v.$invalid)
       {  
         if(! this.work.restaurant_favicon && !this.work.restaurant_logo)
        {
        if(!file) 
        {
         this.noimg=true;

        }
        else
        {
        this.noimg=false;
        let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
        if(!formats.includes(file['type']))
        {
            this.noformat=true;
        }
        }
        if(!file1) 
        {
         this.noimg1=true;

        }
        else
        {
        this.noimg1=false;
        let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
        if(!formats.includes(file1['type']))
        {
            this.noformat1=true;

        }
        }   
        
        }        
        
         return ;
       }
      if(! this.work.restaurant_favicon && !this.work.restaurant_logo)
        {
        if(!file) 
        {
         this.noimg=true;

        }
        else
        {
        this.noimg=false;
        let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
        if(!formats.includes(file['type']))
        {
            this.noformat=true;
            return ;
        }
        }
        if(!file1) 
        {
         this.noimg1=true;
        }
        else
        {
        this.noimg1=false;
        let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
        if(!formats.includes(file1['type']))
        {
            this.noformat1=true;
         return true;
        }
        }   
        
        }
        else
        {
        if(file) 
        {

        let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
        if(!formats.includes(file1['type']))
        {
            this.noformat=true;
         return true;
        }

        }
        if(file1)
        {
        let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
        if(!formats.includes(file1['type']))
        {
            this.noformat1=true;
         return true;
        }

        }
        }    
       let form = document.forms.namedItem("restaurant-workspace");
       let formdata= new FormData(form);
       axios.post('/api/updateRestaurantWorkspace',formdata).then( 
         response=>
         {

            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }
              if(response.data.status=="success")
              {
            this.$toast.success("Record updated successfully");
              }
              if(response.data.status=="validErr")
              {
          if(response.data.data.name)
           {
            this.$toast.warning(response.data.data.name[0]);
           }
           else
           {
          if(response.data.data.email)
           {
            this.$toast.warning(response.data.data.email[0]);
           }
           else
           {
          if(response.data.data.website)
           {
            this.$toast.warning(response.data.data.website[0]);
           }
           else
           {
          if(response.data.data.contact)
           {
            this.$toast.warning(response.data.data.contact[0]);
           }
          else
          {
          if(response.data.data.domain)
           {
            this.$toast.warning(response.data.data.name[0]);
           }
          else
          {
          if(response.data.data.icon)
           {
            this.$toast.warning(response.data.data.icon[0]);
           }
         else
         {
          if(response.data.data.logo)
           {
            this.$toast.warning(response.data.data.logo[0]);
           }           
         }              
          }             
          } 

           }
           }             
           }

              }

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }
  }  
}
</script>