<template>
<div>
<form name="restaurant-coupen"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
<div class="form-group col-md-6">
    <label for="title">Title</label>
    <input type="text" class="form-control" v-model="coupen.title" name="title" id="title_id" placeholder="Title">
<span v-if="submitted && !$v.coupen.title.required" class="error-field">Please enter title</span>
</div>

<div class="form-group col-md-6">
    <label for="description">Description</label>
    <input type="text" class="form-control" v-model="coupen.description" name="description" id="description_id" placeholder="Description">
<span v-if="submitted && !$v.coupen.description.required" class="error-field"> Please enter description </span>    
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
    <label for="code">Code</label>
    <input type="text" class="form-control" v-model="coupen.code" name="code" id="code_id" placeholder="Code">
<span v-if="submitted && !$v.coupen.code.required" class="error-field">Please enter code</span>    
</div>
    <div class="form-group col-md-6">
    <label for="title">Coupen Type</label>
<select name ="type" v-model="coupen.type">
<option value="">Please select coupen type</option>
<option value="discount">Discount</option>
<option value="fixed">Fixed price</option>    
</select>  
  <span v-if="submitted && !$v.coupen.type.required" class="error-field">Please select coupen type</span>      
</div>
</div>
 <div class="form-row">
<div class="form-group col-md-6">
    <label for="title">Price</label>
    <input type="text" class="form-control" v-model="coupen.price" name="price" id="price_id" placeholder="Price">
<span v-if="submitted && !$v.coupen.price.required" class="error-field">Please enter price</span>    
<span v-if="submitted && !$v.coupen.price.numeric" class="error-field">Only numbers allowed</span>    
</div>
<div class="form-group col-md-6">
    <label for="title">Valid Period(in days)</label>
    <input type="text" class="form-control" v-model="coupen.days" name="days" id="day_id" placeholder="Days">
<span v-if="submitted && !$v.coupen.days.required" class="error-field">Please enter days</span>
<span v-if="submitted && !$v.coupen.days.numeric" class="error-field">Only numbers allowed</span>    
<span v-if="submitted && !$v.coupen.days.maxValue" class="error-field">Maximum number of days cannot be greater than 100</span>
</div>

 </div>    
<div class="form-row">
  <div class="col-md-12">
     <button class="btn btn-primary">Submit</button>
</div>
</div>      

</form>

</div>
</template>
<script>

import axios from 'axios';
import { required,numeric, maxValue } from "vuelidate/lib/validators";
export default 
{
data() {

    return {
restaurants: [],
      errors: [],
      coupen:{

         title:"",
         description:"",
         code:"",
         type:"",
         price:"",
         days:"" 
      },
       submitted :false   
    }
  },
  mounted()
  {

  }
  ,
  validations:{

     coupen:{

         title:{ required },
         description:{ required },
         code:{ required },
         type:{ required },
         price:{ required , numeric},
         days:{ required, numeric , maxValue : maxValue(100)},

     }
  },
  methods:
  {
    submit()
    {


        this.submitted =true;
        this.$v.$touch();
        if(this.$v.$invalid)
        {
           return ;
        }

       let form = document.forms.namedItem("restaurant-coupen");
       let formdata= new FormData(form);
       axios({
       method:'post',
       url:'/api/createCoupon',
       data:formdata,
       headers:{ "Authorization":'Bearer ' + localStorage.getItem("token")}

       }).then( 
         response=>
         {
           if(response.data.status=='auth_fail')
           {
            this.flashMessage.warning({title: 'Warning', message:"Please Logged in"});               
              this.$router.push('/restaurant/login');

           }
           if(response.data.status=='validErr')
           {

             if(response.data.data.title)
           {
            this.flashMessage.warning({title: 'Error', message: title[0]});               

           }
          if(response.data.data.description)
           {
            this.flashMessage.warning({title: 'Error', message: description[0]});        
           }
          if(response.data.data.code)
           {
            this.flashMessage.warning({title: 'Error', message: code[0]});                    
           }
          if(response.data.data.type)
           {
            this.flashMessage.warning({title: 'Error', message: type[0]});                  
           }
            if(response.data.data.price)
           {
            this.flashMessage.warning({title: 'Error', message: price[0]});   
           }  
          if(response.data.data.days)
           {
            this.flashMessage.warning({title: 'Error', message: days[0]});   

           }                                          
           }// validation error if statement 
           else{
            this.flashMessage.warning({title: 'Error', message:"Record created successfully"});               
          this.$router.push('/restaurant/coupon/all');   
            }
         }).catch(
         error=>
         {
            this.errors.push(error);
         });        

    }
  }  
}
</script>
