<template>
<div>	
<button :class="classes" @click="click(data,'view')" title="view">
        <span>
            <i class="fa fa-eye" aria-hidden="true"></i>
        </span>
        &nbsp;
  View
    </button>
<button :class="classes" @click="click(data,'update')" title="Update">
        <span>
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
          &nbsp;
      Edit
    </button>
<button :class="classes" @click="click(data,'delete')" title="delete">
        <span>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </span>
        &nbsp;
    Delete
    </button>        
</div>
</template>
<script type="text/javascript">
export default {
    props: {
        data: {},
        name: {},
        click: {
            type: Function,
            default: () => {}
        },
        classes: {
            type: Object,
            default: () => ({ 
                'btn': true,
                'btn-primary': true,
                'btn-sm': true,
            }),
        },
    }
}
</script>