<template>
<div>
    <form name="add-restaurant" @submit.prevent="submit" class="create-category">
        <div class="form-group col-md-6">
           <label>Name</label><input type="text" name="name" id="name_id">
        </div>
         <div class="form-group col-md-6">
            <label>Email</label><input type="text" name="email" id="email_id">
        </div>
         <div class="form-group col-md-6">
             <label>Website</label><input type="text" name="website" id="website_id">
         </div>
          <div class="form-group col-md-6">
            <label>contact</label><input type="text" name="contact" id="contact_id">
           </div>
          <div class="form-group col-md-12">
            <button class="btn btn-primary"> Create</button>
          </div>
    </form>
</div>
</template>
<script>
import axios from 'axios';

export default {
 data() {
    return {
      restaurants: {},
       fields: {},
      errors: []
    }
  },

  methods:
  {
    submit()
      {

         let form=document.forms.namedItem("add-restaurant");
          let formdata = new FormData(form);

        axios.post('/api/createRestaurant',formdata).then(response => 
          {

          this.$router.push('/restaurant');   
          }).catch(error => 
            {
              this.errors.push(error)
            });

      }
  }


}
</script>