<template>
    <div class="page_wrap">
        <div class="page-title">
            <h2>Restaurant</h2>
            
        </div>

        <div class="restaurent_filter">
        <button class="button button_md button-color-o" @click="Add">Add</button>
            <data-table 
                v-if="isReload"
                :columns="columns"
                :url="url"
                :headers="header">

            </data-table>
        </div>
    </div> 
</template>
<script>
const headers = {
    "Authorization": 'Bearer ' + localStorage.getItem("token")
}
import axios from 'axios';
import actions from './actions.vue';


export default {
    data() {
        return {
            isReload:true,
            url:'/api/allRestaurants',
            errors: [],
perPage:['6','8','10'],
    components: 
        {
           actions,
         },
       columns: [
                {
                    label: 'Name',
                    name: 'name',
                    orderable: true,
                    classes:{"td":"table-dark"}
                },
                {
                    label: 'Email',
                    name: 'email',
                    orderable: true,
                },
                {
                    label: 'Website',
                    name: 'website',
                    orderable: true,
                },
                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,


        }
    },
    mounted() {

    },
    methods: {
        action(data,type) {

           if(type=='update')
           {
             this.$router.push('/restaurant/vendor/edit/'+data.company_name);
           }
           if(type=='delete')
           {

             this.deleteRestaurant(data.email); 
           }

        },
        
     Add()
     {
       this.$router.push('/restaurant/create');
     },   

        deleteRestaurant(email) 
        {
  
            var token = localStorage.getItem('token');

            const headers = {
                "Authorization": 'Bearer ' + localStorage.getItem("token")
            }
            let formdata = new FormData();
            formdata.append('email', email);
            axios({
                    method: 'post',
                    url: '/api/deleteRestaurant',
                    'headers': headers,
                    data: formdata

                }).then(response => {
                    this.isReload = false;
                    setTimeout(() => {
                        this.isReload = true;
                    },200);


                })
                .catch(e => {
                    this.errors.push(e)
                })
         
       }
        
    }
}

</script>
