<template>
    <form name="update-restaurant" @submit.prevent="submit" class="create-category">
       <div class="form-group col-md-6">
           <label>Name</label>
          <input type="text" name="name" id="name_id" v-model="restaurants.name">
       </div>
        <div class="form-group col-md-6">
            <label>Email</label><input type="text" name="email" id="email_id" v-model="restaurants.email">
         </div>
         <div class="form-group col-md-6">
        <label>Website</label><input type="text" name="website" id="website_id" v-model= "restaurants.website">
         </div>
         <div class="form-group col-md-6">
        <label>contact</label><input type="text" name="contact" id="contact_id" v-model="restaurants.contact_number">
        </div>
        <div class="form-group col-md-12">
          <input type="hidden" name="slug" v-model="restaurants.slug">
           <button class="btn btn-primary">Update</button>
     </div>
    </form>
</template>
<script>
import axios from 'axios';

export default {
 data() {
    return {
      restaurants: {},
       fields: {},
      errors: []
    }
  },

  mounted() 
      {

        var token=localStorage.getItem('token');
        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
  axios.get('/api/editRestaurant/'+this.$route.params.slug ,{headers}).then(response => 
    {
       const { data }  = response;
       this.restaurants = data[0];
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods:
  {
    submit()
      {

         let form=document.forms.namedItem("update-restaurant");
         let formdata = new FormData(form);

        axios.post('/api/updateRestaurant',formdata).then(response => 
          {

          this.$router.push('/restaurant');   
          }).catch(error => 
            {
              this.errors.push(error)
            });

      }
  }


}
</script>