<template>
<div>
  <div class="page-title">
    <h2>Add Menu</h2>
  </div>
<form name="restaurant-menu"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Category</label>
    <select class="form-control" v-model="menu.category" name="category" v-on:change="getSubcategory">
    <option value=''>Category</option>
    <option v-for="category in categories" :key="category.id"   v-bind:value="category.id">{{category.parent_title }}</option>
    </select>
    <span v-if=" submitted && !$v.menu.category.required" class="error-field">Please Select Category</span>    
  </div>
  <div class="form-group col-md-6">
   
    <label for="name">SubCategory</label>
    <select class="form-control" v-model="menu.subcategory" name="subcategory">
    <option value="">SubCategory</option>  
    <option v-for="subcategory in subcategories" :key="subcategory.id"
     v-if="subcategory.title"  v-bind:value="subcategory.id" >{{ subcategory.title }}</option>
    </select>  

    </div>  
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="contact"> Title</label>
    <input type="text" class="form-control" v-model="menu.title" name="title" id="title_id" placeholder="Title">
    <span v-if=" submitted &&!$v.menu.title.required" class="error-field">Please Enter Title</span>
  </div> 
  <div class="form-group col-md-6">
    <label for="role"> Thumbnail</label>
    <input type="file" class="form-control" ref="file" name="thumbnail" id="thumbnail_id" placeholder="">
<span v-if="noimg" class="error-field">Please Upload Image</span>
<span v-if="noformat" class="error-field">Image should be in jpg, jpeg, png ,tff format</span>
  </div>
</div>
    <div class="form-row">
       <div class="form-group col-md-6">
         <label for="service"> Service Type</label>
          <input type="text" class="form-control" v-model="menu.service" name="service" id="service_id" placeholder="Service Type">
           <span v-if=" submitted && !$v.menu.service.required" class="error-field">Please Enter Service</span>
       </div>
        <div class="form-group col-md-6">
    <label for="gender">Description</label>
    <textarea class="form-control" v-model="menu.description" name="description" id="description_id" placeholder="description"></textarea>
    <span v-if=" submitted && !$v.menu.description.required" class="error-field">Please Enter Description</span>
  </div>
    </div>   
    <div class="form-row">
    <div class="form-group col-md-6">
    <label for="calories">Calories</label>
    <input type="text" class="form-control" v-model="menu.calory" name="calories" id="calory_id" placeholder="Calories">
    <span v-if=" submitted && !$v.menu.calory.required" class="error-field">Please Enter Calories</span>
    <span v-if=" submitted && !$v.menu.calory.numeric" class="error-field">Please Enter Numeric Value</span>
  </div>
   <div class="form-group col-md-6">
    <label for="price">Price</label>
    <input type="text" class="form-control" v-model="menu.price" name="price" id="price_id" placeholder="Price">
    <span v-if=" submitted && !$v.menu.price.required" class="error-field">Please Enter Price</span>
    <span v-if=" submitted && !$v.menu.price.numeric" class="error-field">Please Enter NUmeric Value</span>
  </div>
    </div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="ingredient">Ingredient</label>
    <textarea type="text" class="form-control" v-model="menu.ingredient" name="ingredient" id="ingredient_id" placeholder="Ingredient"></textarea> 
    <span v-if=" submitted && !$v.menu.ingredient.required" class="error-field">Please Enter Ingredients</span>
   </div>  
<!--     <div class="form-group col-md-6">
    <label for="quantity"> quantity</label>
    <input type="text" class="form-control" v-model="menu.quantity" 
    name="quantity" id="quantity_id" placeholder="quantity">
  <span v-if=" submitted && !$v.menu.quantity.required" class="error-field">Please Enter Quantity</span>
  <span v-if=" submitted && !$v.menu.quantity.numeric" class="error-field">Please Enter Numeric values </span>
  </div> -->
    <div class="class=form-group col-md-6 ">
    <label for="quantity"> Recomended</label>
    <input type="checkbox" class="form-control" value="1" v-model="menu.recomended" 
    name="recomended" id="recomended_id" placeholder="quantity">
    <label for="recomended_id"> Recomended</label>
  </div>  
      <div class="form-group col-md-6 check_boxes">
    <input type="checkbox"  @change="showStock" class="" value="1" 
    v-model="menu.manage_stock" 
    name="stock" id="stock_id" placeholder="stock">
    <label for="stock"> Manage stock</label>
  </div>  
<div class="form-group col-md-6 "  v-if="show_stock==1">
    <label for="price_id">Stock quantity</label>  
    <input type="text" class="form-control"  
    v-model="menu.stock_quantity" name="stock_quantity" 
    id="price_id" placeholder="Stock quantity">
  <span v-if=" submitted && !$v.menu.stock_quantity.numeric" 
  class="error-field">Please Enter Numeric values </span>
</div>
</div>
<div class="form-row">
  <div class="col-md-12">
  <button  class="btn btn-primary">Create</button>
</div>
 </div>
</form>
</div> 
</template>
<script>

import axios from 'axios';
import { required , numeric  } from 'vuelidate/lib/validators';
export default 
{
data() 
  {
    return {
      show_stock:0,
      noimg:false,
      noformat:false,
      restaurants: [],
      categories:[],
      errors: [],
      subcategories:[],    
      menu:{
         restaurant:"",
         category:'',
         subcategory:"",
         title:"",
         service:"",
         description:"",
         calory:"",
         price:"",
         ingredient:"",
         quantity:"",
        recomended:"",
        manage_stock:0

      },
         submitted:false
    }

  },
  validations:
  {
   menu:
   {
     category:{ required },
     title:{ required },
     service:{ required },
     description:{  required },
     calory:{ required , numeric },
     price:{ required , numeric  },
     ingredient:{ required},
     quantity: { required , numeric },
     stock_quantity:{numeric}
   }

  },
  mounted()
  {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}
    var token=localStorage.getItem('token');
    axios.get('/api/getRestaurant',{headers}).then(response => 
    {
     if(response.data.status=='auth_fail')
      {
        this.$router.push('/restaurant/login');
      }
      const { data }  = response.data;
       this.restaurants = response.data.data[0];
     
                axios.get('/api/getRestaurantCategory/',{headers})
                .then(response => 
                  {
            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }
                    const { category } = response.data;
                    this.categories= response.data.data;
                    console.log(this.categories); 
                  })
                  .catch(e => {
                    this.errors.push(e)
                  })


    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods:
  {
     showStock()
     {
        if(this.menu.manage_stock==1)
        {
          this.show_stock=1;

           }
        else
        {
          this.show_stock=0;
        }

     },
    submit()
    {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};      
        this.submitted=true;
        this.$v.$touch();
       let file= this.$refs.file.files[0];
if(this.$v.$invalid)
        {

          if(!file) 
          {
         this.noimg=true;
         
          }
       else
        {
        this.noimg=false;
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
          }

        }
         return ;
       }       
       
        if(!file) 
          {
         this.noimg=true;
           return;
          }
       else
        {
        this.noimg=false;
         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
            return ;
          }

        }
       let form = document.forms.namedItem("restaurant-menu");
       let formdata= new FormData(form);
       axios.post('/api/createRestaurantMenu',formdata).then( 
         response=>
         {  
            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }

           if(response.data.status=='success')
           {
            var router=this.$router;
                  router.push('/restaurant/menu');
this.flashMessage.success({title: 'Success', message: 'Menu created successfully'});
           }
           else
           {
             if(response.data.status=='validErr')
             {
           if(response.data.data.title)
           {
this.flashMessage.success({title: 'error', message: response.data.data.title[0]});

           }
           if(response.data.data.category)
           {
this.flashMessage.success({title: 'error', message: response.data.data.category[0]});
           }
             }
           }

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
    },
   getSubcategory()
   {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}     
axios.get('/api/getRestaurantSubcategory/'+event.target.value).then(response => 
    {
            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }

       const { subcategory } = response.data;
       this.subcategories= response.data.data;

    })
    .catch(e => {
      this.errors.push(e)
    })
   },
  }  
}
</script>