<template>
    <div class="page_wrap">
              <div class="page-title">
            <h2>Menus</h2>
        </div>
        <div class="restaurent_filter">
        <button class="button button_md button-color-o" @click="add">Add</button>
            <data-table
                :columns="columns"
                    :data="data"
               @on-table-props-changed="reloadTable"
                :headers="header" class="pagination-links"

                >

            </data-table>
        </div>
      
    </div>
</template>

<script>
import axios from 'axios';
import actions from '../../components/actions.vue';
export default {
 data() {
   var headers = { 
  "Authorization":'Bearer ' + localStorage.getItem("token")
};
  return {
    isReload:true,  
    menus: {},
      data:{},

      url:"/api/allRestaurantMenu",
    tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },
    errors: [],
          columns: [
                {
                    label: 'Name',
                    name: 'title',
                    orderable: true,
                },
                {
                    label: 'Price',
                    name: 'price',
                    orderable: true,
                },
                {
                    label: 'Calories',
                    name: 'calories',
                    orderable: true,
                },
                {
                label: 'Action',
                name: 'Action',
                event: "click",
                component: actions, 
              handler: this.action,
            },
            ],
            header:headers,
}
},
  beforeCreate() 
  {

if(localStorage.getItem('token'))
  {
if(localStorage.getItem('user')=='customer')
{
  localStorage.setItem('user','');
  localStorage.setItem('token','');
  this.$Router.push('/restaurant/login');
}

   }
 },
mounted() 
{
},
created() {
        this.getData(this.url);
    },
methods:{

   getData(url = this.url, options = this.tableProps) {
   let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")};
                axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                localStorage.setItem('token','');
                 this.$router.push('/restaurant/login');
               }
                this.data = response.data;
            })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },
        action(data,type) {

           if(type=='update')
           {
             this.$router.push('/restaurant/menu/edit/'+data.slug);
           }
           if(type=='delete')
           {
             this.deleteMenu(data.id, data.thumbnail_pic); 
           }

        },
  add()
  {
    this.$router.push('/restaurant/menu/create');
  },
  deleteMenu(id,image)
  {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}    
      let formdata = new FormData();
      formdata.append('id',id);
      formdata.append('image',image);
      let length=this.menus.length;
      let res= this.menus;

      axios({method:'post',
       url:'/api/deleteRestaurantMenu',
       'headers':headers,
       data:formdata

   }).then(response => 
   {
            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }
      const { data }  = response.data;
       this.getData(this.url);



})
   .catch(e => {
      this.errors.push(e)
  })
}
}
}
</script>