<template>
<div>

  <div class="page-title">
    <h2>Edit Menu</h2>
  </div>
<form name="restaurant-menu"  @submit.prevent="submit" class="create-category">
    <div class="form-row">

  <div class="form-group col-md-6">
    <label for="name">Category</label>
    <select class="form-control" name="category"  v-on:change="getSubcategory">
    <option value="">Category</option>  
    <option v-for="category in categories" :key="category.id" :selected="menu.category_id == category.id" 
      v-bind:value="category.id">{{category.parent_title }}</option>
    </select>

  </div>
  <div class="form-group col-md-6">
    <label for="name">SubCategory</label>
    <select class="form-control" name="subcategory" >
    <option value="">SubCategory</option>  
    <option v-for="subcategory in subcategories" :key="subcategory.id" :selected="menu.subcategory_id==subcategory.id" v-bind:value="subcategory.id">{{ subcategory.title }}</option>
    </select>  

    </div>  
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="contact"> Title</label>
    <input type="text" class="form-control" v-model="menu.title" name="title" id="title_id" placeholder="Title">
    <span v-if=" submitted &&!$v.menu.title.required" class="error-field">Please Enter Title</span>
  </div> 
  <div class="form-group col-md-6">
    <label for="role"> Thumbnail</label>
    <div class="add-thumnail-img">
       <input type="file" ref='file' class="form-control" name="thumbnail" id="thumbnail_id" placeholder="">
       <input type="hidden"  name="thumb_name" v-bind:value="menu.thumbnail_pic">
    <span v-if="noformat">Image should be in jpg, jpeg, png ,tff format</span>
    </div>
      <div class="edit-thumnail-img">
         <img v-show="isLoaded" @load="onImgLoad" v-bind:src="'/images/Restaurant-Menus/' + menu.thumbnail_pic" style="width:42px; height:42px;object-fit: contain;">
      </div>
  </div>

</div>
    <div class="form-row">
        <div class="form-group col-md-6">
             <label for="service"> Service Type</label>
            <input type="text" class="form-control" v-model="menu.services_type" name="service" id="service_id" placeholder="Service Type">
            <span v-if=" submitted && !$v.menu.services_type.required" class="error-field">Please Enter Service</span>
         </div>
         <div class="form-group col-md-6">
            <label for="gender">Description</label>
            <textarea class="form-control" v-model="menu.description" name="description" id="description_id" placeholder="description"> </textarea>
            <span v-if=" submitted && !$v.menu.description.required" class="error-field">Please Enter Description</span>
        </div>
    </div>     
    <div class="form-row">
  
       <div class="form-group col-md-6">
          <label for="calories">Calories</label>
         <input type="text" class="form-control" v-model="menu.calories" name="calories" id="calory_id" placeholder="Calories">
          <span v-if=" submitted && !$v.menu.calories.required" class="error-field">Please Enter Calories</span>
          <span v-if=" submitted && !$v.menu.calories.numeric" class="error-field">Please Enter Numeric Value</span>
        </div>
        <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input type="text" class="form-control" v-model="menu.price" name="price" id="price_id" placeholder="Price">
            <span v-if=" submitted && !$v.menu.price.required" class="error-field">Please Enter Price</span>
            <span v-if=" submitted && !$v.menu.price.numeric" class="error-field">Please Enter Numeric Value</span>
         </div>
    </div>
    <div class="form-row">

     <div class="form-group col-md-6">
         <label for="ingredient">Ingredient</label>
         <textarea type="text" class="form-control" v-model="menu.Ingredients" name="ingredient" id="ingredient_id" placeholder="Ingredient"></textarea>
    </div>  
 <!--  <div class="form-group col-md-6">
    <label for="quantity"> quantity</label>
    <input type="text" class="form-control" v-model="menu.quantity" name="quantity" id="quantity_id" placeholder="quantity">
    <span v-if=" submitted && !$v.menu.quantity.required" class="error-field">Please Enter Quantity</span>
  <span v-if=" submitted && !$v.menu.quantity.numeric" class="error-field">Please Enter Numeric values </span>
  </div> -->
 </div>

  <div class="form-group col-md-6">
    <input type="checkbox" class="form-control" value="1" v-model="menu.recomended" 
    name="recomended" id="recomended_id" placeholder="quantity">
    <label for="recomended_id"> Recomended</label>
  </div>  
  <div class="form-group col-md-6">
    <input type="checkbox" class="form-control" @change="showStock"  value="1" v-model="menu.manage_stock" 
    name="stock" id="stock_id" placeholder="stock">
     <label for="stock_id"> Manage stock</label>
  </div>  
<div class="form-group col-md-6 "  v-if="show_stock==1">
    <label for="quantity">Stock quantity</label>  
    <input type="text" class="form-control"  
    v-model="menu.stock_quantity" name="stock_quantity" 
    id="price_id" placeholder="Stock quantity">
  <!-- <span v-if=" submitted && !$v.menu.stock_quantity.numeric" 
  class="error-field">Please Enter Numeric values </span> -->
</div>
  </div>  
     <div class="form-row">
  


 </div>
<div class="form-row">
  <div class="col-md-12">
         <input type="hidden" name="slug" v-model="menu.slug">
         <input type="hidden" name="id" v-model="menu.id"> 
         <button  class="btn btn-primary">Update</button>
  </div>

</div>
</form>
   

</div> 
</template>
<script>

import axios from 'axios';
import { required , numeric  } from 'vuelidate/lib/validators';


export default 
{
data() {

    return {
      show_stock:0,
     
      restaurants: [],
      categories:[],
      noformat:false,
      isLoaded:false,
      errors: [],
      subcategories:[],
      menu:{
         category_id:"",
         subcategory_id:"",
         title:"",
         services_type:"",
         thumbnail_pic:"",
         description:"",
         calories:"",
         price:"",
         Ingredients:"",
         quantity:"",
         recomended:'',
         id:"",
         manage_stock:0
      },
         submitted:false
    }
  },
  
  validations:
  {
   menu:
   {
     title:{ required },
     services_type:{ required },
     description:{  required },
     calories:{ required , numeric },
     price:{ required , numeric  },
     Ingredients:{ required},
     quantity: { required , numeric }
   }
  },
  

  mounted()
  {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}
    var token=localStorage.getItem('token');
    axios.get('/api/editRestaurantMenu/'+this.$route.params.slug ,{headers}).then(response => 
    {
    let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}
      if(response.data.status=='auth_fail')
      {
        this.$route.push('/restaurant/login');
      }
      const { data }  = response.data;
      this.menu = data[0];
      this.show_stock=this.menu.manage_stock;
        axios.get('/api/getRestaurantCategory/',{headers}).then(response => 
                {
                  const { data }  = response.data;
                  this.categories = response.data.data;
                    axios.get('/api/getRestaurantSubcategory/'+this.menu.category_id,{headers}).then(response =>
                    {
                        console.log(response);
                        const { subcategory } = response.data;
                        this.subcategories= response.data.data;
                      })
                      .catch(e => {
                        this.errors.push(e)
                      })

                })
                .catch(e => {
                  this.errors.push(e)
                })
    })
    .catch(e => {
      this.errors.push(e)
    })

   

  }
  ,
  methods:
  {
     onImgLoad()
    {

     this.isLoaded = true;
    },
         showStock()
     {
        if(this.menu.manage_stock==1)
        {
          this.show_stock=1;

           }
        else
        {
          this.show_stock=0;
        }

     },

    submit()
    {
        this.submitted=true;
        this.$v.$touch();
      let file= this.$refs.file.files[0];
      if(this.$v.$invalid)
        {
          if(file)
          {

         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
          }
          else
          {
            this.noformat=false;            
          }
          }

          return;
        }
          if(file)
          {

         let formats=['image/jpeg','image/jpg','image/png','image/webp','image/tiff'];
          if(!formats.includes(file['type']))
          {
            this.noformat=true;
                      return;
          }
          else
          {
            this.noformat=false;            
          }

          }

       let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}
       let form = document.forms.namedItem("restaurant-menu");
       let formdata= new FormData(form);
      
       axios.post('/api/updateRestaurantMenu',formdata).then( 
         response=>
         {
            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }

           if(response.data.status=='success')
           {

var router=this.$router;
this.flashMessage.success({title: 'Success', message: 'Menu updated successfully'});;

                  router.push('/restaurant/menu');

          

           }
           else
           {
           
           if(response.data.data.title)
           {
this.flashMessage.warning({title: 'Error', message: title[0]});

           }

           }
         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
    },
   getSubcategory()
   {
            let headers = { "Authorization":'Bearer ' + localStorage.getItem("token")}
axios.get('/api/getRestaurantSubcategory/'+event.target.value,{headers}).then(response => 
    {
            if(response.data.status=='auth_fail')
             {
               this.$route.push('/restaurant/login');
             }
       const { subcategory } = response.data;
       this.subcategories= response.data.data;
    })
    .catch(e => {
      this.errors.push(e)
    })
   }  
  }  
}
</script>