<template>
<div class="resgister-customer">
  
<form name="customers"  @submit.prevent="submit" class="create-category">
  <div class="page-title form-row">
    <div class="col-md-12"><h2>Sign up</h2></div> 
  </div>
    <div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">First Name</label>
    <input type="text" class="form-control" v-model="client.first_name" 
    name="first_name" id="first_name_id" placeholder="First Name">
    <span v-if=" submitted && !$v.client.first_name.required" class="error-field">Please Enter Name</span>
  </div>
  <div class="form-group col-md-6">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" v-model=" client.last_name" name="last_name" id="last_name_id" placeholder="Last Name">
  </div>
 </div>
<div class="form-row">
<div class="form-group col-md-6">
    <label for="email">Email Id</label>
    <input type="text" class="form-control" v-model=" client.email" name="email" id="email_id" placeholder="Email">
    <span v-if=" submitted && !$v.client.email.required" class="error-field">Please enter email</span>
   <span v-if=" submitted && !$v.client.email.email" class="error-field">Please  enter valid email address</span>
</div> 
<div class="form-group col-md-6">
    <label for="contact"> Contact Number</label>
    <input type="text" class="form-control" v-model=" client.contact_number" name="contact" id="contact_id" placeholder="Contact Number">
    <span v-if=" submitted && !$v.client.contact_number.required" class="error-field">Please Enter Contact Number</span>
  </div> 
</div>

  <div class="form-row">  
  
  <div class="form-group col-md-6">
    <label for="gender"> Gender</label>
<select name="gender" class="form-control" v-model=" client.gender">
 <option value="M">Male</option>
 <option value="F">Female</option> 
<option value="O">Other</option>
</select>
    <span v-if=" submitted && !$v.client.gender.required" class="error-field">Please Select Gender</span>
  </div>
  <div class="form-group col-md-6">
    <label for="password"> Password</label>
    <input type="password" class="form-control" v-model=" client.password" name="password" id="password_id" placeholder="Password">
    <span v-if=" submitted && !$v.client.password.required" class="error-field">Please Enter password</span>
  </div>
</div>
  <div class="form-row">
  
  <div class="form-group col-md-6">
    <label for="password">Confirm Password</label>
    <input type="password" class="form-control" v-model=" client.confirm_password" 
    name="password_confirmation" id="password_id" placeholder="Password">
      <span v-if=" submitted && !$v.client.confirm_password.required" class="error-field">Please Re-enter password</span>
  </div> 
  <div class="form-group col-md-6">
    <label for="country">Country</label>
    <input type="text" class="form-control" v-model=" client.country" name="country" id="country_id" placeholder="Country">
      <span v-if=" submitted && !$v.client.country.alpha" class="error-field">Only alphabet allowed</span>
  </div>   
    </div>     
    <div class="form-row">
  <div class="form-group col-md-6">
    <label for="city"> City</label>
    <input type="text" class="form-control" v-model=" client.city" name="city" id="city_id" placeholder="City">
      <span v-if=" submitted && !$v.client.city.alpha" class="error-field">Only alphabet allowed</span>
  </div>
  <div class="form-group col-md-6">
    <label for="state">State</label>
    <input type="text" class="form-control" v-model=" client.state" name="state" id="state_id" placeholder="State">
      <span v-if=" submitted && !$v.client.state.alpha" class="error-field">Only alphabet allowed</span>
  </div>  
 </div>
     <div class="form-row">
  <div class="form-group col-md-6">
    <label for="street"> Street</label>
    <input type="text" class="form-control" v-model=" client.street" name="street" id="street_id" placeholder="street">
  </div>
  <div class="form-group col-md-6">
    <label for="state">zip</label>
    <input type="text" class="form-control" v-model=" client.zip" name="zip" id="zip_id" placeholder="Zip">

  </div>  
 </div>
     <div class="form-row">
        <div class="col-md-12">
          <button  class="btn btn-primary">Submit</button>
        </div>
     </div>
</form> 
<Toasts
  :show-progress="true"
  :rtl="false"
  :max-messages="10"
  :time-out="10000"
  :closeable="true"
></Toasts>   
</div> 
</template>
<script>

import axios from 'axios';
import { required , numeric, email, alpha  } from 'vuelidate/lib/validators';
export default 
{
data() {
return {
restaurants: [],
      errors: [],
 client:{

         first_name:"",
         email:"",
         contact_number:"",
         password:"",
         confirm_password:'',
         gender:"",
         zip:'',
         country:'',
         city:'',
         state:'',
         street:''

      },
             submitted:false        
    }
  },
   validations:
  {
   client:
   {
      first_name:{ required },
     email: { required , email},
     contact_number:{ required },
     password:{ required },
     confirm_password:{  required },
     gender:{ required },
     country:{alpha},
     city:{ alpha},
     state:{alpha}


   }

  }, 
  methods:
  {
    submit()
    {
              this.submitted=true;
        this.$v.$touch();
        if(this.$v.$invalid)
        {
         return ;
        }
       let form = document.forms.namedItem("customers");

       let formdata= new FormData(form);
        
       axios.post('/api/createCustomer',formdata).then( 
         response=>
         {

            if(response.data.status=='validErr')
            {
             if(response.data.domain=='not_found')
             {
            this.$toast.warning(response.data.msg);
             } 
           if(response.data.data.first_name)
            {
            this.$toast.warning(response.data.data.first_name[0]);
            }
            
            
           if(response.data.data.email)
            {
            this.$toast.warning(response.data.data.email[0]);
            }
            
            
           if(response.data.data.password)
            {
            this.$toast.warning(response.data.data.password[0]);
            }
            
            
           if(response.data.data.contact)
            {
            this.$toast.warning(response.data.data.contact[0]);
            }
            
            
           if(response.data.data.gender)
            {
            this.$toast.warning(response.data.data.gender[0]);
            }

            }



             if(response.data.status=='success')
            {
            this.$router.push('/');
            }
            


            const{ data }=response.data;     

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    }
  }  
}
</script>