<template>
  <div>
    <div class="page_wrap">
              <div class="page-title">
            <h2>Clients</h2>
        </div>
        <div class="restaurent_filter">
            <data-table
               v-if="isReload"
                :columns="columns"
                :data="data"
               @on-table-props-changed="reloadTable"                
              
                :headers="header">
            </data-table>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios';
const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
export default {
 data() {
    return {
          isReload:true,  
     customers:{},
     allcustomer:[],
      data:{},
      url:"/api/allCustomer",
          tableProps: {
                search: '',
                length: 10,
                column: 'id',
                dir: 'asc'
            },     
      errors: [],
                columns: [
                {
                    label: 'Name',
                    name: 'first_name',
                    orderable: true,

                },
                {
                    label: 'Email',
                    name: 'email',
                    orderable: true,
                },
                {
                    label: 'Contact Number',
                    name: 'contact_number',
                    orderable: true,
                },
                
            ],
            header:headers,
    }
  },
  mounted() 
      {

  },
 created() {
        this.getData(this.url);
    }, 
 methods:{
   getData(url = this.url, options = this.tableProps) {
            axios.get(url, {
                params: options
            })
            .then(response => {
              if(response.data.status=='auth_fail')
              {
                 this.$router.push('/restaurant/login');
               }
                this.data = response.data;
            })

            .catch(errors => {

            })
        },
        reloadTable(tableProps) {
        this.getData(this.url, tableProps);
        },
action(data,type) {

           if(type=='update')
           {

             this.$router.push('/restaurant/client/edit/'+data.slug);
           }
           if(type=='delete')
           {
             this.delete(data.id); 
           }

        },
  add()
  {
    this.$router.push('/restaurant/client/create');
  },
     deleteClient(id)
     {

        var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
     let formdata= new FormData();
     formdata.append('uuid',id);

     axios({method:'post',
           url:'/api/deleteClient',
          'headers':headers,
          data:formdata

          }).then(response => 
    {
       let length=this.customers.length;
      let res= this.customers.data;

    })
    .catch(e => {
      this.errors.push(e)
    })

     }
 }
}
</script>