<template>
<form name="customers"  @submit.prevent="submit" class="create-category">
    <div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">First Name</label>
    <input type="text" class="form-control" name="first_name"v-model="customer.first_name" id="first_name_id" placeholder="First Name">
  </div>
  <div class="form-group col-md-6">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control"v-model="customer.last_name" name="last_name" id="last_name_id" placeholder="Last Name">
  </div>
  <div class="form-group col-md-6">
    <label for="email">Email Id</label>
    <input type="text" class="form-control"v-model="customer.email" name="email" id="email_id" placeholder="Email">
  </div>  
 </div>
  <div class="form-row">  
  <div class="form-group col-md-6">
    <label for="contact"> Contact Number</label>
    <input type="text" class="form-control"v-model="customer.contact_number" name="contact" id="contact_id" placeholder="Contact Number">
  </div> 
  <div class="form-group col-md-6">
    <label for="gender"> Gender</label>
<select name="gender" class="form-control" :selected="customer.gender">
 <option value="M">Male</option>
 <option value="F">Female</option> 
<option value="O">Other</option>
</select>
  </div>
</div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="password"> Password</label>
    <input type="password" class="form-control" name="password" id="password_id" placeholder="Password">
  </div>
    
    </div>     
    <div class="form-row">
      <div class="form-group col-md-6">
    <label for="country">Country</label>
    <input type="text" class="form-control"v-model="customer.country" name="country" id="country_id" placeholder="Country">
  </div>
    </div>
    <div class="form-row">
  <div class="form-group col-md-6">
    <label for="city"> City</label>
    <input type="text" class="form-control"v-model="customer.city" name="city" id="city_id" placeholder="City">
  </div>
  <div class="form-group col-md-6">
    <label for="state">State</label>
    <input type="text" class="form-control" v-model="customer.state" name="state" id="state_id" placeholder="State">
  </div>  
 </div>
     <div class="form-row">
  <div class="form-group col-md-6">
    <label for="street"> Street</label>
    <input type="text" class="form-control" v-model="customer.street" name="street" id="street_id" placeholder="street">
  </div>
  <div class="form-group col-md-6">
    <label for="state">zip</label>
    <input type="text" class="form-control" v-model="customer.zip" name="zip" id="zip_id" placeholder="Zip">
  </div>  
 </div>
     <div class="form-row">
        <div class="col-md-12">
          <input type="hidden" name="slug" v-model="customer.uuid">
          <button  class="btn btn-primary">Update</button>
        </div>
         
     </div>
</form>  
</template>
<script>
    var token=localStorage.getItem('token');

        const headers = { 
                            "Authorization":'Bearer ' + localStorage.getItem("token")
                        }
import axios from 'axios';
export default 
{
data() {
return {
restaurants: [],
      errors: [],
  customer:{}    
    }
  },
  mounted()
  {
        
       axios.get('/api/editCustomer/'+this.$route.params.slug,{headers}).then( 
         response=>
         {

            const{ data }=response.data;  

            this.customer=data[0];

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
  },
  methods:
  {
    submit()
    {
       let form = document.forms.namedItem("customers");

       let formdata= new FormData(form);
        
     
        axios({method:'post',
           url:'/api/updateCustomer',
          'headers':headers,
           data:formdata

          }).then( 
         response=>
         {
            const{ data }=response.data;  
            this.$router.push('/customer/all');

         }).catch(
         error=>
         {
            this.errors.push(error);
         });
    
    }
  }  
}
</script>