.front_header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
    nav.navbar {
        padding: 0;
        @media only screen and (max-width: 991px) {
            .navbar-toggler {
                border: 2px solid;
                width: 40px;
                height: 40px;
                padding: 1px 0px;
                border-color: #7f7f7f;
                border-radius: 50px;
                .navbar-toggler-icon {
                    width: 26px;
                }
            }
        }
        .navbar-collapse {
            .custom_header_search {
                margin-left: 50px;
                flex: 100%;
                @media only screen and (max-width: 1024px) {
                    margin-left: 0;
                    border: 1px solid #ccc;
                    padding: 6px 8px;
                    border-radius: 50px;
                }
                .dish {
                    width: 100%;
                    position: relative;
                    padding-left: 25px;
                    @media only screen and (max-width: 1024px) {
                        padding-left: 18px;
                    }
                    i {
                        color: #a9a9a9;
                        position: absolute;
                        top: 5px;
                        left: 0;
                        @media only screen and (max-width: 1024px) {
                            font-size: 14px;
                        }
                    }
                    input {
                        width: 100%;
                        border: none;
                        padding: 0;
                        font-size: 14px;
                        @media only screen and (max-width: 1024px) {
                            font-size: 13px;
                        }
                        &:focus {
                            outline: none;
                            box-shadow: none !important;
                        }
                    }
                }
            }
        }
        &.bg-light {
            background-color: #fff !important;
        }
        .navbar-nav {
            @media only screen and (max-width: 1024px) {
                display: block;
            }
            .nav-item {
                margin-left: 15px;
                @media only screen and (max-width: 1024px) {
                    margin-left: 0;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}
